{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block breadcrumbs %}
  {{ govukBackLink({
    text: 'Back',
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-body">
    {{ govukPanel({
      titleText: pageTitle,
      html: "Your reference number is <br><strong>" + referenceCode + "</strong>"
    }) }}

    <a class="govuk-link" href="{{ forwardLink }}">View notifications report</a>
  </div>
{% endblock %}
