{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% set rootLink = "/system/return-requirements/" + id %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink + "/points"
    })
  }}
{% endblock %}

{% if error.fromResult %}
    {% set fromResultErrorClass = " govuk-input--error" %}
  {% else %}
    {% set fromResultErrorClass = "" %}
{% endif %}

{% if error.toResult %}
    {% set toResultErrorClass = " govuk-input--error" %}
  {% else %}
    {% set toResultErrorClass = "" %}
{% endif %}

{% block content %}
{# Error summary #}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text:error.text.fromResult,
          href: "#abstraction-period-from"
        },
        {
          text:error.text.toResult,
          href: "#abstraction-period-to"
        }
      ]
    }) }}
  {%endif%}

  {# Main heading #}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
  </div>

  <form method="post">
    {# From #}
    {{ govukDateInput({
      id: "abstraction-period-from",
      namePrefix: "fromAbstractionPeriod",
      errorMessage: {
        text: error.text.fromResult
      },
      fieldset: {
        legend: {
          text: "From",
          classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2" + fromResultErrorClass
        },
        {
          name: "month",
          classes: "govuk-input--width-2" + fromResultErrorClass
        }
      ]
    }) }}

    {# To #}
    {{ govukDateInput({
      id: "abstraction-period-to",
      namePrefix: "toAbstractionPeriod",
      errorMessage: {
        text: error.text.toResult
      },
      fieldset: {
        legend: {
          text: "To",
          classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2" + toResultErrorClass
        },
        {
          name: "month",
          classes: "govuk-input--width-2" + toResultErrorClass
        }
      ]
    }) }}

    <div class="govuk-body">
      {{ govukButton({ text: "Continue" }) }}
    </div>
  </form>
{% endblock %}
