{% extends 'layout.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  {{ govukPanel({
    titleText: pageTitle,
    classes: "govuk-!-margin-bottom-4"
  }) }}

  <h2 class="govuk-heading-m">What happens next</h2>
  <p class="govuk-body">These return requirements are now active and returns will be opened for this licence in the next returns cycle.</p>
  <p class="govuk-body">
    {% if featureFlags.enableSystemLicenceView %}
      <a class="govuk-link" href="/system/licences/{{ licenceId }}/set-up">Return to licence set up</a>
    {% else %}
      <a class="govuk-link" href="/licences/{{ licenceId }}#charge">Return to licence set up</a>
    {% endif %}
  </p>
{% endblock %}
