{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set rootLink = "/system/return-requirements/" + id %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink + "/check-your-answers"
    })
  }}
{% endblock %}

{# Main heading #}
{% block content %}
<div class="govuk-body">
  <span class="govuk-caption-l"> Licence {{ licenceRef }} </span>
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
</div>
{% endblock %}
