{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set baseURL = "/system/return-requirements/" + id %}

{% set reasonText %}
  {% if reason == 'abstraction-below-100-cubic-metres-per-day' %}
    Abstraction amount below 100 cubic metres per day
  {% elif reason == 'returns-exception' %}
    Returns exception
  {% elif reason == 'transfer-licence' %}
    Transfer licence
  {% elif reason == 'change-to-special-agreement' %}
    Change to special agreement
  {% elif reason == 'name-or-address-change' %}
    Licence holder name or address change
  {% elif reason == 'transfer-and-now-chargeable' %}
    Licence transferred and now chargeable
  {% elif reason == 'extension-of-licence-validity' %}
    Limited extension of licence validity (LEV)
  {% elif reason == 'major-change' %}
    Major change
  {% elif reason == 'minor-change' %}
    Minor change
  {% elif reason == 'new-licence-in-part-succession-or-licence-apportionment' %}
    New licence in part succession or licence apportionment
  {% elif reason == 'new-licence' %}
    New licence
  {% elif reason == 'new-special-agreement' %}
    New special agreement
  {% elif reason == 'succession-or-transfer-of-licence' %}
    Succession or transfer of licence
  {% elif reason == 'succession-to-remainder-licence-or-licence-apportionment' %}
    Succession to remainder licence or licence apportionment
  {% endif %}
{% endset %}

{% block content %}
  {# Main heading #}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <span class="govuk-caption-l">Licence {{ licenceRef }}</span>  
      {{ pageTitle }}
    </h1>
  </div>

  <form method="post">
    <div class="govuk-!-margin-bottom-9">
      <hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">
      {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-2',
          rows: [
            {
              classes: 'govuk-summary-list govuk-summary-list__row--no-border',
              key: {
                text: "Start date"
              },
              value: {
                text: startDate
              },
              actions: {
                items: [
                  {
                    href: baseURL + "/start-date",
                    text: "Change",
                    visuallyHiddenText: "the start date for the return requirement"
                  }
                ]
              }
            },
            {
              classes: 'govuk-summary-list govuk-summary-list__row--no-border',
              key: {
                text: "Reason"
              },
              value: {
                text: reasonText
              },
              actions: {
                items: [
                  {
                    href: baseURL + "/no-returns-required",
                    text: "Change",
                    visuallyHiddenText: "the reason for the return requirement"
                  }
                ]
              }
            }
          ]
        }) }}
      <hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">
    </div>

    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-4" >Notes</h2>
      <hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">
      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-2',
        rows: [
          {
            classes: 'govuk-summary-list govuk-summary-list__row--no-border',
            key: {
              text: userEmail if note else "No notes added",
              classes: "govuk-body govuk-!-font-weight-regular"
            },
            value: {
              text: note | escape | nl2br
            },
            actions: {
              items: [
                {
                  href: "add-note",
                  text: "Change" if note else "Add a note"
                }
              ]
            }
          }
        ]
      }) }}
      <hr class="govuk-section-break  govuk-!-margin-bottom-2 govuk-section-break--visible">
    </div>

    <div class="govuk-body">
      {% if journey == 'no-returns-required' %}
        <h3 class="govuk-heading-m">Returns are not required for this licence</h3>
        <hr class="govuk-!-margin-bottom-5 govuk-section-break--s govuk-section-break--visible">
      {% endif %}
      {{ govukButton({
        text: "Approve returns requirements",
        classes: "govuk-!-margin-right-6"
        }) }}

      {{ govukButton({
        text: "Cancel return requirements",
        classes: "govuk-button--secondary",
        href: "#"
        }) }}
    </div>
  </form>
{% endblock %}
