{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set rootLink = "/system/return-requirements/" + id %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink + "/site-description"
    })
  }}
{% endblock %}

{% block content %}

{# Error summary #}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Select how often readings or volumes are collected",
          href: "#frequencyCollected"
        }
      ]
    }) }}
  {%endif%}

  {# Main heading #}
  <div class="govuk-body">
    <span class="govuk-caption-l"> Licence {{ licenceRef }} </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
  </div>

  <form method="post">
    {{ govukRadios({
      name: "frequencyCollected",
      errorMessage: error,
      items: [
        {
          value: "daily",
          text: "Daily",
          checked: "daily" in frequencyCollected
        },
        {
          value: "weekly",
          text: "Weekly",
          checked: "weekly" in frequencyCollected
        },
        {
          value: "monthly",
          text: "Monthly",
          checked: "monthly" in frequencyCollected
        }
      ]
  }) }}

    <div class="govuk-body">
      {{ govukButton({ text: "Continue" }) }}
    </div>
  </form>
{% endblock %}
