{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set title = "Why are no returns required?" %}
{% set rootLink = "/system/return-requirements/" + id %}
{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink
    })
  }}
{% endblock %}

{% block content %}
  {% if errorMessage %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: errorMessage.text,
          href: "#reasonNewRequirements-error"
        }
        ]
      }) }}
  {% endif %}

  <form method="post" class="form">
    {{ govukRadios({
        idPrefix: "reasonNewRequirements",
        name: "reasonNewRequirements",
        errorMessage: errorMessage,
        fieldset: {
          legend: {
            html: '<span class="govuk-caption-l">Licence ' + 'TODO: licence number' + '</span>' + title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
          }
        },
        items: radioItems
        }) }}

    <div class="govuk-body">
      {{ govukButton({ text: "Continue" }) }}
    </div>
  </form>

{% endblock %}
