{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set rootLink = "/system/licences/" + licenceId %}
{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink + "/select-return-start-date"
    })
  }}
{% endblock %}

{% block content %}
  {# Main heading #}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Check your answers</h1>
  </div>

  <form method="post">
    <div class="govuk-body">
      {{ govukButton({ text: "Approve returns requirements" }) }}
    </div>
  </form>

{% endblock %}
