{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: '/system/return-requirements/' + id + '/start-date'
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#reason-error"
        }
      ]
      }) }}
  {% endif %}

  <div class="govuk-body">
    <form method="post">
      {{ govukRadios({
        name: "reason",
        errorMessage: error,
        fieldset: {
          legend: {
            html: '<span class="govuk-caption-l">Licence ' + licenceRef + '</span>' + pageTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
          }
        },
        items: [
          {
            text: 'Change to special agreement',
            value: 'change-to-special-agreement',
            checked: false
          },
          {
            text: 'Licence holder name or address change',
            value: 'name-or-address-change',
            checked: false
          },
          {
            text: 'Licence transferred and now chargeable',
            value: 'transfer-and-now-chargeable',
            checked: false
          },
          {
            text: 'Limited extension of licence validity (LEV)',
            value: 'extension-of-licence-validity',
            checked: false
          },
          {
            text: 'Major change',
            value: 'major-change',
            checked: false
          },
          {
            text: 'Minor change',
            value: 'minor-change',
            checked: false
          },
          {
            text: 'New licence in part succession or licence apportionment',
            value: 'new-licence-in-part-succession-or-licence-apportionment',
            checked: false
          },
          {
            text: 'New licence',
            value: 'new-licence',
            checked: false
          },
          {
            text: 'New special agreement',
            value: 'new-special-agreement',
            checked: false
          },
          {
            text: 'Succession or transfer of licence',
            value: 'succession-or-transfer-of-licence',
            checked: false
          },
          {
            text: 'Succession to remainder licence or licence apportionment',
            value: 'succession-to-remainder-licence-or-licence-apportionment',
            checked: false
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
