{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set rootLink = "/system/return-requirements/" + id %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink + "/abstraction-period"
    })
  }}
{% endblock %}

{% block content %}

{# Error summary #}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "Select the returns cycle for the return requirement",
          href: "#returnsCycle"
        }
      ]
    }) }}
  {%endif%}

  {# Main heading #}
  <div class="govuk-body">
    <span class="govuk-caption-l"> Licence {{ licenceRef }} </span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
  </div>

  <form method="post">
    {{ govukRadios({
      name: "returnsCycle",
      errorMessage: error,
      items: [
        {
          value: "summer",
          text: "Summer"
        },
        {
          value: "winter-and-all-year",
          text: "Winter and all year"
        }
      ]
  }) }}

    <div class="govuk-body">
      {{ govukButton({ text: "Continue" }) }}
    </div>
  </form>
{% endblock %}
