{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set rootLink = "/licences/" + licenceId %}
{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'back',
      href: rootLink + "/how-do-you-want-to-return"
    })
  }}
{% endblock %}

{% block content %}
  {# Main heading #}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Check your answers</h1>
  </div>

  <div class="govuk-body">
    {{ govukButton({ text: "Approve returns requirements" }) }}
  </div>
{% endblock %}
