{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set rootLink = "/system/return-requirements/" + id %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink + '/reason'
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#setup-error"
        }
      ]
      }) }}
  {% endif %}

  <div class="govuk-body">
    <form method="post">
      {{ govukRadios({
        name: "setup",
        errorMessage: error,
        fieldset: {
          legend: {
            html: '<span class="govuk-caption-l">Licence ' + licenceRef + '</span>' + pageTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
          }
        },
        items: [
          {
            value: "use_abstraction_data",
            text: "Start by using abstraction data",
            checked: false
          },
          {
            value: "copy_an_existing_return_requirement",
            text: "Copy an existing return requirement",
            checked: false
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
