{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set rootLink = "/system/return-requirements/" + id %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink + "/returns-cycle"
    })
  }}
{% endblock %}

{% block content %}
{# TODO: If block for error message #}

  <div class="govuk-body">
    <form method="post">
      <span class="govuk-caption-l"> Licence {{ licenceRef }} </span>
      {{ govukInput({
        label: {
          text: pageTitle,
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "This is the description that will appear on the return"
        },
        id: "site-description",
        name: "siteDescription",
        errorMessage: error
      }) }}

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
{% endblock %}
