{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set rootLink = "/system/return-requirements/" + id %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: rootLink + "/returns-cycle"
    })
  }}
{% endblock %}

{% block content %}
<div>
  <span class="govuk-caption-l">  Licence </span>
  {{ govukInput({
    hint: {
      text: "Licence"
    },
    label: {
      text: pageTitle,
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "This is the description that will appear on the return"
    },
    id: "event-name",
    name: "eventName"
  }) }}
</div>


  <form method="post">
    <div class="govuk-body">
      {{ govukButton({ text: "Continue" }) }}
    </div>
  </form>
{% endblock %}
