{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro statusTag(status, inline=false) %}
  {% if status === 'ready' %}
    {% set color = "govuk-tag--blue" %}
  {% elif status === 'review' %}
    {% set color = "govuk-tag--blue" %}
  {% elif status === 'sent' %}
    {% set color = "govuk-tag--green" %}
  {% elif status === 'empty' %}
    {% set color = "govuk-tag--grey" %}
  {% elif status === 'cancel' %}
    {% set color = "govuk-tag--orange" %}
  {% elif status === 'cancelling' %}
    {% set color = "govuk-tag--orange" %}
  {% elif status === 'error' %}
    {% set color = "govuk-tag--red" %}
  {% else %}
    {% set color = "govuk-tag--blue" %}
  {% endif %}

  {% if inline %}
    {% set fontSize = "" %}
  {% else %}
    {% set fontSize = "govuk-!-font-size-27" %}
  {% endif %}

  {{
    govukTag({
      text: status,
      classes: color + ' ' + fontSize
    })
  }}
{% endmacro %}
