{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro statusTag(status, inline=false) %}
  {# Default the text to the status as that covers most tags #}
  {% set text = status %}

  {% if status === 'current' %}
    {% set color = "govuk-tag--green" %}
    {% set text = 'approved' %}
  {% elif status === 'superseded' %}
    {% set color = "govuk-tag--grey" %}
    {% set text = 'replaced' %}
  {% elif status === 'review' %}
    {% set color = "govuk-tag--orange" %}
  {% elif status === 'changes_requested' %}
    {% set color = "govuk-tag--blue" %}
    {% set text = 'change request' %}
  {% elif status === 'to_setup' %}
    {% set color = "govuk-tag--blue" %}
    {% set text = 'to set up' %}
  {% else %}
    {% set color = "govuk-tag--blue" %}
  {% endif %}

  {% if inline %}
    {% set fontSize = "" %}
  {% else %}
    {% set fontSize = "govuk-!-font-size-27" %}
  {% endif %}

  {{ govukTag({
    text: text,
    classes: color + ' ' + fontSize
  }) }}
{% endmacro %}
