{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro changeTypeTag(changeType, inline=false) %}
  {# Default the text to the type as that covers most tags #}
  {% set text = changeType %}

  {% if changeType === 'licence issued' %}
    {% set color = "govuk-tag--green" %}
  {% else %}
    {% set color = "govuk-tag--blue" %}
  {% endif %}

  {% if inline %}
    {% set additionalClasses = "" %}
  {% else %}
    {% set additionalClasses = "govuk-!-font-size-27 govuk-!-margin-bottom-4" %}
  {% endif %}

  {{ govukTag({
    text: text,
    classes: color + ' ' + additionalClasses
  }) }}
{% endmacro %}
