<!DOCTYPE html>
<html>
  <head>
    <style>
      {% include "includes/reset.css" %}
      {% include "includes/custom.css" %}
    </style>
  </head>
  <body class="paper">
  {% include 'pages/cover.njk' %}
  {% include 'pages/guidance.njk' %}
  {% include 'pages/initial-questions.njk' %}

  {% for entries in pageEntries %}
    {% set showHeading = loop.first %}
    {% include 'pages/data-collection.njk' %}
  {% endfor %}


  {% include 'pages/declaration.njk' %}
  </body>
</html>
