{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      classes: "govuk-input--width-30",
      id: "addressLine1",
      label: {
        text: "Address line 1"
      },
      name: "addressLine1",
      value: addressLine1,
      errorMessage: error.addressLine1
    }) }}

    {{ govukInput({
      classes: "govuk-input--width-30",
      id: "addressLine2",
      label: {
        text: "Address line 2 (optional)"
      },
      name: "addressLine2",
      value: addressLine2,
      errorMessage: error.addressLine2
    }) }}

    {{ govukInput({
      classes: "govuk-input--width-30",
      id: "addressLine3",
      label: {
        text: "Address line 3 (optional)"
      },
      name: "addressLine3",
      value: addressLine3,
      errorMessage: error.addressLine3
    }) }}

    {{ govukInput({
      classes: "govuk-input--width-30",
      id: "addressLine4",
      label: {
        text: "Address line 4 (optional)"
      },
      name: "addressLine4",
      value: addressLine4,
      errorMessage: error.addressLine4
    }) }}

    {{ govukInput({
      classes: "govuk-input--width-10",
      id: "postcode",
      label: {
        text: "Postal or zip code (optional)"
      },
      name: "postcode",
      value: postcode,
      errorMessage: error.postcode
    }) }}

    {{ govukSelect({
      id: "country",
      items: country,
      label: {
        text: "Country"
      },
      name: "country",
      errorMessage: error.country
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
