{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: error.errorList
    }) }}
  {%endif%}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">{{ pageTitle }}</h1>

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      label: {
        text: "Address line 1"
      },
      classes: "govuk-input--width-30",
      value: addressLine1,
      id: "addressLine1",
      name: "addressLine1",
      errorMessage: error.addressLine1
    }) }}

    {{ govukInput({
      label: {
        text: "Address line 2 (optional)"
      },
      classes: "govuk-input--width-30",
      value: addressLine2,
      id: "addressLine2",
      name: "addressLine2",
      errorMessage: error.addressLine2
    }) }}

    {{ govukInput({
      label: {
        text: "Address line 3 (optional)"
      },
      classes: "govuk-input--width-30",
      value: addressLine3,
      id: "addressLine3",
      name: "addressLine3",
      errorMessage: error.addressLine3
    }) }}

    {{ govukInput({
      label: {
        text: "Address line 4 (optional)"
      },
      classes: "govuk-input--width-30",
      value: addressLine4,
      id: "addressLine4",
      name: "addressLine4",
      errorMessage: error.addressLine4
    }) }}

    {{ govukInput({
      label: {
        text: "Postcode"
      },
      classes: "govuk-input--width-10",
      value: postcode,
      id: "postcode",
      name: "postcode",
      errorMessage: error.postcode
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
