{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      classes: "govuk-input--width-10",
      id: "postcode",
      label: {
        classes: "govuk-label--l",
        html: pageHeadingHtml,
        isPageHeading: true
      },
      name: "postcode",
      value: postcode,
      errorMessage: error.postcode
    }) }}

    <p class="govuk-form-group">
      <a class="govuk-link" href="{{ internationalLink }}">The address is outside the UK</a>
    </p>

    {{ govukButton({ text: "Find addresses", preventDoubleClick: true }) }}
  </form>

  {% include "address/os-places-declaration.njk" %}
{% endblock %}
