{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: '#postcode'
        }
      ]
    }) }}
  {%endif%}

  <form method="post">

    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
    {{ govukInput({
      label: {
        text: "Enter a UK postcode",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      classes: "govuk-input--width-10",
      value: postcode,
      id: "postcode",
      name: "postcode",
      errorMessage: error
    }) }}

    <p class="govuk-form-group">
      <a class="govuk-link" href="/system/address/{{ sessionId }}/international">The address is outside the UK</a>
    </p>


    {{ govukButton({ text: "Find addresses", preventDoubleClick: true }) }}
  </form>

  {% include "address/os-places-declaration.njk" %}
{% endblock %}
