{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block breadcrumbs %}
  {{
  govukBackLink({
    text: 'Back',
    href: backLink
  })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: '#addresses'
        }
      ]
    }) }}
  {%endif%}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">{{ pageTitle }}</h1>

  <div class="govuk-form-group">
    <p class="govuk-!-margin-bottom-0">Postcode</p>
    <p class="govuk-!-font-weight-bold govuk-!-display-inline">{{ postcode }}</p>
    <a href="/system/address/{{ sessionId }}/postcode" class="govuk-!-padding-left-5">Change postcode</a>
  </div>

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukSelect({
      id: "addresses",
      name: "addresses",
      errorMessage: {
        text: error.text
      } if error,
      label: {
        text: "Address"
      },
      items: addresses
    }) }}

    <div class="govuk-form-group">
      <a href="/system/address/{{ sessionId }}/manual">I cannot find the address in the list</a>
    </div>

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>

  {% include "address/os-places-declaration.njk" %}
{% endblock %}
