# Airbrake config
AIRBRAKE_HOST=https://my-errbit-instance.com
AIRBRAKE_KEY=longvaluefullofnumbersandlettersinlowercase
ENVIRONMENT=dev

# Database config
POSTGRES_USER=myuser
POSTGRES_PASSWORD=password12345
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=wabs
POSTGRES_DB_TEST=wabs_system_test

# Server config
PORT=3000

# Log config
LOG_ASSET_REQUESTS=false
LOG_IN_TEST=false

# Request config
REQUEST_TIMEOUT=5000
http_proxy=http://myproxy:8080

# External services
EA_ADDRESS_FACADE_URL=http://localhost:8009
CHARGING_MODULE_URL=http://localhost:8020
SERVICE_FOREGROUND_URL=http://localhost:8001
SERVICE_BACKGROUND_URL=http://localhost:8012
REPORTING_URL=http://localhost:8011
IMPORT_URL=http://localhost:8007
TACTICAL_CRM_URL=http://localhost:8002
EXTERNAL_UI_URL=http://localhost:8000
INTERNAL_UI_URL=http://localhost:8008
TACTICAL_IDM_URL=http://localhost:8003
PERMIT_REPOSITORY_URL=http://localhost:8004
RETURNS_URL=http://localhost:8006

# JWT Auth token shared by all legacy external services
LEGACY_AUTH_TOKEN=longvalueofnumbersandletters.inbothcases.splitin3by2periods

# External Charging Module JWT (AWS Cognito) service
CHARGING_MODULE_TOKEN_URL=https://myinstance.amazoncognito.com
CHARGING_MODULE_TOKEN_USERNAME=valuefullofnumbersandlettersinlowercase
CHARGING_MODULE_TOKEN_PASSWORD=longvaluefullofnumbersandlettersinlowercase
