{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "macros/notice-status-tag.njk" import statusTag %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <p> Create a returns invitation, reminder or paper return notice</p>

  <div class="govuk-button-group">
    {{ govukButton({
      href: links.notice.href,
      text: links.notice.text
    }) }}

    {{ govukButton({
      classes: "govuk-button--secondary",
      href: links.adhoc.href,
      text: links.adhoc.text
    }) }}
  </div>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-l"> {{ pageSubHeading }} </h2>

  {# Filters #}
  {% set filtersForm %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Filter by</h2>
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{ wrlsCrumb }}" />

      {# Filter by licence issues #}
      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Notice type",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            attributes: { 'data-test': 'legacy-notifications' },
            checked: filters.noticeTypes.includes('legacyNotifications'),
            text: "Legacy (Hands off flows and expiry notifications)",
            value: "legacyNotifications"
          },
          {
            attributes: { 'data-test': 'returns-paper-form' },
            checked: filters.noticeTypes.includes('paperReturnForms'),
            text: "Paper return",
            value: "paperReturnForms"
          },
          {
            attributes: { 'data-test': 'returns-reminders' },
            checked: filters.noticeTypes.includes('returnReminder'),
            text: "Returns reminder",
            value: "returnReminder"
          },
          {
            attributes: { 'data-test': 'returns-invitation' },
            checked: filters.noticeTypes.includes('returnInvitation'),
            text: "Returns invitation",
            value: "returnInvitation"
          },
          {
            attributes: { 'data-test': 'water-abstraction-alert-resume' },
            checked: filters.noticeTypes.includes('resume'),
            text: "Resume alert",
            value: "resume"
          },
          {
            attributes: { 'data-test': 'water-abstraction-alert-stop' },
            checked: filters.noticeTypes.includes('stop'),
            text: "Stop alert",
            value: "stop"
          },
          {
            attributes: { 'data-test': 'water-abstraction-alert-reduce' },
            checked: filters.noticeTypes.includes('reduce'),
            text: "Reduce alert",
            value: "reduce"
          },
          {
            attributes: { 'data-test': 'water-abstraction-alert-warning' },
            checked: filters.noticeTypes.includes('warning'),
            text: "Warning alert",
            value: "warning"
          }
        ],
        name: "noticeTypes"
      }) }}

      {# Filter by sent by #}
      {{ govukInput({
        classes: "govuk-input--width-20",
        hint: {
          text: 'You can use partial matches, for example, "rachel" or "defra.gov.uk"'
        },
        id: "sentBy",
        label: {
          classes: "govuk-label--s",
          isPageHeading: false,
          text: "Sent by"
        },
        name: "sentBy",
        value: filters.sentBy,
        errorMessage: error.sentBy
      }) }}

      {# Filter by reference #}
      {{ govukInput({
        classes: "govuk-input--width-10",
        id: "reference",
        label: {
          classes: "govuk-label--s",
          isPageHeading: false,
          text: "Reference"
        },
        name: "reference",
        value: filters.reference,
        errorMessage: error.reference
      }) }}

      <p class="govuk-!-font-weight-bold">Sent Dates</p>

      {# Filter by from date #}
      {{ govukDateInput({
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold",
            text: "From"
          }
        },
        id: 'fromDate',
        items: [
          {
            classes: 'govuk-input--width-2 ' + errorClass,
            label: 'Day',
            name: 'sentFromDay',
            value: filters.sentFromDay
          },
          {
            classes: 'govuk-input--width-2 ' + errorClass,
            label: 'Month',
            name: 'sentFromMonth',
            value: filters.sentFromMonth
          },
          {
            classes: 'govuk-input--width-4 ' + errorClass,
            label: 'Year',
            name: 'sentFromYear',
            value:filters.sentFromYear
          }
        ],
        name: "fromDate",
        errorMessage: error.fromDate
      }) }}

      {# Filter by to date #}
      {{ govukDateInput({
        fieldset: {
          legend: {
            text: "To",
            classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
          }
        },
        id: 'toDate',
        items: [
          {
            classes: 'govuk-input--width-2 ' + errorClass,
            name: 'sentToDay',
            label: 'Day',
            value: filters.sentToDay
          },
          {
            classes: 'govuk-input--width-2 ' + errorClass,
            name: 'sentToMonth',
            label: 'Month',
            value: filters.sentToMonth
          },
          {
            classes: 'govuk-input--width-4 ' + errorClass,
            name: 'sentToYear',
            label: 'Year',
            value: filters.sentToYear
          }
        ],
        name: "toDate",
        errorMessage: error.toDate
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          preventDoubleClick: true,
          text: "Apply filters"
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary ",
          name: "clearFilters",
          preventDoubleClick: true,
          text: "Clear filters",
          value: 'reset'
        }) }}
      </div>
    </form>
  {% endset %}

  {{ govukDetails({
    classes: "govuk-!-margin-bottom-2",
    html: filtersForm,
    open: filters.openFilter,
    summaryText: "Filters"
  }) }}

  {# Results #}
  {% if notices|length === 0 %}
    <p>No notices found.</p>
  {% else %}
    {% set tableRows = [] %}
    {% for notice in notices %}
      {# Set an easier to use index #}
      {% set rowIndex = loop.index0 %}

      {# Link to view the notice #}
      {% set viewLink %}
        <a class="govuk-link" href="{{ notice.link }}">{{ notice.createdDate }}</a>
      {% endset %}

      {% set noticeStatusTag %}
        {{ statusTag(notice.status, true) }}
      {% endset %}

      {% set tableRow = [
        {
          attributes: { 'data-test': 'notice-date-created-' + rowIndex },
          html: viewLink
        },
        {
          attributes: { 'data-test': 'notice-reference-' + rowIndex },
          text: notice.reference
        },
        {
          attributes: { 'data-test': 'notice-type-' + rowIndex },
          text: notice.type
        },
        {
          attributes: { 'data-test': 'notice-sent-by-' + rowIndex },
          text: notice.sentBy
        },
        {
          attributes: { 'data-test': 'notice-recipients-' + rowIndex },
          format: 'numeric',
          text: notice.recipients
        },
        {
          attributes: { 'data-test': 'notice-status-' + rowIndex },
          format: 'numeric',
          html: noticeStatusTag
        }
      ] %}

      {# Push our row into the table rows array #}
      {% set tableRows = (tableRows.push(tableRow), tableRows) %}
    {% endfor %}

    {{ govukTable({
      attributes: { 'data-test': 'notifications' },
      caption: tableCaption,
      captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-2",
      firstCellIsHeader: false,
      head: [
        { text: 'Date' },
        { text: 'Reference' },
        { text: 'Notice type' },
        { text: 'Sent by' },
        { text: 'Recipients', format: 'numeric' },
        { text: 'Status', format: 'numeric' }
      ],
      rows: tableRows
    }) }}

    {% if pagination.numberOfPages > 1 %}
      {{ govukPagination(pagination.component) }}
    {% endif %}
  {% endif %}
{% endblock %}
