{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "macros/new-line-array-items.njk" import newLineArrayItems %}
{% from "macros/notice-status-tag.njk" import statusTag %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <p>{{ statusTag(status, false) }}</p>

  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    attributes: {
      'data-test': 'meta-data'
    },
    rows: [
      {
        key: { text: 'Sent date' },
        value: { html: '<span data-test="meta-data-sent-date">' + sentDate + '</span>' }
      },
      {
        key: { text: 'Sent by' },
        value: { html: '<span data-test="meta-data-sent-by">' + sentBy + '</span>' }
      }
    ]
  }) }}

  <hr class="govuk-section-break govuk-!-margin-bottom-2 govuk-section-break--visible">

  {# Filters #}
  {% set filtersForm %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Filter by</h2>
    <form  method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {# Filter by status #}
      {{ govukRadios({
        name: "status",
        fieldset: {
          legend: {
            text: "Status",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            attributes: { 'data-test': 'filter-status-cancelled' },
            checked: 'cancelled' === filters.status,
            text: "Cancelled",
            value: "cancelled"
          },
          {
            attributes: { 'data-test': 'filter-status-error' },
            checked: 'error' === filters.status,
            text: "Error",
            value: "error"
          },
          {
            attributes: { 'data-test': 'filter-status-pending' },
            checked: 'pending' === filters.status,
            text: "Pending",
            value: "pending"
          },
          {
            attributes: { 'data-test': 'filter-status-returned' },
            checked: 'returned' === filters.status,
            text: "Returned",
            value: "returned"
          },
          {
            attributes: { 'data-test': 'filter-status-sent' },
            checked: 'sent' === filters.status,
            text: "Sent",
            value: "sent"
          }
        ]
      }) }}

      {# Filter by recipient #}
      {{ govukInput({
        label: {
          text: "Recipient",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        hint: {
          text: 'Compares to first line of address or email. You can use partial matches, for example, "rachel" or "defra.gov.uk"'
        },
        id: "recipient",
        name: "recipient",
        value: filters.recipient,
        attributes: { 'data-test': 'filter-recipient' },
        errorMessage: {
          text: error.recipient.message
        } if error.recipient
      }) }}

      {# Filter by licence #}
      {{ govukInput({
        label: {
          text: "Licence number",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        classes: "govuk-input--width-20",
        id: "licence",
        name: "licence",
        value: filters.licence,
        attributes: { 'data-test': 'filter-licence' },
        errorMessage: {
          text: error.licence.message
        } if error.licence
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Apply filters",
          preventDoubleClick: true
        }) }}

        {{ govukButton({
          text: "Clear filters",
          classes: "govuk-button--secondary ",
          name: "clearFilters",
          value: 'reset',
          preventDoubleClick: true
        }) }}
      </div>
    </form>
  {% endset %}

  {{ govukDetails({
    summaryText: "Filters",
    html: filtersForm,
    classes: "govuk-!-margin-bottom-2",
    open: filters.openFilter
  }) }}

  {# Results #}
  {% if notifications|length === 0 %}
    <p class="govuk-body">No notifications found.</p>
  {% else %}
    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">{{showingDeclaration}}</p>

    {% set tableRows = [] %}
    {% for notification in notifications %}
      {# Set an easier to use index. Also means we can refer to it inside our elementDetail loop #}
      {% set rowIndex = loop.index0 %}

      {% set licenceNumbers %}
        {% if notification.licenceRefs.length > 5 %}
          {{
          govukDetails({
            classes: 'govuk-!-margin-bottom-0',
            summaryText: notification.licenceRefs.length + ' licences',
            html: newLineArrayItems(notification.licenceRefs)
          })
          }}
        {% else %}
          {{ newLineArrayItems(notification.licenceRefs)  }}
        {% endif %}
      {% endset %}

      {% set noticeStatusTag %}
        {{ statusTag(notification.status, true) }}
      {% endset %}

      {% set row = [
        {
          text: newLineArrayItems(notification.recipient),
          attributes: { 'data-test': 'notification-recipient' + rowIndex }
        },
        {
          html: licenceNumbers,
          attributes: { 'data-test': 'notification-licences-' + rowIndex }
        },
        {
          html: noticeStatusTag,
          attributes: { 'data-test': 'notification-status-' + rowIndex }
        }
      ] %}

      {% set tableRows = (tableRows.push(row), tableRows) %}
    {% endfor %}

    {{ govukTable({
      firstCellIsHeader: false,
      attributes: { 'data-test': 'notices' },
      head: [
        { text: 'Recipient' },
        { text: 'Licence number' },
        { text: 'Status' }
      ],
      rows: tableRows
    }) }}

    {% if pagination.numberOfPages > 1  %}
      {{ govukPagination(pagination.component) }}
    {% endif %}
  {% endif %}
{% endblock %}
