{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "macros/new-line-array-items.njk" import newLineArrayItems %}
{% from "macros/notice-status-tag.njk" import statusTag %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <p>{{ statusTag(status, false) }}</p>

  <hr class="govuk-section-break govuk-!-margin-bottom-2 govuk-section-break--visible">

  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    attributes: {
      'data-test': 'meta-data'
    },
    rows: [
      {
        key: { text: 'Created date' },
        value: { html: '<span data-test="meta-data-created-date">' + dateCreated + '</span>' }
      },
      {
        key: { text: 'Created by' },
        value: { html: '<span data-test="meta-data-created-by">' + createdBy + '</span>' }
      }
    ]
  }) }}

  <hr class="govuk-section-break govuk-!-margin-bottom-2 govuk-section-break--visible">

  <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">{{pageNumbers}}</p>

  {% set tableRows = [] %}
  {% for notice in notices %}
    {# Set an easier to use index. Also means we can refer to it inside our elementDetail loop #}
    {% set rowIndex = loop.index0 %}

    {% set licenceNumbers %}
      {% if notice.licenceRefs.length > 5 %}
        {{
        govukDetails({
          classes: 'govuk-!-margin-bottom-0',
          summaryText: notice.licenceRefs.length + ' licences',
          html: newLineArrayItems(notice.licenceRefs)
        })
        }}
      {% else %}
        {{ newLineArrayItems(notice.licenceRefs)  }}
      {% endif %}
    {% endset %}

    {% set noticeStatusTag %}
      {{ statusTag(notice.status, true) }}
    {% endset %}

    {% set row = [
      {
        text: newLineArrayItems(notice.recipient),
        attributes: { 'data-test': 'notice-recipient' + rowIndex }
      },
      {
        html: licenceNumbers,
        attributes: { 'data-test': 'notice-licences-' + rowIndex }
      },
      {
        html: noticeStatusTag,
        attributes: { 'data-test': 'notice-status-' + rowIndex }
      }
    ] %}

    {% set tableRows = (tableRows.push(row), tableRows) %}
  {% endfor %}

  {{ govukTable({
    firstCellIsHeader: false,
    attributes: { 'data-test': 'notices' },
    head: [
      { text: 'Recipient' },
      { text: 'Licence number' },
      { text: 'Status' }
    ],
    rows: tableRows
  }) }}

  {% if pagination.numberOfPages > 1  %}
    {{ govukPagination(pagination.component) }}
  {% endif %}
{% endblock %}
