{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "macros/bill-run-status-tag.njk" import statusTag as billRunStatusTag %}
{% from "macros/review-status-tag.njk" import statusTag as reviewStatusTag %}

{% block breadcrumbs %}
  {# Back link #}
  {{ govukBackLink(backLink) }}
{% endblock %}

{% block content %}
  {# Licence removed notification #}
  {% if notification %}
    {{ govukNotificationBanner(notification) }}
  {% endif %}

  {# Main heading #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{ pageSubHeading }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>

      <p class="govuk-body">
        {{ billRunStatusTag(status) }}
      </p>

      {# Bill run meta-data #}
      {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: {
                text: 'Date created',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="meta-data-created">' + dateCreated + '</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: 'Region',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="meta-data-region">' + region + '</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: 'Bill run type',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="meta-data-type">' + billRunType | capitalize + '</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: 'Charge scheme',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="meta-data-scheme">' + chargeScheme + '</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: 'Financial year',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="meta-data-year">' + financialYear + '</span>',
                classes: "meta-data__value"
              }
            }
          ]
        }) }}
    </div>
  </div>

  {# Message either telling the user they have issues to deal with or that they can generate bills #}
  <section class="govuk-!-margin-bottom-9">
    {{ govukInsetText({
      html: '<span data-test="licences-to-review">'+ reviewMessage +'</span>'
    }) }}
  </section>

  {# Continue and Cancel bill run buttons #}
  <section class="govuk-!-margin-bottom-9">
    {% if numberOfLicencesToReview === 0 %}
      {{ govukButton({
        classes: "govuk-!-margin-right-1 govuk-!-margin-bottom-0",
        text: "Continue bill run",
        href: "/system/bill-runs/" + billRunId  + "/two-part-tariff",
        preventDoubleClick: true
      }) }}
    {% endif %}
    {{ govukButton({
      classes: "govuk-button--secondary govuk-!-margin-bottom-0",
      text: "Cancel bill run",
      href: "/system/bill-runs/" + billRunId  + "/cancel",
      preventDoubleClick: true
    }) }}
  </section>

  {# Filters #}
  {% set filtersForm %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Filter by</h2>

    <form  method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {# Filter by licence holder or licence number #}
      {{ govukInput({
        classes: "govuk-input--width-20",
        id: "licenceHolderNumber",
        label: {
          classes: "govuk-label--s",
          isPageHeading: false,
          text: "Licence holder or number"
        },
        name: "licenceHolderNumber",
        value: filters.licenceHolderNumber
      }) }}

      {# Filter by licence issues #}
      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false,
            text: "Issue"
          }
        },
        items: [
          {
            attributes: { 'data-test': 'abs-outside-period' },
            checked: filters.issues.includes('abs-outside-period'),
            text: "Abstraction outside period",
            value: "abs-outside-period"
          },
          {
            attributes: { 'data-test': 'aggregate-factor' },
            checked: filters.issues.includes('aggregate-factor'),
            text: "Aggregate",
            value: "aggregate-factor"
          },
          {
            attributes: { 'data-test': 'checking-query' },
            checked: filters.issues.includes('checking-query'),
            text: "Checking query",
            value: "checking-query"
          },
          {
            attributes: { 'data-test': 'multiple-issues' },
            checked: filters.issues.includes('multiple-issues'),
            text: "Multiple issues",
            value: "multiple-issues"
          },
          {
            attributes: { 'data-test': 'no-returns-received' },
            checked: filters.issues.includes('no-returns-received'),
            text: "No returns received",
            value: "no-returns-received"
          },
          {
            attributes: { 'data-test': 'over-abstraction' },
            checked: filters.issues.includes('over-abstraction'),
            text: "Over abstraction",
            value: "over-abstraction"
          },
          {
            attributes: { 'data-test': 'overlap-of-charge-dates' },
            checked: filters.issues.includes('overlap-of-charge-dates'),
            text: "Overlap of charge dates",
            value: "overlap-of-charge-dates"
          },
          {
            attributes: { 'data-test': 'returns-received-not-processed' },
            checked: filters.issues.includes('returns-received-not-processed'),
            text: "Returns received but not processed",
            value: "returns-received-not-processed"
          },
          {
            attributes: { 'data-test': 'returns-late' },
            checked: filters.issues.includes('returns-late'),
            text: "Returns received late",
            value: "returns-late"
          },
          {
            attributes: { 'data-test': 'return-split-over-refs' },
            checked: filters.issues.includes('return-split-over-refs'),
            text: "Return split over charge references",
            value: "return-split-over-refs"
          },
          {
            attributes: { 'data-test': 'some-returns-not-received' },
            checked: filters.issues.includes('some-returns-not-received'),
            text: "Some returns IDs not received",
            value: "some-returns-not-received"
          },
          {
            attributes: { 'data-test': 'unable-to-match-return' },
            checked: filters.issues.includes('unable-to-match-return'),
            text: "Unable to match return",
            value: "unable-to-match-return"
          },
          {
            divider: "or"
          },
          {
            attributes: { 'data-test': 'no-issues' },
            behaviour: "exclusive",
            checked: filters.issues.includes('no-issues'),
            text: "No issues",
            value: "no-issues"
          }
        ],
        name: "issues"
      }) }}

      {# Filter by licence progress #}
      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false,
            text: "Progress"
          }
        },
        items: [
          {
            attributes: { 'data-test': 'in-progress' },
            checked: filters.progress.includes('inProgress'),
            text: "In progress",
            value: "inProgress"
          }
        ],
        name: "progress"
      }) }}

      {# Filter by licence status #}
      {{ govukRadios({
        classes: "govuk-radios--small",
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--s",
            isPageHeading: false,
            text: "Status"
          }
        },
        items: [
          {
            checked: filter.licenceStatus === 'ready',
            text: "Ready",
            value: "ready"
          },
          {
            checked: filter.licenceStatus === 'review',
            value: "review",
            text: "Review"
          }
        ],
        name: "licenceStatus"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          preventDoubleClick: true,
          text: "Apply filters"
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary ",
          name: "clearFilters",
          preventDoubleClick: true,
          text: "Clear filters",
          value: 'reset'
        }) }}
      </div>
    </form>
  {% endset %}

  {{ govukDetails({
    classes: "govuk-!-margin-bottom-2",
    html: filtersForm,
    open: filters.openFilter,
    summaryText: "Filters"
  }) }}

  {# Results #}
  {% if licences.length === 0 %}
    <p>No licences found.</p>
  {% else %}
    {% set tableRows = [] %}
    {% for licence in licences %}
      {% set statusTag %}
        {{ reviewStatusTag(licence.status) }}
      {% endset %}

      {% set action %}
        <a class="govuk-link" href="/system/bill-runs/review/licence/{{ licence.id }}">{{ licence.licenceRef }}<span class="govuk-visually-hidden">View licence matching for licence {{ licence.licenceRef }} </a>
      {% endset %}

      {% set tableRow = [
        {
          html: action,
          attributes: { 'data-test': 'licence-' + loop.index }
        },
        {
          text: licence.licenceHolder,
          attributes: { 'data-test': 'licence-holder-' + loop.index }
        },
        {
          text: licence.issue,
          attributes: { 'data-test': 'licence-issue-' + loop.index }
        },
        {
          text: licence.progress,
          classes: "govuk-!-text-align-centre",
          attributes: { 'data-test': 'licence-progress-' + loop.index }
        },
        {
          html: statusTag,
          classes: "govuk-!-text-align-right",
          attributes: { 'data-test': 'licence-status-' + loop.index }
          }
      ] %}
      {% set tableRows = (tableRows.push(tableRow), tableRows) %}
    {% endfor %}

    {{ govukTable({
      attributes: { 'data-test': 'licences'},
      caption: pagination.showingMessage,
      captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-2",
      firstCellIsHeader: false,
      head: [
        { text: 'Licence' },
        { text: 'Licence holder' },
        { text: 'Issue' },
        { text: 'Progress', classes: "govuk-!-text-align-centre" },
        { text: 'Status', classes: "govuk-!-text-align-right" }
      ],
      rows: tableRows
    }) }}

    {{ govukPagination(pagination.component) if pagination.numberOfPages > 1 }}
  {% endif %}
{% endblock %}
