$govuk-global-styles: true;

@import 'node_modules/govuk-frontend/govuk/all';

// ========== ========== ========== ========== ==========
// Dividers
// ========== ========== ========== ========== ==========
.divider {
  border-bottom: solid 2px $govuk-text-colour;
}

// ========== ========== ========== ========== ==========
// Meta data
// ========== ========== ========== ========== ==========
.meta-data__label {
  width: 100%;
  order: 1;
  margin-bottom: 0px;
  line-height: 25px;
}

.meta-data__value {
  order: 2;
  margin-bottom: 10px;
  line-height: 25px;
}

@media screen and (min-width: 600px) {
  .flex_container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
  }
}

/* 2 columns */
@media screen and (min-width: 600px) {
  .meta-data__label {
    width: 20% !important;
    padding: 0px !important;
    font-weight: 400;
  }
  .meta-data__value {
    flex: 1;
    width: 80% !important;
    margin-bottom: 0;
    padding: 0px !important;
  }
}

// ========== ========== ========== ========== ==========
// Nav bar
// ========== ========== ========== ========== ==========

// nav bar container
.navbar {
  border-bottom: 1px solid $govuk-border-colour;
}

.navbar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 15px 0px;

  @media (min-width: 768px) {
    font-size: 19px;
    margin-top: 0;
    position: relative;
    left: -15px;
  }
}

// nav bar list
.navbar__item {
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
  @media (min-width: 768px) {
    margin-bottom: 0px;
    display: inline-block;
    font-size: 19px;
  }
}

.navbar__link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 5px 5px 0px;
  font-size: 16px;
  @media (min-width: 768px) {
    padding: 15px;
    font-size: 19px;
  }
}

// active link for nav bar
.navbar__link--active {
  border-left: 4px solid $govuk-link-colour;
  margin-left: -10px;
  padding-left: 5px;
  @media (min-width: 768px) {
    border-left: none;
    border-bottom: 4px solid $govuk-link-colour;
    margin-bottom: -1px;
    margin-left: 0;
    padding-left: 15px;
  }
}

// ========== ========== ========== ========== ==========
// Table additions
// ========== ========== ========== ========== ==========
.table__cell--total {
  @media (min-width: 768px) {
    border-top: solid 2px #0b0c0c !important;
    border-bottom: none !important;
    white-space: nowrap;
  }
}

// Used in tables where we want to include 2 rows as one, it removes the separator from the first row when applied
.table__cell--include {
  border-bottom: none !important;
}

// ========== ========== ========== ========== ==========
// Inset text additions
// ========== ========== ========== ========== ==========
.inset-text__selected-version {
  border-color: $govuk-link-colour;
}

// ========== ========== ========== ========== ==========
// Widths
// ========== ========== ========== ========== ==========
.width-one-fifth {
  width: 100% !important;
}
@media (min-width: 40.0625em) {
  .width-one-fifth {
    width: 20% !important;
  }
}

.width-one-sixth {
  width: 100% !important;
}
@media (min-width: 40.0625em) {
  .width-one-sixth {
    width: 17% !important;
  }
}

.width-one-tenth {
  width: 100% !important;
}
@media (min-width: 40.0625em) {
  .width-one-tenth {
    width: 10% !important;
  }
}

// ========== ========== ========== ========== ==========
// Float
// ========== ========== ========== ========== ==========
.float-right {
  float: right;
}

.float-left {
  float: left;
}

// ========== ========== ========== ========== ==========
// Font
// ========== ========== ========== ========== ==========
.govuk-font-size-64 {
  font-size: 64px !important;
  font-size: 4rem !important;
}
