<!DOCTYPE html>
<html>
  <head>
    <style>
      {% include "includes/reset.css" %}
      {% include "includes/custom.css" %}
    </style>
  </head>
  <body class="paper">
  {% include 'pages/cover.njk' %}
  {% include 'pages/guidance.njk' %}
  </body>
</html>
