{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block breadcrumbs %}
  {# Back link #}
  {{ govukBackLink({
      text: 'Back',
      href: '/return-logs?returnLogId=' + returnLogId
  }) }}
{% endblock %}

{% block content %}
  {# Error message #}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: '#howToEdit'
        }
      ]
      }) }}
  {% endif %}

  {# Main heading #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Licence {{ licenceRef }}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>

      {# Bill run meta-data #}
      {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: {
                text: 'Return reference',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="return-reference">'+ returnReference +'</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: 'Site description',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="site-description">'+ siteDescription +'</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: 'Purposes',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="purposes">'+ purposes +'</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: 'Returns period',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="returns-period">'+ returnsPeriod +'</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: 'Abstraction period',
                classes: "meta-data__label"
              },
              value: {
                html: '<span data-test="abstraction-period">'+ abstractionPeriod +'</span>',
                classes: "meta-data__value"
              }
            },
            {
              key: {
                text: tariffType,
                classes: "meta-data__label"
              }
            }
          ]
        }) }}
    </div>
  </div>

  {# Link to take you to the View Licence page #}
  <p class="govuk-body"><a href='/licences/'+ licenceId +'/summary' class="govuk-link">View licence</a></p>

  {# Select how you would like to edit the return #}
  <form  method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
    {{ govukRadios({
      name: "howToEdit",
      errorMessage: error,
      fieldset: {
        legend: {
          text: "How would you like to edit this return?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: 'individual',
          text: "Enter individual volumes",
          checked: selectedOption === 'individual'
        },
        {
          value: 'new',
          text: "Enter new volumes or readings",
          checked: selectedOption === 'new'
        },
        {
          value: 'nil',
          text: "Enter a nil return",
          checked: selectedOption === 'nil'
        },
        {
          value: 'query',
          text: queryText,
          checked: selectedOption === 'query'
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
