{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  {{ govukSummaryList({
    rows: [
      {},
      {
        key: {
          text: summaryList.text
        },
        value: {
          text: summaryList.value
        }
      }
    ]
  }) }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{ wrlsCrumb }}" />
    {{ govukButton({ text: "Confirm cancel", preventDoubleClick: true }) }}
  </form>
{% endblock %}
