{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/new-line-array-items.njk" import newLineArrayItems %}

{% block content %}
    <div class="govuk-body">
      {% if notification %}
        {{ govukNotificationBanner({
          titleText: notification.title,
          text: notification.text
        }) }}
      {% endif %}

      <h2 class="govuk-heading-xl">{{ pageTitle }}</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: 'Licence number'
            },
            value: {
              text: licenceRef
            },
            actions: {
              items: [
                {
                  href: '/system/notices/setup/'+ sessionId + '/licence',
                  text: 'Change',
                  visuallyHiddenText: 'licence number'
                }
              ]
            }
          },
          {
            key: {
              text: 'Returns notice type'
            },
            value: {
              text: returnNoticeType
            },
            actions: {
              items: [
                {
                  href: '/system/notices/setup/'+ sessionId + '/notice-type',
                  text: 'Change',
                  visuallyHiddenText: 'notice type'
                }
              ]
            }
          },
          {
            key: {
              text: 'Returns'
            },
            value: {
              html: newLineArrayItems(selectedDueReturns)
            },
            actions: {
              items: [
                {
                  href: '/system/notices/setup/'+ sessionId + '/returns-for-paper-forms',
                  text: 'Change',
                  visuallyHiddenText: 'returns for paper forms'
                }
              ]
            }
          } if noticeType === 'paper-forms'
        ]
      }) }}

      {{ govukButton(continueButton) }}
  </div>
{% endblock %}
