{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block breadcrumbs %}
  {{
  govukBackLink({
    text: 'Back',
    href: backLink
  })
  }}
{% endblock %}

{% block content %}
    <div class="govuk-body">
      <h2 class="govuk-heading-xl">{{ pageTitle }}</h2>

      {{ govukButton(continueButton) }}
  </div>
{% endblock %}
