{% extends 'layout.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  {{ govukPanel({
    titleText: pageTitle,
    html: "Your reference number is <br><strong>" + referenceCode + "</strong>"
  }) }}

  <p class="govuk-body">
    <a class="govuk-link" href="{{ forwardLink }}">View notifications report</a>
  </p>

  {% if monitoringStationLink %}
    <p class="govuk-body">or</p>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ monitoringStationLink }}">Return to monitoring station</a>
    </p>
  {% endif %}
{% endblock %}
