{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  {% set emailHtml %}
    {{ govukInput({
      id: "contactEmail",
      name: "contactEmail",
      value: contactEmail,
      autocomplete: "email",
      spellcheck: false,
      errorMessage: error.contactEmail,
      classes: 'govuk-!-width-two-thirds',
      label: {
        classes: 'govuk-!-font-weight-bold govuk-!-width-two-thirds',
        text: "Email address"
      }
    }) }}
  {% endset -%}

  {% set nameHtml %}
    {{ govukInput({
      id: "contactName",
      name: "contactName",
      type: "name",
      value: contactName,
      classes: 'govuk-!-width-two-thirds',
      errorMessage: error.contactName,
      label: {
        classes: 'govuk-!-font-weight-bold',
        text: "Recipient’s name"
      }
    }) }}
  {% endset -%}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: 'contactType',
      value: contactType,
      fieldset: {
        legend: {
          html: pageHeadingHtml,
          isPageHeading: true
        }
      },
      items: [
        {
          value: 'email',
          text: 'Email',
          conditional: {
            html: emailHtml
          }
        },{
          value: 'post',
          text: 'Post',
          conditional: {
            html: nameHtml
          }
        }
      ],
      errorMessage: error.contactType
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
