{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukInput({
          label: {
            html: pageHeadingHtml
          },
          value: licenceRef,
          id: "licenceRef",
          name: "licenceRef",
          errorMessage: error.licenceRef
        }) }}

        {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
      </div>
    </div>
  </form>
{% endblock %}
