{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from 'macros/page-heading.njk' import pageHeading %}

{% block breadcrumbs %}
  {{ govukBackLink({ text: 'Back', href: backLink }) }}
{% endblock %}

{% block content %}
  {% set pageHeading %}
    {{ pageHeading(pageTitle) }}
  {% endset %}

  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#licence"
        }
      ]
    }) }}
  {%endif%}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukInput({
          fieldset: {
            legend: {
              html: pageHeading
            }
          },
          value: licenceRef,
          id: "licence-ref",
          name: "licenceRef",
          errorMessage: error
        }) }}

        {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
      </div>
    </div>
  </form>
{% endblock %}
