{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{# Used for the form and the error summary link #}
{% set name = 'licenceRef' %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{ wrlsCrumb }}" />
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukInput({
          label: {
            text: pageTitle,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          value: licenceRef,
          name: name,
          id: name,
          errorMessage: error
        }) }}
        {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
      </div>
    </div>
  </form>
{% endblock %}
