{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% if error %}
  {% set errorList = [{
    text: error.text,
    href: error.href
  }] %}
{% endif %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{ wrlsCrumb }}"/>

    {{ govukRadios({
      name: "returnsPeriod",
      errorMessage: error,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: returnsPeriod
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
