{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/new-line-array-items.njk" import newLineArrayItems %}
{% from "macros/return-version-status-tag.njk" import statusTag %}

{% from "macros/licence-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{ govukBackLink({
    text: 'Go back to summary',
    href: '/system/licences/' + licenceId + '/set-up'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-!-margin-bottom-6">
    {{ pageHeading(licenceRef, pageTitle) }}
    {{ statusTag(status) }}
  </div>

  <hr class="govuk-section-break govuk-!-margin-bottom-2 govuk-section-break--visible">

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-2',
    rows: [
      {
        classes: 'govuk-summary-list__row--no-border',
        key: {
          text: "Start date"
        },
        value: {
          html: '<span data-test="start-date">' + startDate + '</span>'
        }
      },
      {
        classes: 'govuk-summary-list__row--no-border',
        key: {
        text: "Reason"
      },
        value: {
        html: '<span data-test="reason">' + reason + '</span>'
      }
      },
      {
        classes: 'govuk-summary-list__row--no-border',
        key: {
        text: "Created date"
      },
        value: {
        html: '<span data-test="created-date">' + createdDate + '</span>'
      }
      },
      {
        classes: 'govuk-summary-list__row--no-border',
        key: {
        text: "Created by"
      },
        value: {
        html: '<span data-test="created-by">' + createdBy + '</span>'
      }
      }
    ]
  }) }}

  <hr class="govuk-section-break govuk-!-margin-bottom-9 govuk-section-break--visible">

{% if notes %}
  <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Notes</h2>
  <hr class="govuk-section-break govuk-!-margin-bottom-4 govuk-section-break--visible">
  {{ newLineArrayItems(notes) }}
  <hr class="govuk-section-break govuk-!-margin-top-4 govuk-!-margin-bottom-9 govuk-section-break--visible">
{% endif %}

{% if requirements.length > 0 %}
    <div class="govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Requirements for returns</h2>

      {# Bookmarks - only displays when there is more than 1 return requirement #}
      {% if requirements.length > 1 %}
        <ul class="govuk-!-margin-bottom-6">
          {% for requirement in requirements %}
            {% set requirementIndex = loop.index0 %}
            {% set bookmarkTitle %}
              {% if requirement.siteDescription === '' %}
                Return reference {{ requirement.returnReference }}
              {% else %}
                Return reference {{ requirement.returnReference }} - {{ requirement.siteDescription | safe }}
              {% endif %}
            {% endset %}
            <li><a class='govuk-link govuk-body' href="#requirement-{{ requirementIndex }}">{{ bookmarkTitle }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}

      {% for requirement in requirements %}
        {% set rowIndex = loop.index0 %}

        {# Generate the points cell #}
        {# When a requirement has more than 5 points it is displayed as a GOVUK Details component which displays the count #}
        {# of points as the summary. Users must expand the block to get the full list. #}
        {% set pointCell %}
          {% set pointsList %}
            {{ newLineArrayItems(requirement.points) }}
          {% endset %}
          {% set count = requirement.points | length %}

          {% if count > 5 %}
            {{
              govukDetails({
                classes: 'govuk-!-margin-bottom-0',
                summaryText: count + ' points',
                html: pointsList
              })
            }}
          {% else %}
            <span data-test="points-{{ rowIndex }}">{{ pointsList | safe }}</span>
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
            card: {
              title: {
                html: "<p> Return reference " + requirement.returnReference + "</p>" + requirement.title
              },
              attributes: {
                id: 'requirement-' + rowIndex
              }
            },
            attributes: {
              'data-test': 'requirement-' + rowIndex
            },
            classes: "govuk-summary-list--no-border",
            rows: [
              {
                key: {
                  text: "Purpose"
                },
                value: {
                  html: '<span data-test="purposes-' + rowIndex + '">' + newLineArrayItems(requirement.purposes) + '</span>'
                }
              },
              {
                key: {
                  text: "Points"
                },
                value: {
                  html: pointCell
                }
              },
              {
                key: {
                  text: "Abstraction period"
                },
                value: {
                  html: '<span data-test="abstraction-period-' + rowIndex + '">' + requirement.abstractionPeriod + '</span>'
                }
              },
              {
                key: {
                  text: "Returns cycle"
                },
                value: {
                  html: '<span data-test="returns-cycle-' + rowIndex + '">' + requirement.returnsCycle + '</span>'
                }
              },
              {
                key: {
                  text: "Site description"
                },
                value: {
                  html: '<span data-test="site-description-' + rowIndex + '">' + requirement.siteDescription + '</span>'
                }
              },
              {
                key: {
                  text: "Collection"
                },
                value: {
                  html: '<span data-test="frequency-collected-' + rowIndex + '">' + requirement.frequencyCollected | capitalize + '</span>'
                }
              },
              {
                key: {
                  text: "Reporting"
                },
                value: {
                  html: '<span data-test="frequency-reported-' + rowIndex + '">' + requirement.frequencyReported | capitalize + '</span>'
                }
              },
              {
                key: {
                  text: "Agreements exceptions"
                },
                value: {
                  html: '<span data-test="agreements-exceptions-' + rowIndex + '">' + requirement.agreementsExceptions + '</span>'
                }
              }
            ]
          }) }}
      {% endfor %}
    </div>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: 'Additional submission options',
            classes: "govuk-heading-m govuk-!-width-one-half"
          }
        },
        {
          classes: 'govuk-summary-list__row--no-border',
          key: {
            text: 'Multiple upload'
          },
          value: {
            text: multipleUpload
        }
        },
        {
          classes: 'govuk-summary-list__row--no-border',
          key: {
          text: 'Quarterly return submissions'
        },
          value: {
          text: quarterlyReturns
        }
        } if quarterlyReturnSubmissions
      ]
    }) }}
  {% else %}
    <h3 class="govuk-heading-m">Returns are not required for this licence</h3>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  {% endif %}
{% endblock %}
