{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {# From #}
    {{ govukDateInput({
      id: "abstraction-period-start",
      namePrefix: "abstraction-period-start",
      errorMessage: error["abstraction-period-start"],
      fieldset: {
        legend: {
          text: "Start date",
          classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: abstractionPeriod['abstraction-period-start-day']
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: abstractionPeriod['abstraction-period-start-month']
        }
      ]
    }) }}

    {# To #}
    {{ govukDateInput({
      id: "abstraction-period-end",
      namePrefix: "abstraction-period-end",
      errorMessage: error["abstraction-period-end"],
      fieldset: {
        legend: {
          text: "End date",
          classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          value: abstractionPeriod['abstraction-period-end-day']
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          value: abstractionPeriod['abstraction-period-end-month']
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
