{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% from "macros/page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text:error.text.startResult,
          href: "#abstraction-period-start"
        },
        {
          text:error.text.endResult,
          href: "#abstraction-period-end"
        }
      ]
    }) }}
  {%endif%}

  {{ pageHeading(pageTitle, pageTitleCaption) }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {# From #}
    {{ govukDateInput({
      id: "abstraction-period-start",
      namePrefix: "abstraction-period-start",
      errorMessage: { text: error.text.startResult } if error.text.startResult,
      fieldset: {
        legend: {
          text: "Start date",
          classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2 {{ 'govuk-input--error' if error.text.startResult }}",
          value: abstractionPeriod['abstraction-period-start-day']
        },
        {
          name: "month",
          classes: "govuk-input--width-2 {{ 'govuk-input--error' if error.text.startResult }}",
          value: abstractionPeriod['abstraction-period-start-month']
        }
      ]
    }) }}

    {# To #}
    {{ govukDateInput({
      id: "abstraction-period-end",
      namePrefix: "abstraction-period-end",
      errorMessage: { text: error.text.endResult } if error.text.endResult,
      fieldset: {
        legend: {
          text: "End date",
          classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2 {{ 'govuk-input--error' if error.text.endResult }}",
          value: abstractionPeriod['abstraction-period-end-day']
        },
        {
          name: "month",
          classes: "govuk-input--width-2 {{ 'govuk-input--error' if error.text.endResult }}",
          value: abstractionPeriod['abstraction-period-end-month']
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
