{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukCheckboxes({
      name: 'additional-submission-options',
      id: 'additional-submission-options',
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      hint: {
        text: "Select all that apply"
      },
      errorMessage: error['additional-submission-options'],
      items: [
        {
          value: "multiple-upload",
          text: "Multiple upload",
          checked: multipleUpload,
          hint: {
            text: "Allow large abstractors, such as water companies, to submit returns for multiple licences at the same time."
          }
        },
        {
          value: "quarterly-returns",
          text: "Quarterly return submissions",
          checked: quarterlyReturns,
          hint: {
            text: "Allow water companies to submit daliy readings each quarter."
          }
        } if quarterlyReturnSubmissions,
        {
          divider: "or"
        },
        {
          value: "none",
          text: "None",
          checked: noAdditionalOptions,
          behaviour: "exclusive"
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
