{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% from "macros/licence-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.text,
          href: '#additionalSubmissionOptions'
        }
      ]
    }) }}
  {% endif %}

  {% set pageHeading %}
    {{ pageHeading(licenceRef, pageTitle) }}
  {% endset %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukCheckboxes({
      name: "additionalSubmissionOptions",
      fieldset: {
        legend: {
          html: pageHeading
        }
      },
      hint: {
        text: "Select all that apply"
      },
      errorMessage: {
        text: error.text
      } if error,
      items: [
        {
          value: "multiple-upload",
          text: "Multiple upload",
          checked: multipleUpload,
          hint: {
            text: "Allow large abstractors, such as water companies, to submit returns for multiple licences at the same time."
          }
        },
        {
          value: "quarterly-returns",
          text: "Quarterly return submissions",
          checked: quarterlyReturns,
          hint: {
            text: "Allow water companies to submit daliy readings each quarter."
          }
        } if quarterlyReturnSubmissions,
        {
          divider: "or"
        },
        {
          value: "none",
          text: "None",
          checked: noAdditionalOptions,
          behaviour: "exclusive"
        }
      ]
    }) }}

    {{ govukButton({ text: "Confirm" }, preventDoubleClick: true }) }}) }}
  </form>
{% endblock %}
