{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/licence-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#purposes"
        }
      ]
    }) }}
  {%endif%}

  {% set pageHeading %}
    {{ pageHeading(licenceRef, pageTitle) }}
  {% endset %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukCheckboxes({
      name: "agreementsExceptions",
      hint: {
        text: "Select all that apply"
      },
      fieldset: {
        legend: {
          html: pageHeading
        }
      },
      errorMessage: error,
      items: [
        {
          value: "gravity-fill",
          text: "Gravity fill",
          checked: agreementsExceptions and "gravity-fill" in agreementsExceptions
        },
        {
          value: "transfer-re-abstraction-scheme",
          text: "Transfer re-abstraction scheme",
          checked: agreementsExceptions and "transfer-re-abstraction-scheme" in agreementsExceptions
        },
        {
          value: "two-part-tariff",
          text: "Two-part tarrif",
          checked: agreementsExceptions and "two-part-tariff" in agreementsExceptions,
          hint: {
            text: "requires daily collection"
          }
        },
        {
          value: "56-returns-exception",
          text: "56 returns exception",
          checked: agreementsExceptions and "56-returns-exception" in agreementsExceptions
        },
        {
          divider: "or"
        },
        {
          value: "none",
          text: "None",
          checked: agreementsExceptions and "none" in agreementsExceptions,
          behaviour: "exclusive"
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
