{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "macros/page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {{ pageHeading(pageTitle, pageTitleCaption) }}

  <hr class="govuk-section-break govuk-!-margin-bottom-2 govuk-section-break--m govuk-section-break--visible ">

  {{ govukSummaryList({
    classes: 'govuk-!-margin-bottom-2',
    rows: [
      {
        classes: 'govuk-summary-list__row--no-border',
        key: {
          text: "Reason"
        },
        value: {
          text: reason
        }
      },
      {
        classes: 'govuk-summary-list__row--no-border',
        key: {
          text: "Start date"
        },
        value: {
          text: startDate
        }
      }
    ]
  }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {% for returnRequirement in returnRequirements %}
    <p class="govuk-!-font-weight-bold govuk-!-font-size-24"> {{ returnRequirement }}</p>
  {% endfor %}

  <form method="post" class="govuk-!-margin-top-9">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
    <input type="hidden" id="licence-id" name="licenceId" value="{{ licenceId }}" />

    {{ govukButton({ text: "Confirm cancel", preventDoubleClick: true }) }}
  </form>
{% endblock %}
