{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "macros/page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#existing-error"
        }
      ]
      }) }}
  {% endif %}

  {% set radioItems = [] %}
  {% for existingOption in existingOptions %}
    {% set radioItem = {
      value: existingOption.value,
      text: existingOption.text
    } %}

    {% set radioItems = (radioItems.push(radioItem), radioItems) %}
  {% endfor %}

  {% set pageHeading %}
    {{ pageHeading(pageTitle, pageTitleCaption) }}
  {% endset %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: "existing",
      errorMessage: error,
      fieldset: {
        legend: {
          html: pageHeading
        }
      },
      hint: {
        text: "Select which requirements you want to use for this return."
      },
      items: radioItems
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
