{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: 'frequency-reported',
      id: 'frequency-reported',
      errorMessage: error['frequency-reported'],
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          value: "day",
          text: "Daily",
          checked: "day" === frequencyReported
        },
        {
          value: "week",
          text: "Weekly",
          checked: "week" === frequencyReported
        },
        {
          value: "month",
          text: "Monthly",
          checked: "month" === frequencyReported
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
