{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: "method",
      errorMessage: error.method,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          id: 'useAbstractionData',
          value: "useAbstractionData",
          text: "Start by using abstraction data",
          checked: "useAbstractionData" === method
        },
        {
          id: 'useExistingRequirements',
          value: "useExistingRequirements",
          text: "Copy existing requirements",
          checked: "useExistingRequirements" === method
        } if displayCopyExisting,
        {
          divider: "or"
        },
        {
          id: 'setUpManually',
          value: "setUpManually",
          text: "Set up manually",
          checked: "setUpManually" === method
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
