{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: "method",
      errorMessage: error.method,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          value: "use-abstraction-data",
          text: "Start by using abstraction data",
          checked: "use-abstraction-data" === method
        },
        {
          value: "use-existing-requirements",
          text: "Copy existing requirements",
          checked: "use-existing-requirements" === method
        } if displayCopyExisting,
        {
          divider: "or"
        },
        {
          value: "set-up-manually",
          text: "Set up manually",
          checked: "set-up-manually" === method
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
