{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: "reason",
      errorMessage: error.reason,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          id: 'abstractionBelow100CubicMetresPerDay',
          text: 'Abstraction amount below 100 cubic metres per day',
          value:  'abstraction-below-100-cubic-metres-per-day',
          checked: reason === 'abstraction-below-100-cubic-metres-per-day'
        },
        {
          id: 'licenceConditionsDoNotRequireReturns',
          text: 'Licence conditions do not require returns',
          value: 'licence-conditions-do-not-require-returns',
          checked: reason === 'licence-conditions-do-not-require-returns'
        },
        {
          id: 'returnsException',
          text: 'Returns exception',
          value: 'returns-exception',
          checked: reason === 'returns-exception'
        },
        {
          id: 'temporaryTrade',
          text: 'Temporary trade',
          value: 'temporary-trade',
          checked: reason === 'temporary-trade'
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
