{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/licence-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {# Error summary #}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#points"
        }
      ]
    }) }}
  {%endif%}

  {% set pageHeading %}
    {{ pageHeading(licenceRef, pageTitle, 'govuk-heading-xl') }}
  {% endset %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% set checkBoxItems = [] %}
    {% for licencePoint in licencePoints %}

      {% set checkBoxItem = {
        value: licencePoint.id,
        text: licencePoint.description,
        checked: licencePoint.id in selectedPointIds
      } %}

      {% set checkBoxItems = (checkBoxItems.push(checkBoxItem), checkBoxItems) %}

    {% endfor %}

    {{ govukCheckboxes({
      name: "points",
      errorMessage: error,
      hint: {
        text: "Select all that apply"
      },
      fieldset: {
        legend: {
          html: pageHeading
        }
      },
      items: checkBoxItems
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
