{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "macros/licence-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#purposes"
        }
      ]
    }) }}
  {%endif%}

  {% set pageHeading %}
    {{ pageHeading(licenceRef, pageTitle) }}
  {% endset %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% set checkBoxItems = [] %}
    {% for purpose in purposes %}
      {# Set an easier to use index. Also means we can refer to it inside our loop #}
      {% set checkIndex = loop.index0 %}

      {% set aliasInput %}
        {{ govukInput({
          id: 'alias-' + checkIndex,
          name: 'alias-' + purpose.id,
          type: 'text',
          value: purpose.alias,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Add a purpose description (optional)"
          },
          attributes: { 'data-test': 'purpose-alias-' + checkIndex }
        }) }}
      {% endset %}

      {% set checkBoxItem = {
        id: 'purposes-' + checkIndex,
        name: 'purposes',
        value: purpose.id,
        text: purpose.description,
        checked: purpose.checked,
        attributes: { 'data-test': 'purpose-' + checkIndex },
        conditional: { html: aliasInput }
      } %}

      {% set checkBoxItems = (checkBoxItems.push(checkBoxItem), checkBoxItems) %}

    {% endfor %}

    {{ govukCheckboxes({
      name: "purposes",
      errorMessage: error,
      hint: {
        text: "Select all that apply"
      },
      fieldset: {
        legend: {
          html: pageHeading
        }
      },
      items: checkBoxItems,
      attributes: { 'data-test': 'purposes' }
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
