{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% set checkBoxItems = [] %}
    {% for purpose in purposes %}
      {# Set an easier to use index. Also means we can refer to it inside our loop #}
      {% set checkIndex = loop.index0 %}

      {% set aliasInput %}
        {{ govukInput({
          id: 'alias-' + checkIndex,
          name: 'alias-' + purpose.id,
          type: 'text',
          value: purpose.alias,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Add a purpose description (optional)"
          },
          attributes: { 'data-test': 'purpose-alias-' + checkIndex }
        }) }}
      {% endset %}

      {% set checkBoxItem = {
        id: 'purposes-' + checkIndex,
        name: 'purposes',
        value: purpose.id,
        text: purpose.description,
        checked: purpose.checked,
        attributes: { 'data-test': 'purpose-' + checkIndex },
        conditional: { html: aliasInput }
      } %}

      {% set checkBoxItems = (checkBoxItems.push(checkBoxItem), checkBoxItems) %}

    {% endfor %}

    {{ govukCheckboxes({
      name: "purposes",
      errorMessage: error.purposes,
      hint: {
        text: "Select all that apply"
      },
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: checkBoxItems,
      attributes: { 'data-test': 'purposes' }
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
