{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: "reason",
      errorMessage: error.reason,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          text: 'Change to requirements for returns',
          value: 'change-to-return-requirements',
          checked: 'change-to-return-requirements' === reason
        },
        {
          text: 'Change to special agreement',
          value: 'change-to-special-agreement',
          checked: 'change-to-special-agreement' === reason
        },
        {
          text: 'Error correction',
          value: 'error-correction',
          checked: 'error-correction' === reason
        },
        {
          text: 'Licence holder name or address change',
          value: 'name-or-address-change',
          checked: 'name-or-address-change' === reason
        },
        {
          text: 'Licence transferred and now chargeable',
          value: 'transfer-and-now-chargeable',
          checked: 'transfer-and-now-chargeable' === reason
        },
        {
          text: 'Limited extension of licence validity (LEV)',
          value: 'extension-of-licence-validity',
          checked: 'extension-of-licence-validity' === reason
        },
        {
          text: 'Major change',
          value: 'major-change',
          checked: 'major-change' === reason
        },
        {
          text: 'Minor change',
          value: 'minor-change',
          checked: 'minor-change' === reason
        },
        {
          text: 'New licence in part succession or licence apportionment',
          value: 'new-licence-in-part-succession-or-licence-apportionment',
          checked: 'new-licence-in-part-succession-or-licence-apportionment' === reason
        },
        {
          text: 'New licence',
          value: 'new-licence',
          checked: 'new-licence' === reason
        },
        {
          text: 'New special agreement',
          value: 'new-special-agreement',
          checked: 'new-special-agreement' === reason
        },
        {
          text: 'Succession or transfer of licence',
          value: 'succession-or-transfer-of-licence',
          checked: 'succession-or-transfer-of-licence' === reason
        },
        {
          text: 'Succession to remainder licence or licence apportionment',
          value: 'succession-to-remainder-licence-or-licence-apportionment',
          checked: 'succession-to-remainder-licence-or-licence-apportionment' === reason
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
