{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "macros/licence-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {{ pageHeading(licenceRef, pageTitle) }}

  <p class="govuk-!-margin-bottom-7 govuk-!-margin-top-7 govuk-!-font-weight-bold govuk-!-font-size-27">{{ returnRequirement }}</p>

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukButton({ text: "Remove", preventDoubleClick: true }) }}
  </form>
{% endblock %}
