{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "macros/licence-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#returnsCycle"
        }
      ]
    }) }}
  {%endif%}

  {% set pageHeading %}
    {{ pageHeading(licenceRef, pageTitle) }}
  {% endset %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: "returnsCycle",
      errorMessage: error,
      fieldset: {
        legend: {
          html: pageHeading
        }
      },
      items: [
        {
          value: "summer",
          text: "Summer",
          checked: "summer" === returnsCycle
        },
        {
          value: "winter-and-all-year",
          text: "Winter and all year",
          checked: "winter-and-all-year" === returnsCycle
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
