{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: 'returnsCycle',
      errorMessage: error.returnsCycle,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          id: "summer",
          value: "summer",
          text: "Summer",
          checked: "summer" === returnsCycle
        },
        {
          id: "winterAndAllYear",
          value: "winterAndAllYear",
          text: "Winter and all year",
          checked: "winterAndAllYear" === returnsCycle
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
