{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: 'returns-cycle',
      errorMessage: error['returns-cycle'],
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          value: "summer",
          text: "Summer",
          checked: "summer" === returnsCycle
        },
        {
          value: "winter-and-all-year",
          text: "Winter and all year",
          checked: "winter-and-all-year" === returnsCycle
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
