{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      label: {
        html: pageHeadingHtml
      },
      hint: {
        text: "This is the description that will appear on the return"
      },
      value: siteDescription,
      id: 'siteDescription',
      name: 'siteDescription',
      errorMessage: error.siteDescription
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
