{% extends 'layout.njk' %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/date-input/macro.njk' import govukDateInput %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% set dateInputHTML %}
  {% if error %}
    {% set errorClass = 'govuk-input--error' %}
  {% else %}
    {% set errorClass = '' %}
  {% endif %}

  {{ govukDateInput({
    id: 'other-start-date',
    namePrefix: 'start-date',
    errorMessage: error.dateInputFormElement,
    fieldset: {
      legend: {
        classes: 'govuk-fieldset__legend--m',
        text: 'Start date'
      }
    },
    items: [
      {
        classes: 'govuk-input--width-2 ' + errorClass,
        name: 'day',
        value: anotherStartDateDay
      },
      {
        classes: 'govuk-input--width-2 ' + errorClass,
        name: 'month',
        value: anotherStartDateMonth
      },
      {
        classes: 'govuk-input--width-4 ' + errorClass,
        name: 'year',
        value: anotherStartDateYear
      }
    ]
  }) }}
{% endset %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.message,
          href: '#startDate-error'
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-body">
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {{ govukRadios({
        name: 'start-date-options',
        errorMessage: error.radioFormElement,
        fieldset: {
          legend: {
            html: '<span class="govuk-caption-l">Licence ' + licenceRef + '</span>' + pageTitle,
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--l'
          }
        },
        items: [
          {
            id: 'licence-start-date',
            value: 'licenceStartDate',
            text: 'Licence version start date',
            hint: {
              text:  licenceVersionStartDate
            },
            checked: startDateOption === 'licenceStartDate'
          },
          {
            id: 'another-start-date',
            value: 'anotherStartDate',
            text: 'Another date',
            hint: {
              text: 'For example, 27 3 2007'
            },
            checked: startDateOption === 'anotherStartDate',
            conditional: {
              html: dateInputHTML
            }
          }
        ]
      }) }}

      {{ govukButton({ text: 'Continue', preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
