{% extends 'layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "macros/new-line-array-items.njk" import newLineArrayItems %}
{% from "macros/notification-status-tag.njk" import statusTag %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <p>{{ statusTag(status, false) }}</p>

  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border',
    attributes: {
      'data-test': 'meta-data'
    },
    rows: [
      {
        key: { text: 'Reference', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-reference">' + reference + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: 'Sent date', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-sent-date">' + sentDate + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: 'Sent by', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-sent-by">' + sentBy + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: 'Sent to', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-sent-to">' + sentTo + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: 'Notify status', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-notify-status">' + errorDetails.status + '</span>', classes: "meta-data__value" }
      } if errorDetails,
      {
        key: { text: 'Error description', classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-error-text">' + errorDetails.description + '</span>', classes: "meta-data__value" }
      } if errorDetails
    ]
  }) }}

  {% if alertDetails %}
    {{ govukSummaryList({
      card: {
        title: {
          text: 'Alert details'
        }
      },
      attributes: {
        'data-test': 'alert-details'
      },
      rows: [
        {
          key: { text: 'Monitoring station' },
          value: { html: '<span data-test="alert-details-monitoring-station">' + alertDetails.monitoringStation + '</span>' }
        },
        {
          key: { text: 'Restriction type' },
          value: { html: '<span data-test="alert-details-monitoring-station">' + alertDetails.alertType + '</span>' }
        },
        {
          key: { text: 'Threshold' },
          value: { html: '<span data-test="alert-details-threshold">' + alertDetails.threshold + '</span>' }
        }
      ]
    }) }}
  {% endif %}

  {% if paperForm %}
    {{ govukSummaryList({
      card: {
        title: {
          text: 'Return details'
        }
      },
      attributes: {
        'data-test': 'paper-return'
      },
      rows: [
        {
          key: { text: 'Return reference' },
          value: { html: '<span data-test="paper-return-return-reference">' + paperForm.reference + '</span>' },
          actions: {
            items: [
              {
                href: paperForm.link,
                text: 'View return'
              }
            ]
          }
        },
        {
          key: { text: 'Site description' },
          value: { html: '<span data-test="paper-return-site-description">' + paperForm.siteDescription + '</span>' }
        },
        {
          key: { text: 'Purpose' },
          value: { html: '<span data-test="paper-return-purpose">' + paperForm.purpose + '</span>' }
        },
        {
          key: { text: 'Return period' },
          value: { html: '<span data-test="paper-return-return-period">' + paperForm.period + '</span>' }
        }
      ]
    }) }}

    {% if paperForm.downloadLink %}
      <p><a href="{{ paperForm.downloadLink }}" target="_blank" rel="noopener noreferrer">View paper return</a></p>
    {% else %}
      <p>No PDF available.</p>
    {% endif %}
  {% endif %}

  {% if contents %}
    <div class="govuk-body message-preview">
      {% if messageType === 'letter' %}
        <p>{{ newLineArrayItems(address) }}</p>
      {% endif %}

      {{ contents | markdown | safe }}

    </div>
  {% endif %}
{% endblock %}
