{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "macros/new-line-array-items.njk" import newLineArrayItems %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Go back to communications',
      href: '/system/licences/' + licenceId + '/communications'
    })
  }}
{% endblock %}

{% block content %}
  {# Main heading #}
  <div class="govuk-body">
    <span class="govuk-caption-l"> Licence {{ licenceRef }} </span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      {{ pageTitle }}
    </h1>

    {{ govukInsetText({
      attributes: { 'data-test': 'sent-date' },
      classes: "govuk-!-margin-bottom-1 govuk-!-margin-top-1",
      text: "Sent " + sentDate
    }) }}
  </div>

  <div class="message-preview govuk-body">
    {% if messageType === 'letter' %}
      <div class="govuk-!-margin-bottom-5">
        {{ newLineArrayItems(address) }}
      </div>
    {% endif %}

    {{ contents | markdown | safe }}
  </div>
{% endblock %}
