{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% from "macros/user-status-tag.njk" import statusTag %}

{% block pageContent %}
  <p>{{ statusTag(status) }} {{ lastSignedIn }}</p>

  {% for company in companies %}
    <h2 class="govuk-heading-l govuk-!-margin-bottom-0">{{ company.companyName }}</h2>
    <p>{{ company.mostSignificantRoleName }}</p>
    {% if company.showLicences %}
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">{{ company.licences.length }} licences</h3>
      {% set licenceContent %}
        {% for licence in company.licences %}
          <p><a href="{{ licence.licenceLink }}">{{ licence.licenceRef }}</a> {{ licence.licenceHolderName }}</p>
        {% endfor %}
      {% endset %}
      {{ govukDetails({
        classes: "govuk-!-margin-bottom-2",
        html: licenceContent,
        summaryText: "View licences"
      }) }}
    {% endif %}
  {% endfor %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukButton({ text: "Edit", preventDoubleClick: true }) }}
  </form>
{% endblock %}
