{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% from "macros/user-status-tag.njk" import statusTag %}

{% block pageContent %}
  <p>{{ statusTag(status) }} {{ lastSignedIn }}</p>

  <p>Permissions: {{ permissions }}</p>

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukButton({ text: "Edit", preventDoubleClick: true }) }}
  </form>
{% endblock %}
