<h2 class="govuk-heading-l">Communications</h2>

{% if notifications.data.length %}
  {% for message in communications %}
    <div class="phone--show">
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
            {% if message.isPdf %}
                {{ message.event.metadata.name }}
                <span class="govuk-visually-hidden"> sent {{ message.event.created | date }} via {{ message.messageType }}</span>
            {% else %}
                <a href="/licences/{{ documentId }}/communications/{{ message.id }}">
                {{ message.event.metadata.options.sendingAlertType | sentenceCase + ' - ' if message.event.metadata.name == 'Water abstraction alert' else '' }}
                {{ message.event.metadata.name }}
                <span class="govuk-visually-hidden"> sent {{ message.event.created | date }} via {{ message.messageType }}</span>
                </a>
            {% endif %}
        </h3>
        <p>{{ message.messageType | title }} sent {{ message.date | date }}
            <span class="govuk-caption-m link--no-underline">
            By {{ message.sender }}
            </span>
        </p>
    </div>
  {% endfor %}

  <table class="govuk-table phone--hide">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Type</th>
        <th class="govuk-table__header" scope="col">Sent</th>
        <th class="govuk-table__header" scope="col">Sender</th>
        <th class="govuk-table__header" scope="col">Method</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for message in notifications.data %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">
                {% if message.isPdf %}
                    {{ message.event.metadata.name }}
                    <span class="govuk-visually-hidden"> sent {{ message.event.created | date }} via {{ message.messageType }}</span>
                {% else %}
                    <a href="/licences/{{ documentId }}/communications/{{ message.id }}">
                    {{ message.event.metadata.options.sendingAlertType | sentenceCase + ' - ' if message.event.metadata.name == 'Water abstraction alert' else '' }}
                    {{ message.event.metadata.name }}
                    <span class="govuk-visually-hidden"> sent {{ message.event.created | date }} via {{ message.messageType }}</span>
                    </a>
                {% endif %}
            </td>
            <td class="govuk-table__cell">
                {{ message.event.created | date }}
            </td>
            <td class="govuk-table__cell">
                {{ message.event.issuer }}
            </td>
            <td class="govuk-table__cell">
                {{ message.messageType | sentenceCase }}
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}
  <p>No communications for this licence.</p>
{% endif %}
