{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "macros/badge.njk" import statusBadge %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Go back to bill for ' + accountNumber,
      href: '/system/bills/' + billId
    })
  }}
{% endblock %}

{% block content %}
  {# Main heading #}
  <div class="govuk-body">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <span class="govuk-caption-l">Bill run {{ billRunNumber }}</span>{{ pageTitle }}
    </h1>

    {{ govukInsetText({
      text: 'The ' + licencesText + ' will go into the next supplementary bill run.'
    }) }}
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">

      {# Status badge #}
      <p class="govuk-body">
        {{ statusBadge(billRunStatus) }}
      </p>

      {# Bill run meta-data #}
      {#
        GOV.UK summary lists only allow us to assign attributes at the top level and not to each row. This means we
        can't assign our data-test attribute using the component. Our solution is to use the html option for each row
        instead of text and wrap each value in a <span>. That way we can manually assign our data-test attribute to the
        span.
      #}
      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          attributes: {
            'data-test': 'bill-run-meta-data'
          },
          rows: [
            {
              key: { text: "Date created", classes: "meta-data__label" },
              value: { html: '<span data-test="meta-data-created">' + dateCreated + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Region", classes: "meta-data__label" },
              value: { html: '<span data-test="meta-data-region">' + region + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Bill run type", classes: "meta-data__label" },
              value: { html: '<span data-test="meta-data-type">' + billRunType + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Charge scheme", classes: "meta-data__label" },
              value: { html: '<span data-test="meta-data-scheme">' + chargeScheme + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Financial year", classes: "meta-data__label" },
              value: { html: '<span data-test="meta-data-year">' + financialYear + '</span>', classes: "meta-data__value" }
            }
          ]
        })
      }}

      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          attributes: {
            'data-test': 'bill-meta-data'
          },
          rows: [
            {
              key: { text: "Billing account", classes: "meta-data__label" },
              value: { html: '<span data-test="bill-meta-data-billing-account">' + accountNumber + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Bill for", classes: "meta-data__label" },
              value: { html: '<span data-test="bill-meta-data-bill-for">' + accountName + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Total", classes: "meta-data__label" },
              value: { html: '<span data-test="bill-meta-data-total">' + total + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: licencesText, classes: "meta-data__label" },
              value: { html: '<span data-test="bill-meta-data-licences">' + licences + '</span>', classes: "meta-data__value" }
            }
          ]
        })
      }}

      <form method="post">
        {{ govukButton({ text: "Remove this bill" }) }}
      </form>
    </div>
  </div>
{% endblock %}
