{% extends 'layout-customers.njk' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% set tableRows = [] %}

{% for licence in licences %}
  {% set rowIndex = loop.index0 %}

  {% set tableRow = [
    {
      html: '<a href="/system/licences/' + licence.id + '/summary">' + licence.licenceRef + '</a>',
      attributes: { 'data-test': 'licence-ref-' + rowIndex }
    },
    {
      text: licence.licenceName,
      attributes: { 'data-test': 'licence-name-' + rowIndex }
    },
    {
      text: licence.startDate,
      attributes: { 'data-test': 'start-date-' + rowIndex }
    },
    {
      text: licence.endDate,
      attributes: { 'data-test': 'end-date-' + rowIndex }
    }
  ] %}

  {% set tableRows = (tableRows.push(tableRow), tableRows) %}
{% endfor %}


{% block pageContent %}
  {{ govukTable({
    caption: "Showing all licences",
    captionClasses: "govuk-table__caption--m",

    head: [
      {
        text: "Licence"
      },
      {
        text: "Licence name"
      },
      {
        text: "Start date"
      },
      {
        text: "End date"
      }
    ],
    rows: tableRows
  }) }}
{% endblock %}
