<html>
<head>
  <meta charset="utf-8" />
  <style>
    {% include "includes/reset.css" %}
    {% include "includes/custom.css" %}

    /* Hard-coded footer styles */
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 210mm;
      padding: 0 9mm;
      box-sizing: border-box;
    }

    .footer .left {
      text-align: left;
    }

    .footer .right {
      text-align: right;
    }
  </style>
</head>
<body>
<div class="footer">
  <div class="left">
    <p class="smaller">WR71 - October 2018</p>
  </div>
  <div class="right">
    <p class="pagination smaller">
      Page <span class="pageNumber"></span> of <span class="totalPages"></span>
    </p>
  </div>
</div>
</body>
</html>
