{% extends 'layout-licences.njk' %}

{% from "macros/points-summary-cards.njk" import pointsSummaryCards %}

{% block pageContent %}
  {% if licencePoints.length === 0 %}
    <p>No points for this licence.</p>
  {% else %}
    <p> {{ showingPoints }} </p>
    {{ pointsSummaryCards(licencePoints) }}
  {% endif %}
{% endblock %}
