{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}


{% block breadcrumbs %}
  {# Back link #}
  {{ govukBackLink({
      text: 'Go back to licence',
      href: '/system/bill-runs/' + billRun.id + '/review/' + licenceId + '/match-details/' + chargeElement.reviewChargeElementId
  }) }}
{% endblock %}

{% set quantityInputHTML %}
  {% if error.customQuantityInputFormElement %}
    {% set errorClass = 'govuk-input--error' %}
  {% endif %}

  {{ govukInput({
    id: "custom-quantity-input",
    name: "customQuantity",
    errorMessage: error.customQuantityInputFormElement,
    classes: "govuk-!-width-one-third " + errorClass,
    value: customQuantityValue,
    label: {
      text: "Billable returns quantity"
    },
    hint: {
      text: "Enter a number with no more than 6 decimal places. For example, 20.123456"
    },
    suffix: {
      text: "ML"
    }
  }) }}

{% endset %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.message,
          href: '#billable-volumes-error'
        }
      ]
    }) }}
  {% endif %}

  {% set insertText %}
    <div data-test="financial-year">
      Financial year {{billRun.financialYear}}
    </div>
    <div data-test="charge-period">
      Charge period {{chargeVersion.chargePeriod}}
    </div>
  {%endset%}

  {% set secondHeader %}
    {{ govukInsetText({
      html: insertText
    }) }}
  {% endset %}

  <div class="govuk-body">
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {{ govukRadios({
          name: 'quantity-options',
          errorMessage: error.radioFormElement,
          fieldset: {
            legend: {
              html: '<span class="govuk-caption-l">' + chargeElement.description + ' ' +  chargeElement.dates + '</span>' + '<div data-test="title">' + 'Set the billable returns quantity for this bill run' + '</div>' + secondHeader,
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          items: [
            {
              id: 'authorised-quantity',
              value: authorisedQuantity,
              html: '<div data-test="authorised-quantity">Authorised ' + authorisedQuantity + 'ML</div>'
            },
            {
              id: 'custom-quantity',
              value: 'customQuantity',
              text: 'Custom quantity',
              checked: customQuantitySelected,
              conditional: {
                html: quantityInputHTML
              }
            }
          ]
        }) }}

      {# Hidden input for authorised volume #}
      <input type="hidden" name="authorisedVolume" value="{{ authorisedQuantity }}">

      {{ govukButton({ text: 'Confirm', preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
