{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% block breadcrumbs %}
  {# Back link #}
  {{ govukBackLink({
      text: 'Go back to licence',
      href: '/system/bill-runs/' + billRunId + '/review/' + licenceId + '/charge-reference-details/' + chargeReference.id
  }) }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.authorisedVolume,
          href: '#authorised-volume-error'
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{chargeReference.description}}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Set the authorised volume</h1>

      {% set insertText %}
        <p class="govuk-body govuk-!-margin-bottom-0">
          <span class="govuk-!-font-weight-bold">Financial year</span>
          {{financialYear}}
        </p>
        <p class="govuk-body">
          <span class="govuk-!-font-weight-bold">Charge period</span>
          {{chargePeriod}}
        </p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Total billable returns</p>
        <p class="govuk-body govuk-!-margin-bottom-0">{{chargeReference.totalBillableReturns}}</p>
      {% endset %}

      {{ govukInsetText({
          html: insertText
        })
      }}

      <form method="post">
        {{ govukInput({
          label: {
            text: "Authorised volume",
            classes: "govuk-label"
          },
          id: "authorised-volume",
          name: "authorisedVolume",
          classes: "govuk-input--width-10",
          value: chargeReference.authorisedVolume,
          errorMessage: error.authorisedVolume,
          suffix: {
            text: "ML"
          }
        }) }}

        {# Hidden input for authorised volume #}
        <input type="hidden" name="totalBillableReturns" value="{{ chargeReference.totalBillableReturns }}">
        <input type="hidden" name="minVolume" value="{{ chargeCategory.minVolume }}">
        <input type="hidden" name="maxVolume" value="{{ chargeCategory.maxVolume }}">

        {{ govukButton({ text: 'Confirm', preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
