{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block breadcrumbs %}
  {# Back link #}
  {{ govukBackLink({
      text: 'Go back to licence',
      href: '/system/bill-runs/' + billRunId + '/review/' + licenceId
  }) }}
{% endblock %}

{% block content %}

  {# Adjustment factor ammended banner #}
  {% if bannerMessage %}
    {{ govukNotificationBanner({
      titleText: 'Adjustment updated',
      text: bannerMessage
    }) }}
  {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Charge reference {{chargeReference.reference}}</span> {{chargeReference.description}}
      </h1>
    <span class="govuk-caption-m">Financial Year {{financialYear}}</span>
    <h2 class="govuk-heading-m">
      Charge period {{chargePeriod}}
    </h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-right-6 float-left">
      <h3>
        <span class="govuk-body govuk-font-size-64 govuk-!-font-weight-bold">{{chargeReference.totalBillableReturns}} ML</span>
        <div>
          <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-19">Total billable returns</span>
        </div>
      </h3>
    </div>
    <div class="govuk-!-margin-right-6 float-left">
      <h3>
        <span class="govuk-body govuk-font-size-64 govuk-!-font-weight-bold">/</span>
      </h3>
    </div>
    <div class="govuk-!-margin-right-6 float-left">
      <h3>
        <span class="govuk-body govuk-font-size-64 govuk-!-font-weight-bold">{{chargeReference.authorisedVolume}} ML</span>
        <div>
          <span class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-19">Authorised volume</span>
        </div>
      </h3>
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-6">
  <div class="govuk-grid-column-full">
    {% if hasAggregateOrChargeFactor %}
      <span class="inline govuk-!-margin-right-3">
        {{ govukButton({
          text: "Change the authorised volume",
          classes: "govuk-button--secondary",
          preventDoubleClick: true,
          href: chargeReference.id + '/amend-authorised-volume'
        }) }}
      </span>
    {% endif %}

    <span class="inline">
      {{ govukButton({
        text: "Preview the charge",
        preventDoubleClick: true,
        classes: "govuk-button--secondary"
      }) }}
    </span>
  </div>
</div>

{% if chargeReference.additionalCharges or chargeReference.adjustments.length > 0 %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">
        Reference details
      <h2>

      {% set adjustmentsValue %}
          {% for adjustment in chargeReference.adjustments %}
          <div>{{adjustment}}</div>
          {% endfor %}
      {% endset %}

      {% if hasAggregateOrChargeFactor %}
        {% set showLink = {
          items: [
                  {
                  href: chargeReference.id + "/amend-adjustment-factor",
                  text: "Change factors"
                  }
                ]
          }%}
      {% endif %}

      {% set tableRows = [] %}
      {% if chargeReference.additionalCharges %}
        {% set tableRow = {
            key: {
              text: "Additional charges"
            },
            value: {
              text: chargeReference.additionalCharges
            }
          }
        %}

        {% set tableRows = (tableRows.push(tableRow), tableRows) %}
      {% endif %}

      {% if chargeReference.adjustments %}
        {% set tableRow = {
            key: {
              text: "Adjustments"
            },
            value: {
              html: adjustmentsValue
            },
            actions: showLink
          }
        %}

        {% set tableRows = (tableRows.push(tableRow), tableRows) %}
      {% endif %}

      {{ govukSummaryList({
        rows: tableRows
      }) }}
    </div>
  </div>
{% endif %}
{% endblock %}
