{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "macros/bill-run-status-tag.njk" import statusTag %}

{% block pageContent %}
  <p>Create a supplementary, annual or two-part tariff bill run.</p>

  {{ govukButton({ text: "Create a bill run", href: "/system/bill-runs/setup", preventDoubleClick: true }) }}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-l">{{ pageSubHeading }}</h2>

  {# Filters #}
  {% set filtersForm %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Filter by</h2>
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{ wrlsCrumb }}" />

      {# Filter by year created #}
      {{ govukInput({
        classes: "govuk-input--width-3",
        id: "yearCreated",
        label: {
          classes: "govuk-label--s",
          isPageHeading: false,
          text: "Year created"
        },
        name: "yearCreated",
        value: filters.yearCreated,
        errorMessage: error.yearCreated
      }) }}

      {# Filter by region #}
      {% set regionItems = [] %}
      {% for region in regions %}
        {% set regionItem = {
          attributes: { 'data-test': region.displayName },
          checked: filters.regions.includes(region.id),
          text: region.displayName, value: region.id
          } %}

        {% set regionItems = (regionItems.push(regionItem), regionItems) %}
      {% endfor %}

      {{ govukCheckboxes({
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Region",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: regionItems,
        name: "regions"
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          preventDoubleClick: true,
          text: "Apply filters"
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary ",
          name: "clearFilters",
          preventDoubleClick: true,
          text: "Clear filters",
          value: 'reset'
        }) }}
      </div>
    </form>
  {% endset %}

  {{ govukDetails({
    classes: "govuk-!-margin-bottom-2",
    html: filtersForm,
    open: filters.openFilter,
    summaryText: "Filters"
  }) }}

  {# Results #}
  {% if billRuns|length === 0 %}
    <p>No bill runs found.</p>
  {% else %}
    {% set tableRows = [] %}
    {% for billRun in billRuns %}
      {# Set an easier to use index #}
      {% set rowIndex = loop.index0 %}

      {# Link to view the bill run #}
      {% set viewLink %}
        {# If the link is null it is because the bill run is cancelling so we do not want to display a link #}
        {% if billRun.link %}
          <a class="govuk-link" href="{{ billRun.link }}">
            {{ billRun.createdAt }}<span class="govuk-visually-hidden">View bill run {{ billRun.number }}</span>
          </a>
        {% else %}
          {{ billRun.createdAt }}
        {% endif %}

        {% if billRun.scheme === 'alcs' %}
          <p class="govuk-body-s govuk-!-margin-0">Old charge scheme</p>
        {% endif %}
      {% endset %}

      {% set billRunStatusTag %}
        {{ statusTag(billRun.status, true) }}
      {% endset %}

      {% set tableRow = [
        {
          html: viewLink,
          attributes: { 'data-test': 'date-created-' + rowIndex }
        },
        {
          text: billRun.region,
          attributes: { 'data-test': 'region-' + rowIndex }
        },
        {
          text: billRun.type,
          attributes: { 'data-test': 'bill-run-type-' + rowIndex }
        },
        {
          text: billRun.number,
          attributes: { 'data-test': 'bill-run-number-' + rowIndex },
          format: 'numeric'
        },
        {
          text: billRun.numberOfBills,
          attributes: { 'data-test': 'number-of-bills-' + rowIndex },
          format: 'numeric'
        },
        {
          text: billRun.total,
          attributes: { 'data-test': 'bill-run-total-' + rowIndex },
          format: 'numeric'
        },
        {
          html: billRunStatusTag,
          attributes: { 'data-test': 'bill-run-status-' + rowIndex },
          format: 'numeric'
        }
      ] %}

      {% set tableRows = (tableRows.push(tableRow), tableRows) %}
    {% endfor %}

    {{ govukTable({
        attributes: { 'data-test': 'bill-runs'},
        caption: pagination.showingMessage,
        captionClasses: "govuk-table__caption--s govuk-!-margin-bottom-2",
        firstCellIsHeader: false,
        head: [
          { text: 'Date' },
          { text: 'Region' },
          { text: 'Run type' },
          { text: 'Number', format: 'numeric' },
          { text: 'Bills', format: 'numeric' },
          { text: 'Values', format: 'numeric' },
          { text: 'Status', format: 'numeric' }
        ],
        rows: tableRows
    }) }}

    {{ govukPagination(pagination.component) if pagination.numberOfPages > 1 }}
  {% endif %}
{% endblock %}
