{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "macros/badge.njk" import badge %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Go back to review licences',
      href: '/system/bill-runs/' + billRunId + '/review'
    })
  }}
{% endblock %}

{% block content %}
  {# Main heading #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{region}} two-part tariff bill run</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{pageTitle}}</h1>

      {# Status badge #}
      {% if status == 'review' %}
        {% set colour = "govuk-tag--blue govuk-!-font-size-16" %}
      {% else %}
        {% set colour = "govuk-tag--green govuk-!-font-size-16" %}
      {% endif %}

      <p class="govuk-body">
        {{govukTag({
          text: status,
          classes: colour
        })}}
      </p>
    </div>
  </div>

  {# ------------- Licence nav bars --------------- #}
  <ul class="govuk-summary-list__actions-list govuk-!-margin-bottom-3">
    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="/licences/{{ licence.licenceId }}#summary">
        Summary
      </a></li>
    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="/licences/{{ licence.licenceId }}#returns">
        Returns
      </a></li>
      <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="/licences/{{ licence.licenceId }}#charge">
        Charge information
      </a></li>
  </ul>

  {# ------------- Charge Periods --------------- #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Charge periods</h2>
      {% for chargePeriodDate in chargePeriodDates %}
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">{{chargePeriodDate}}</a>
          </li>
        </ul>
      {% endfor %}
    </div>
  </div>

  <div class="divider govuk-!-margin-bottom-6"></div>

  {# ------------- Matched Returns --------------- #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Returns</h2>
    </div>
  </div>

  {% if matchedReturns.length > 0 %}
      {% set tableRows = [] %}
        {% for return in matchedReturns %}
          {# Set an easier to use index #}
          {% set rowIndex = loop.index0 %}

          {% if return.status == 'overdue' or return.status == 'query' %}
            {% set colour = "govuk-tag--red"%}
          {% elif return.status == 'void' %}
            {% set colour = "govuk-tag--grey" %}
          {% else %}
            {% set colour = "govuk-tag--green" %}
          {% endif %}

          {% set statusTag %}
            {{govukTag({
              text: return.status,
              classes: colour + ' govuk-!-font-size-14'
            })}}
          {% endset %}

        {% set action %}
        <a class="govuk-link" href="/licences/{{ licence.licenceId }}#returns">{{ return.reference }}<span class="govuk-visually-hidden"></a>
        {% endset %}

        {% set tableRow = [
          {
            html: action | safe + '<br>' + return.dates,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'matched-return-' + rowIndex }
          },
          {
            html: return.purpose + '<br>' + return.description,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'matched-return-' + rowIndex }
            },
          {
            html: statusTag,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'matched-return-' + rowIndex }
          },
          {
            html: return.total + '<br>' + return.allocated | join('<br>'),
            classes: "govuk-body-s govuk-!-text-align-right",
            attributes: { 'data-test': 'matched-return-' + rowIndex }
          }]
        %}

        {% set tableRows = (tableRows.push(tableRow), tableRows) %}
        {% endfor %}

      {# Table displaying details of the matched returns #}
      {{ govukTable({
        caption: "Matched returns",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: 'Return reference and dates'
          },
          {
            text: 'Purpose and description'
          },
          {
            text: 'Status'
          },
          {
            text: 'Return totals Allocated/Total',
            format: 'numeric',
            classes: 'width-one-tenth'
          }
        ],
        rows: tableRows
      }) }}
  {% endif %}

  {# ------------- Unmatched Returns --------------- #}
  {% if unmatchedReturns.length > 0 %}
      {% set tableRows = [] %}
        {% for return in unmatchedReturns %}
          {# Set an easier to use index #}
          {% set rowIndex = loop.index0 %}

          {% if return.status == 'overdue' or return.status == 'query' %}
            {% set colour = "govuk-tag--red"%}
          {% elif return.status == 'void' %}
            {% set colour = "govuk-tag--grey" %}
          {% else %}
            {% set colour = "govuk-tag--green" %}
          {% endif %}

          {% set statusTag %}
            {{govukTag({
              text: return.status,
              classes: colour + ' govuk-!-font-size-14'
            })}}
          {% endset %}

        {% set action %}
        <a class="govuk-link" href="/licences/{{ licence.licenceId }}#returns">{{ return.reference }}<span class="govuk-visually-hidden"></a>
        {% endset %}

        {% set tableRow = [
          {
            html: action | safe + '<br>' + return.dates,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'unmatched-return-' + rowIndex }
          },
          {
            html: return.purpose + '<br>' + return.description,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'unmatched-return-' + rowIndex }
          },
          {
            html: statusTag,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'unmatched-return-' + rowIndex }
          },
          {
            html: return.total + '<br>' + return.allocated | join('<br>'),
            classes: "govuk-body-s govuk-!-text-align-right",
            attributes: { 'data-test': 'unmatched-return-' + rowIndex }
          }
          ]
        %}

        {% set tableRows = (tableRows.push(tableRow), tableRows) %}
        {% endfor %}

      {# Table displaying details of the matched returns #}
      {{ govukTable({
        caption: "Unmatched returns",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: 'Return reference and dates'
          },
          {
            text: 'Purpose and description'
          },
          {
            text: 'Status'
          },
          {
            text: 'Return totals',
            format: 'numeric'
          }
        ],
        rows: tableRows
      }) }}
  {% endif %}

  {% if matchedReturns == 0 and unmatchedReturns == 0 %}
      <h2 class="govuk-heading-m">No two-part tariff returns</h2>
  {% endif %}

  <div class="divider govuk-!-margin-bottom-6"></div>

  {# Chris Code Attempt #}
  {# Loop through Charge Reference #}

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      {% for chargeVersion in chargeData %}
        <div class ="govuk-caption-l">{{chargeVersion.financialYear}}</div>
        <h2 class="govuk-heading-l">{{chargeVersion.chargePeriodDate}}</h2>

        <div class="govuk-caption-m">{{chargeVersion.licenceHolderName}}</div>
        <div class="govuk-heading-m govuk-!-margin-bottom-1">{{chargeVersion.chargeVersionSummary}}</div>

        {# Billing account details #}
      {% set billingAccountLink = '/billing-accounts/' + chargeVersion.billingAccountDetails.billingAccountId %}
        <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Billing account details
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body ">
              <span class="govuk-!-font-weight-bold">Billing account <a class="govuk-link" href="{{ billingAccountLink }}">{{ chargeVersion.billingAccountDetails.accountNumber }}</a></span><br>
              <span data-test="account-name">{{ chargeVersion.billingAccountDetails.accountName }}</span><br>
              {# billing account contact name #}
              {% if chargeVersion.billingAccountDetails.contactName %}
                <span data-test="contact-name">FAO {{chargeVersion.billingAccountDetails.contactName}}</span><br>
              {% endif %}
              {# billing account address #}
              <span data-test="address">
                {{ chargeVersion.billingAccountDetails.addressLines.join("<br>") | safe }}
              </span>
            </p>
          </div>
        </details>

        {% for chargeReference in chargeVersion.chargeReferences %}
          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-full">
              <div class="govuk-summary-card ">
                <div class="govuk-summary-card__title-wrapper ">
                  <h3 class="govuk-summary-card__title"><span class="govuk-!-font-weight-regular">{{chargeReference.chargeCategory}}</span><br>{{chargeReference.chargeDescription}}</h3>
                </div>

                <div class="govuk-summary-card__content govuk-!-padding-top-0">
                  {% set rows = [] %}
                  {% set row = {
                    classes: "border-bottom",
                    key: {
                      text: "Total billable returns"
                    },
                    value: {
                      text: chargeReference.totalBillableReturns
                    }
                    }
                  %}

                  {% set rows = (rows.push(row), rows) %}

                  <div class="govuk-!-margin-top-0">
                    {{ govukSummaryList({
                      classes: "govuk-!-margin-bottom-9",
                      rows: rows
                    }) }}
                  </div>

                  {# Loop through the charge elements #}
                  {% for chargeElement in chargeReference.chargeElements %}
                    {% set elementRows = [] %}

                    {# Status badge #}
                    {% if chargeElement.elementStatus == 'review' %}
                      {% set elementColour = "govuk-tag--blue govuk-!-font-size-16" %}
                    {% else %}
                      {% set elementColour = "govuk-tag--green govuk-!-font-size-16" %}
                    {% endif %}

                    {% set statusTag %}
                      {{govukTag({
                        text: chargeElement.elementStatus,
                        classes: elementColour
                      })}}
                    {% endset %}

                    {# set the element heading #}
                    {% set elementHeading %}
                    <div class="tag-wrapper">
                      <span class="govuk-body govuk-!-font-weight-regular">{{chargeElement.elementNumber}}</span>
                      <span class="float-right govuk-!-margin-left-9 govuk-!-margin-top-3 tag-element">{{statusTag|safe}} </span>
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{chargeElement.elementDescription}}<br> {{chargeElement.dates |safe}} </h3>
                    </div>
                    {% endset %}

                    {#set the element rows in the summary list #}
                    {% set elementRow = [{
                        key: {
                          text: 'Issues'
                        },
                        value: {
                          html: chargeElement.issues | join('<br>')
                        }
                      },
                      {
                        key: {
                          text: 'Billable returns'
                        },
                        value: {
                          text: chargeElement.billableReturns
                        },
                        actions: {
                          items: [
                          {
                            href: '#',
                            text: 'View match details',
                            visuallyHiddenText: ''
                          }
                        ]}
                      },
                      {
                        key: {
                          text: 'Return volume'
                        },
                        value: {
                          html: chargeElement.returnVolume | join('<br>')
                        }
                      }]
                    %}

                    {% set elementRows = (elementRows.push(elementRow), elementRows) %}

                    <div class="govuk-!-margin-top-6">
                      {{elementHeading |safe }}
                      {{ govukSummaryList({
                        classes: "govuk-!-margin-bottom-9",
                        rows: elementRow
                      }) }}
                    </div>
                  {% endfor%}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor%}
    </div>
  </div>

{% endblock%}
