{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "macros/badge.njk" import badge %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Go back to review licences',
      href: '/system/bill-runs/' + billRunId + '/review'
    })
  }}
{% endblock %}

{% block content %}
{# Main heading #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{region}} two-part tariff bill run</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{pageTitle}}</h1>

      {# Status badge #}
      {% if status == 'review' %}
        {% set colour = "govuk-tag--blue govuk-!-font-size-16" %}
      {% else %}
        {% set colour = "govuk-tag--green govuk-!-font-size-16" %}
      {% endif %}

      <p class="govuk-body">
        {{govukTag({
          text: status,
          classes: colour
        })}}
      </p>
    </div>
  </div>

{# Licence nav bar #}
<ul class="govuk-summary-list__actions-list govuk-!-margin-bottom-3">
  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="#">
      Summary
    </a></li>
  <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="#">
      Returns
    </a></li>
    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="#">
      Charge information
    </a></li>
</ul>

{# Charge Period #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Charge periods</h2>
      {% for chargePeriodDate in chargePeriodDates %}
        <ul class="govuk-list">
          <li>
            <a class="govuk-link" href="#">{{chargePeriodDate}}</a>
          </li>
        </ul>
      {% endfor %}
    </div>
  </div>
  <div class="divider govuk-!-margin-bottom-6"></div>

{# Matched Returns #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Returns</h2>
    </div>
  </div>

      {% set tableRows = [] %}
        {% for return in matchedReturns %}
          {# Set an easier to use index #}
          {% set rowIndex = loop.index0 %}

          {% if return.status == 'overdue' or return.status == 'query' %}
            {% set colour = "govuk-tag--red"%}
          {% elif return.status == 'void' %}
            {% set colour = "govuk-tag--grey" %}
          {% else %}
            {% set colour = "govuk-tag--green" %}
          {% endif %}

          {% set statusTag %}
            {{govukTag({
              text: return.status,
              classes: colour + ' govuk-!-font-size-14'
            })}}
          {% endset %}

        {% set action %}
        <a class="govuk-link" href="/">{{ return.reference }}<span class="govuk-visually-hidden"></a>
        {% endset %}

        {% set tableRow = [
          {
            html: action | safe + '<br>' + return.dates,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'matched-return-' + rowIndex }
          },
          {
            html: return.purpose + '<br>' + return.description,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'matched-return-' + rowIndex }
            },
          {
            html: statusTag,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'matched-return-' + rowIndex }
          },
          {
            html: return.total + '<br>' + return.allocated,
            classes: "govuk-body-s govuk-!-text-align-right",
            attributes: { 'data-test': 'matched-return-' + rowIndex }
          }]
        %}

        {% set tableRows = (tableRows.push(tableRow), tableRows) %}
        {% endfor %}

      {# Table displaying details of the matched returns #}
      {{ govukTable({
        caption: "Matched returns",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: 'Return reference and dates'
          },
          {
            text: 'Purpose and description'
          },
          {
            text: 'Status'
          },
          {
            text: 'Return totals Allocated/Total',
            format: 'numeric',
            classes: 'width-one-tenth'
          }
        ],
        rows: tableRows
      }) }}

      {# Unmatched Returns #}
  {% if unmatchedReturns.length > 0 %}
      {% set tableRows = [] %}
        {% for return in unmatchedReturns %}
          {# Set an easier to use index #}
          {% set rowIndex = loop.index0 %}

          {% if return.status == 'overdue' or return.status == 'query' %}
            {% set colour = "govuk-tag--red"%}
          {% elif return.status == 'void' %}
            {% set colour = "govuk-tag--grey" %}
          {% else %}
            {% set colour = "govuk-tag--green" %}
          {% endif %}

          {% set statusTag %}
            {{govukTag({
              text: return.status,
              classes: colour + ' govuk-!-font-size-14'
            })}}
          {% endset %}

        {% set action %}
        <a class="govuk-link" href="/">{{ return.reference }}<span class="govuk-visually-hidden"></a>
        {% endset %}

        {% set tableRow = [
          {
            html: action | safe + '<br>' + return.dates,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'unmatched-return-' + rowIndex }
          },
          {
            html: return.purpose + '<br>' + return.description,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'unmatched-return-' + rowIndex }
          },
          {
            html: statusTag,
            classes: 'govuk-body-s',
            attributes: { 'data-test': 'unmatched-return-' + rowIndex }
          },
          {
            html: return.total,
            classes: "govuk-body-s govuk-!-text-align-right",
            attributes: { 'data-test': 'unmatched-return-' + rowIndex }
          }
          ]
        %}

        {% set tableRows = (tableRows.push(tableRow), tableRows) %}
        {% endfor %}

      {# Table displaying details of the matched returns #}
      {{ govukTable({
        caption: "Unmatched returns",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
          {
            text: 'Return reference and dates'
          },
          {
            text: 'Purpose and description'
          },
          {
            text: 'Status'
          },
          {
            text: 'Return totals',
            format: 'numeric'
          }
        ],
        rows: tableRows
      }) }}
  {% endif %}

  <div class="divider govuk-!-margin-bottom-6"></div>
{% endblock %}
