{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "macros/review-status-tag.njk" import statusTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Go back to review licences',
      href: '/system/bill-runs/' + billRunId + '/review'
    })
  }}
{% endblock %}

{% block content %}
  {# Licence updated banner #}
  {% if bannerMessage %}
    {{ govukNotificationBanner({
      titleText: 'Licence updated',
      text: bannerMessage
    }) }}
  {% endif %}

  {# Main heading #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">{{region}} two-part tariff bill run</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{pageTitle}}</h1>

      <p class="govuk-body">
        {{ statusTag(licence.status) }}
      </p>
    </div>
  </div>

  {# Licence nav bars #}
  <ul class="govuk-summary-list__actions-list govuk-!-margin-bottom-3">
    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="/licences/{{ licence.licenceId }}#summary">
        Summary
      </a></li>
    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="/licences/{{ licence.licenceId }}#returns">
        Returns
      </a></li>
      <li class="govuk-summary-list__actions-list-item"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state govuk-link--no-underline" href="/licences/{{ licence.licenceId }}#charge">
        Charge information
      </a></li>
  </ul>

  {# Licence in review text #}
  {% if elementsInReview === true %}
    {{ govukInsetText({
      text: "There are elements in review"
    }) }}
  {% endif %}

  {# Change status #}
  {% if licence.status === 'ready' %}
    {% set statusButtonText = 'Put licence into Review' %}
    {% set statusButtonValue = 'review' %}
    {% set statusButtonClass = "govuk-button--secondary" %}
  {% else %}
    {% set statusButtonText = 'Confirm licence is ready' %}
    {% set statusButtonValue = 'ready' %}
    {% set statusButtonClass = "govuk-button--primary" %}
  {% endif %}

  {# Mark progress #}
  {% if licence.progress %}
    {% set progressButtonText = 'Remove progress mark' %}
    {% set progressButtonValue = 'unmark' %}
  {% else %}
    {% set progressButtonText = 'Mark progress' %}
    {% set progressButtonValue = 'mark' %}
  {% endif %}

  <form method="post">
    <div class="govuk-button-group">
    {{ govukButton({
      text: statusButtonText,
      classes: statusButtonClass,
      preventDoubleClick: true,
      name: "licence-status",
      value: statusButtonValue
    }) }}

    {{ govukButton({
      text: progressButtonText,
      classes: "govuk-button--secondary",
      preventDoubleClick: true,
      name: "mark-progress",
      value: progressButtonValue
    }) }}
    </div>
  </form>

  {# Charge Periods #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Charge periods</h2>
        <ul class="govuk-list">
        {% for chargeVersion in chargeData %}
          {% set chargeDateIndex = loop.index0 %}
            <li>
              <a class="govuk-link" href="#chargeVersion{{chargeDateIndex}}">{{chargeVersion.chargePeriodDate}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
  </div>

  <div class="divider govuk-!-margin-bottom-6"></div>

  {# Returns #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-1">Returns</h2>
    </div>
  </div>

  {# Matched Returns #}
  {% if matchedReturns.length > 0 %}
    {% set tableRows = [] %}
    {% for return in matchedReturns %}
      {% set matchedReturnIndex = loop.index0 %}

      {% set action %}
        <a class="govuk-link" href="{{return.returnLink}}">{{ return.reference }}<span class="govuk-visually-hidden"></a>
        <div>{{return.dates}}</div>
      {% endset %}

      {% set returnSummary %}
        <div>
          {{ return.purpose }}
        </div>
          {{ return.description }}
      {% endset %}

      {% set tag %}
        {{ statusTag(return.returnStatus) }}
      {% endset %}

      {% set issues = '' %}
      {% for issue in return.issues %}
        {% set issues = issues + '<div>' + issue + '</div>' %}
      {% endfor %}

      {% set tableRow = [
        {
          html: action,
          classes: 'govuk-body-s',
          attributes: { 'data-test': 'matched-return-action' + matchedReturnIndex }
        },
        {
          html: returnSummary,
          classes: 'govuk-body-s',
          attributes: { 'data-test': 'matched-return-summary' + matchedReturnIndex }
          },
        {
          html: tag,
          classes: 'govuk-body-s',
          attributes: { 'data-test': 'matched-return-status' + matchedReturnIndex }
        },
        {
          html: "<div>" + return.returnTotal + "</div>" + issues,
          classes: "govuk-body-s govuk-!-text-align-right",
          attributes: { 'data-test': 'matched-return-total' + matchedReturnIndex}
        }]
      %}

      {% set tableRows = (tableRows.push(tableRow), tableRows) %}
    {% endfor %}

    {# Table displaying details of the matched returns #}
    {{ govukTable({
      caption: "Matched returns",
      captionClasses: "govuk-table__caption--m",
      attributes: { 'data-test': 'matched-returns' },
      firstCellIsHeader: false,
      head: [
        {
          text: 'Return reference and dates'
        },
        {
          text: 'Purpose and description'
        },
        {
          text: 'Status'
        },
        {
          text: 'Return totals Allocated/Total',
          format: 'numeric',
          classes: 'width-one-tenth'
        }
      ],
        rows: tableRows
      }) }}
  {% endif %}

  {# Unmatched Returns #}
  {% if unmatchedReturns.length > 0 %}
    {% set tableRows = [] %}
    {% for return in unmatchedReturns %}
      {% set unmatchedReturnIndex = loop.index0 %}

      {% set action %}
        <a class="govuk-link" href="{{return.returnLink}}">{{ return.reference }}<span class="govuk-visually-hidden"></a>
        <div>{{return.dates}}</div>
      {% endset %}

      {% set returnSummary %}
        <div>
          {{ return.purpose }}
        </div>
          {{ return.description }}
      {% endset %}

      {% set tag %}
        {{ statusTag(return.returnStatus) }}
      {% endset %}

      {% set issues = '' %}
      {% for issue in return.issues %}
        {% set issues = issues + '<div>' + issue + '</div>' %}
      {% endfor %}

      {% set tableRow = [
        {
          html: action,
          classes: 'govuk-body-s',
          attributes: { 'data-test': 'unmatched-return-action' + unmatchedReturnIndex }
        },
        {
          html: returnSummary,
          classes: 'govuk-body-s',
          attributes: { 'data-test': 'unmatched-return-summary' + unmatchedReturnIndex }
        },
        {
          html: tag,
          classes: 'govuk-body-s',
          attributes: { 'data-test': 'unmatched-return-status' + unmatchedReturnIndex }
        },
        {
          html: "<div>" + return.returnTotal + "</div>" + issues,
          classes: "govuk-body-s govuk-!-text-align-right",
          attributes: { 'data-test': 'unmatched-return-total' + unmatchedReturnIndex }
        }
        ]
      %}

      {% set tableRows = (tableRows.push(tableRow), tableRows) %}
    {% endfor %}

    {# Table displaying details of the unmatched returns #}
    {{ govukTable({
      caption: "Unmatched returns",
      captionClasses: "govuk-table__caption--m",
      attributes: { 'data-test': 'unmatched-returns' },
      firstCellIsHeader: false,
      head: [
        {
          text: 'Return reference and dates'
        },
        {
          text: 'Purpose and description'
        },
        {
          text: 'Status'
        },
        {
          text: 'Return totals',
          format: 'numeric'
        }
      ],
      rows: tableRows
    }) }}
  {% endif %}

  {# No Returns #}
  {% if matchedReturns == 0 and unmatchedReturns == 0 %}
      <h2 class="govuk-heading-m">No two-part tariff returns</h2>
  {% endif %}

  <div class="divider govuk-!-margin-bottom-6"></div>

  {# Loop through Charge Versions #}
  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      {% for chargeVersion in chargeData %}
      {% set chargeVersionIndex = loop.index0 %}
        <div class ="govuk-caption-l">Financial year {{chargeVersion.financialYear}}</div>
        <section id="chargeVersion{{chargeVersionIndex}}">
          <h2 class="govuk-heading-l">Charge periods {{chargeVersion.chargePeriodDate}}</h2>
        </section>
        <div class="govuk-caption-m">{{chargeVersion.licenceHolderName}}</div>

        {% set chargeReferenceText = "charge references " if chargeVersion.chargeReferences.length > 1 else "charge reference " %}
        {% set chargeElementText = "charge elements " if chargeVersion.chargeElementCount > 1 else "charge element " %}

        <div class="govuk-heading-m govuk-!-margin-bottom-1">{{chargeVersion.chargeReferences.length}} {{chargeReferenceText}} with {{chargeVersion.chargeElementCount}} two-part tariff {{chargeElementText}}</div>

        {# Billing account details #}
        {% set billingAccountLink = '/billing-accounts/' + chargeVersion.billingAccountDetails.billingAccountId %}
        {% set billingAccountText %}
          <div class="govuk-!-font-weight-bold">Billing account <a class="govuk-link" href="{{ billingAccountLink }}">{{ chargeVersion.billingAccountDetails.accountNumber }}</a></div>
          <div data-test="account-name">{{ chargeVersion.billingAccountDetails.accountName }}</div>

          {# billing account contact name #}
          {% if chargeVersion.billingAccountDetails.contactName %}
            <div data-test="contact-name">FAO {{chargeVersion.billingAccountDetails.contactName}}</div>
          {% endif %}

          {# billing account address #}
          <div>
            {% for addressLine in chargeVersion.billingAccountDetails.addressLines %}
            {% set addressLineIndex = loop.index0 %}
              <div data-test="address-line" + addressLineIndex>{{addressLine}}</div>
            {% endfor %}
          </div>
        {% endset%}

        {{ govukDetails({
          attributes: { 'data-test': 'billing-account-details' },
          summaryText: "Billing account details",
          html: billingAccountText
        }) }}

        {# Loop through Charge References #}
        {% for chargeReference in chargeVersion.chargeReferences %}
          {% set chargeReferenceIndex = loop.index0 %}
          <div class="govuk-grid-row govuk-!-margin-bottom-3">
            <div class="govuk-grid-column-full">
              <div class="govuk-summary-card ">
                <div class="govuk-summary-card__title-wrapper ">
                  <h3 class="govuk-summary-card__title"><span class="govuk-!-font-weight-regular">{{chargeReference.chargeCategory}}</span><div>{{chargeReference.chargeDescription}}</div></h3>
                </div>

                <div class="govuk-summary-card__content govuk-!-padding-top-0">
                  {% set rows = [] %}
                  {% set row = {
                    classes: "border-bottom",
                    key: {
                      text: "Total billable returns",
                      attributes: { 'data-test': 'total' }
                    },
                    value: {
                      text: chargeReference.totalBillableReturns,
                      attributes: { 'data-test': 'total-billable-returns' }
                    }
                    }
                  %}

                  {% set rows = (rows.push(row), rows) %}

                  <div class="govuk-!-margin-top-0">
                    {{ govukSummaryList({
                      attributes: { 'data-test': 'charge-reference' + chargeReferenceIndex },
                      classes: "govuk-!-margin-bottom-9 govuk-section-break govuk-section-break--visible",
                      rows: rows
                    }) }}
                  </div>

                  {# Loop through charge elements #}
                  {% for chargeElement in chargeReference.chargeElements %}
                    {% set chargeElementIndex = loop.index0 %}
                    {% set elementRows = [] %}

                    <div class="govuk-!-margin-top-6">
                      <span class="govuk-body govuk-!-font-weight-regular">{{chargeElement.elementNumber}}</span>
                      <span class="float-right">
                        {{ statusTag(chargeElement.elementStatus) }}
                      </span>
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{chargeElement.elementDescription}}
                        <div>
                          {% for chargeElementDate in chargeElement.dates %}
                            <div>{{ chargeElementDate }}</div>
                          {% endfor %}
                        </div>
                      </h3>

                      {% set issues = '' %}
                      {% for issue in chargeElement.issues %}
                        {% set issues = issues + '<div>' + issue + '</div>' %}
                      {% endfor %}

                      {% set returnVolumes  = '' %}
                      {% for returnVolume  in chargeElement.returnVolume  %}
                        {% set returnVolumes = returnVolumes + '<div>' + returnVolume  + '</div>' %}
                      {% endfor %}

                      {# set the element rows in the summary list #}
                      {% set elementRow = [{
                          key: {
                            text: 'Issues'
                          },
                          value: {
                            html: issues,
                            attributes: { 'data-test': 'charge-element-issues' + chargeElementIndex }
                          }
                        },
                        {
                          key: {
                            text: 'Billable returns'
                          },
                          value: {
                            text: chargeElement.billableReturns,
                            attributes: { 'data-test': 'charge-element-billable-returns' + chargeElementIndex }
                          },
                          actions: {
                            items: [
                            {
                              href: licence.licenceId + '/match-details/' + chargeElement.reviewChargeElementId,
                              text: 'View match details',
                              visuallyHiddenText: ''
                            }
                          ]}
                        },
                        {
                          key: {
                            text: 'Return volume'
                          },
                          value: {
                            html: returnVolumes,
                            attributes: { 'data-test': 'charge-element-return-volumes' + chargeElementIndex }
                          }
                        }]
                      %}

                      {{ govukSummaryList({
                        attributes: { 'data-test': 'charge-elements' },
                        classes: "govuk-!-margin-bottom-9",
                        rows: elementRow
                      }) }}
                    </div>
                  {% endfor%}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor%}
    </div>
  </div>
{% endblock%}
