{% extends 'layout-companies.njk' %}

{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "macros/return-status-tag.njk" import statusTag as returnStatusTag %}

{% set tableRows = [] %}

{% for licenceRole in licenceRoles %}
  {% set rowIndex = loop.index0 %}

  {% if rowIndex > 0 %}
    {% set lastLicenceId = licenceRoles[rowIndex - 1].licenceId %}
  {% else %}
    {% set lastLicenceId = null %}
  {% endif %}

  {% set tableRow = [] %}

  {% if lastLicenceId !== licenceRole.licenceId %}
    {% set licenceCell =
      {
        html: '<a class="govuk-link govuk-body-m" href="/system/licences/' + licenceRole.licenceId + '/summary">' + licenceRole.licenceRef + '</a>',
        attributes: { 'data-test': 'licence-ref-' + rowIndex },
        rowspan: licenceRole.licenceRoleCount
      } %}

    {% set tableRow = (tableRow.push(licenceCell), tableRow) %}
  {% endif %}

  {% set communicationTypeCell =
    {
      text: licenceRole.communicationType,
      attributes: { 'data-test': 'communication-type-' + rowIndex }
    } %}
  {% set tableRow = (tableRow.push(communicationTypeCell), tableRow) %}

  {% set startDateCell =
    {
      text: licenceRole.startDate,
      attributes: { 'data-test': 'start-date-' + rowIndex }
    } %}
  {% set tableRow = (tableRow.push(startDateCell), tableRow) %}

  {% set endDateCell =
    {
      text: licenceRole.endDate,
      attributes: { 'data-test': 'end-date-' + rowIndex }
    } %}
  {% set tableRow = (tableRow.push(endDateCell), tableRow) %}

  {% set statusCell =
    {
      html: licenceRole.endDate,
      attributes: { 'data-test': 'end-date-' + rowIndex }
    } %}
  {% set tableRow = (tableRow.push(endDateCell), tableRow) %}

  {% set tableRows = (tableRows.push(tableRow), tableRows) %}
{% endfor %}


{% block pageContent %}
  {{ govukTable({
    caption: pagination.showingMessage,
    head: [
      {
        text: "Licence"
      },
      {
        text: "Communication type"
      },
      {
        text: "Start date"
      },
      {
        text: "End date"
      }
    ],
    rows: tableRows
  }) }}

  {% if pagination.numberOfPages > 1  %}
    {{ govukPagination(pagination.component) }}
  {% endif %}
{% endblock %}
