{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro newLine(array) %}
  {% for item in array %}
    <p class="govuk-!-margin-bottom-1"> {{ item }}</p>
  {% endfor %}
{% endmacro %}

{% block breadcrumbs %}
  {{ govukBackLink({
    text: 'Go back to summary',
    href: '/system/licences/' + licenceId + '/summary'
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Licence {{ licenceRef }}</span>
    {{ pageTitle }}
  </h1>

  {{ govukWarningText({
    text: "We may not be able to show a full list of the conditions, because we do not hold all of the licence
    information on our system yet. You should refer to the paper copy of the licence to view all conditions.",
    iconFallbackText: "Warning"
  }) }}

  <div class="govuk-grid-row ">
    <div class="govuk-grid-column-full">
      {% for conditionType in conditionTypes %}
        {% set topAttr = 'condition-type-' + loop.index0 %}

        <div class="govuk-grid-row govuk-!-margin-bottom-3">

            <div class="govuk-summary-card ">
              <div class="govuk-summary-card__title-wrapper ">
                <h2 class="govuk-summary-card__title govuk-table__caption--m govuk-!-margin-bottom-0">{{ conditionType.displayTitle }}</h2>
              </div>

              <div class="govuk-summary-card__content govuk-!-padding-top-0">
                {% for condition in conditionType.conditions %}
                  {% set conditionIndex = loop.index0 %}

                  {{ govukSummaryList({
                    classes: "govuk-summary-list--no-border",
                    rows: [
                      {
                        key: {
                          text: 'Condition type',
                          attributes: { 'data-test': topAttr + '-condition-' + conditionTypeIndex + '-type' }
                        },
                        value: {
                          text: condition.conditionType
                        }
                      },
                      {
                        key: {
                          text: condition.param1.label,
                          attributes: { 'data-test': topAttr + '-condition-' + conditionTypeIndex + '-param-1' }
                        },
                        value: {
                          text: condition.param1.value
                        }
                      } if condition.param1,
                      {
                        key: {
                          text: condition.param2.label,
                          attributes: { 'data-test': topAttr + '-condition-' + conditionTypeIndex + '-param-2' }
                        },
                        value: {
                          text: condition.param2.value
                        }
                      } if condition.param2,
                      {
                        key: {
                          text: 'Other information',
                          attributes: { 'data-test': topAttr + '-condition-' + conditionTypeIndex + '-other-information' }
                        },
                        value: {
                          text: condition.otherInformation
                        }
                      },
                      {
                        key: {
                          text: 'Purpose',
                          attributes: { 'data-test': topAttr + '-condition-' + conditionTypeIndex + '-purpose' }
                        },
                        value: {
                          text: condition.purpose
                        }
                      },
                      {
                        key: {
                          text: condition.abstractionPoints.label,
                          attributes: { 'data-test': topAttr + '-condition-' + conditionTypeIndex + '-purpose' }
                        },
                        value: {
                          html: newLine(condition.abstractionPoints.descriptions)
                        }
                      }
                    ]
                  }) }}

                  {% if conditionIndex < conditionType.conditions.length - 1 %}
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                  {% endif %}
                {% endfor %}
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
