{% extends 'layout-licences.njk' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block subPageContent %}
  {% if customerContactLink %}
    <p class="govuk-body"><a class="govuk-link" href={{ customerContactLink }}>Go to customer contacts</a></p>
  {% endif %}

  {% set tableHeaders = [
    { text: 'Name' },
    { text: 'Contact type' }
  ] %}

  {% set licenceContactsTableRows = [] %}

  {% for licenceContact in licenceContacts %}
    {# Set an easier to use index. Also means we can refer to it inside our elementDetail loop #}
    {% set rowIndex = loop.index0 %}

    {% set transactionRow = [
      {
        text: licenceContact.name,
        attributes: { 'data-test': 'licence-contact-name-' + rowIndex }
      },
      {
        text: licenceContact.communicationType,
        attributes: { 'data-test': 'licence-contact-type-' + rowIndex }
      }
    ] %}

    {% set licenceContactsTableRows = (licenceContactsTableRows.push(transactionRow), licenceContactsTableRows) %}
  {% endfor %}

  {{ govukTable({
    attributes: { 'data-test': 'licence-contacts-table' },
    caption: "Licence contacts",
    captionClasses: "govuk-table__caption--m",
    firstCellIsHeader: false,
    head: tableHeaders if licenceContacts.length > 0,
    rows: licenceContactsTableRows if licenceContacts.length > 0
  }) }}

  {% if licenceContacts.length === 0 %}
    <p>No licence contacts found.</p>
  {% endif %}
{% endblock %}
