{% extends 'layout.njk' %}

{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}

{% if notification %}
  {% set notification = {
    html: '<strong>' + notification + '</strong>'
  } %}
{% endif %}

{% block pageContent %}
  {% if (workflowWarning === true) and (('billing' in roles) or ('view_charge_versions' in roles)) %}
    {{ govukWarningText({
      text: "This licence has changed and needs the set up reviewed before it can be billed.",
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-one-quarter">
      <nav class="x-govuk-sub-navigation" aria-labelledby="sub-navigation-heading">
        <h2 class="govuk-visually-hidden" id="sub-navigation-heading">Pages in this section</h2>

        <ul class="x-govuk-sub-navigation__section">
          <li
            class="x-govuk-sub-navigation__section-item {% if activeTab === 'summary' %}x-govuk-sub-navigation__section-item--current{% endif %}">
            <a class="x-govuk-sub-navigation__link" href="summary"
              aria-current="{{ 'page' if activeTab === 'summary' }}">
              Licence summary
            </a>
          </li>

          <li
            class="x-govuk-sub-navigation__section-item {% if activeTab === 'contact-details' %}x-govuk-sub-navigation__section-item--current{% endif %}">
            <a class="x-govuk-sub-navigation__link" href="contact-details"
              aria-current="{{ 'page' if activeTab === 'contact-details' }}">
              Contact details
            </a>
          </li>

          <li
            class="x-govuk-sub-navigation__section-item {% if activeTab === 'returns' %}x-govuk-sub-navigation__section-item--current{% endif %}">
            <a class="x-govuk-sub-navigation__link" href="returns"
              aria-current="{{ 'page' if activeTab === 'returns' }}">
              Returns
            </a>
          </li>

          <li
            class="x-govuk-sub-navigation__section-item {% if activeTab === 'communications' %}x-govuk-sub-navigation__section-item--current{% endif %}">
            <a class="x-govuk-sub-navigation__link" href="communications"
              aria-current="{{ 'page' if activeTab === 'communications' }}">
              Communications
            </a>
          </li>

          {% if 'billing' in roles %}
            <li
              class="x-govuk-sub-navigation__section-item {% if activeTab === 'bills' %}x-govuk-sub-navigation__section-item--current{% endif %}">
              <a class="x-govuk-sub-navigation__link" href="bills" aria-current="{{ 'page' if activeTab === 'bills' }}">
                Bills
              </a>
            </li>
          {% endif %}

          {% if 'view_charge_versions' in roles %}
            <li
              class="x-govuk-sub-navigation__section-item {% if activeTab === 'set-up' %}x-govuk-sub-navigation__section-item--current{% endif %}">
              <a class="x-govuk-sub-navigation__link" href="set-up"
                aria-current="{{ 'page' if activeTab === 'set-up' }}">
                Licence set up
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">
      {% block subPageContent %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
