{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block breadcrumbs %}
  {{ govukBackLink({
    text: 'Go back to summary',
    href: '/system/licences/' + licenceId + '/summary'
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Licence {{ licenceRef }}</span>
    {{ pageTitle }}
  </h1>

  {% macro displayAddress(address) %}
    {% for item in address %}
      <p class="govuk-body govuk-!-margin-bottom-0"> {{ item }} </p>
    {% endfor %}
  {% endmacro %}

  {% for licenceContactDetail in licenceContactDetails %}
    {{ govukSummaryList({
      card: {
        title: {
          text: licenceContactDetail.role
        }
      },
      rows: [
        {
          key: {
            text: "Name",
            classes:"govuk-!-font-weight-regular"
          },
          value: {
            text:  licenceContactDetail.name
          }
        } if licenceContactDetail.name,
        {
          key: {
            text: "Address",
            classes:"govuk-!-font-weight-regular"
          },
          value: {
            html: displayAddress(licenceContactDetail.address)
          }
        } if licenceContactDetail.address,
        {
          key: {
          text: "Email",
          classes:"govuk-!-font-weight-regular"
        },
          value: {
          text: licenceContactDetail.email
        }
        } if licenceContactDetail.email
      ]
    })
  }}
  {% endfor %}
{% endblock %}
