{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro newLine(array) %}
  {% for item in array %}
    <div class="govuk-!-margin-bottom-1"> {{ item }}</div>
  {% endfor %}
{% endmacro %}

{% block breadcrumbs %}
  {{ govukBackLink({
    text: 'Go back to summary',
    href: '/system/licences/' + id + '/summary'
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Licence {{ licenceRef }}</span>
    {{ pageTitle }}
  </h1>

  {% for licencePoint in licencePoints %}
    {# Set an easier to use index. #}
    {% set rowIndex = loop.index0 %}

    {# Summary card #}
    {{ govukSummaryList({
      card: {
        title: {
          text: licencePoint.description,
          classes: "govuk-table__caption--m govuk-!-margin-bottom-0"
        }
      },
      rows: [
        {
          key: {
            text: "BGS reference"
          },
          value: {
            text: licencePoint.bgsReference
          }
        },
        {
          key: {
            text: "Category"
          },
          value: {
            text: licencePoint.category
          }
        },
        {
          key: {
            text: "Depth"
          },
          value: {
            text: licencePoint.depth
          }
        },
        {
          key: {
            text: "Grid reference",
            attributes: { 'data-test': 'grid-reference-title-' + rowIndex }
          },
          value: {
            text: licencePoint.gridReference,
            attributes: { 'data-test': 'grid-reference-' + rowIndex }
          }
        },
        {
          key: {
            text: "Hydro intercept distance"
          },
          value: {
            text: licencePoint.hydroInterceptDistance
          }
        },
        {
          key: {
            text: "Hydro offset distance"
          },
          value: {
            text: licencePoint.hydroOffsetDistance
          }
        },
        {
          key: {
            text: "Hydro reference"
          },
          value: {
            text: licencePoint.hydroReference
          }
        },
        {
          key: {
            text: "Location note"
          },
          value: {
            text: licencePoint.locationNote
          }
        },
        {
          key: {
            text: "Note"
          },
          value: {
            text: licencePoint.note
          }
        },
        {
          key: {
            text: "Primary type"
          },
          value: {
            text: licencePoint.primaryType
          }
        },
        {
          key: {
            text: "Secondary type"
          },
          value: {
            text: licencePoint.secondaryType
          }
        },
        {
          key: {
            text: "Source"
          },
          value: {
            text: licencePoint.sourceDescription
          }
        },
        {
          key: {
            text: "Source type"
          },
          value: {
            text: licencePoint.sourceType
          }
        },
        {
          key: {
            text: "Well reference"
          },
          value: {
            text: licencePoint.wellReference
          }
        }
      ]
    }) }}
  {% endfor %}

{% endblock %}
