{% extends 'layout-licences.njk' %}

{% from "macros/purposes-summary-cards.njk" import purposesSummaryCards %}

{% block pageContent %}
  {% if licencePurposes.length === 0 %}
    <p>No purposes for this licence.</p>
  {% else %}
    <p> {{ showingPurposes }} </p>
    {{ purposesSummaryCards(licencePurposes) }}
  {% endif %}
{% endblock %}
