{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Go back to search',
      href: "/licences"
    })
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Licence Number {{ licenceRef }}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">Contents</h2>

        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item ">
            <a class="govuk-tabs__tab" href="#summary">Summary</a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#contacts">Contact details</a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#returns">Returns</a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#communications">Communications</a>
          </li>

          <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#bills">Bills</a>
          </li>

          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#charge">Charge information</a>
          </li>
        </ul>

        <section class="govuk-tabs__panel" id="summary">
          {% include "licences/tabs/summary.njk" %}
        </section>
      </div>
    </div>
  </div>
{% endblock %}
