{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block breadcrumbs %}
  {{
  govukBackLink({
    text: 'Back',
    href: backLink
  })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{
        text: error.text,
        href: anchor
      }]
    }) }}
  {%endif%}

  <div>
    {% set textHtml %}
      {% if error.emailAddressInputFormElement %}
        {% set errorClass = 'govuk-input--error' %}
      {% else %}
        {% set errorClass = '' %}
      {% endif %}

      {{ govukInput({
        id: "other-user",
        name: "otherUser",
        classes: "govuk-!-width-one-third " + errorClass,
        errorMessage: error.emailAddressInputFormElement,
        label: {
          text: "Email address"
        },
        hint: {
          text: "This is usually your area’s team email address"
        }
      }) }}
    {% endset %}

    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
      <span class="govuk-caption-l">{{caption}}</span>

      {{ govukRadios({
        name: 'alertEmailAddress',
        errorMessage: error.radioFormElement,
        fieldset: {
          legend: {
            text: pageTitle,
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--l govuk-!-margin-bottom-6'
          }
        },
        items: [
          {
            value: 'username',
            text: username
          },
          {
            divider: 'or'
          },
          {
            value: 'other',
            text: 'Use another email address',
            conditional: {
              html: textHtml
            }
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
