{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from 'macros/page-heading.njk' import pageHeading %}

{% block breadcrumbs %}
  {{ govukBackLink({ text: 'Back', href: backLink }) }}
{% endblock %}

{% block content %}
  {% set pageHeading %}
    {{ pageHeading(pageTitle, caption) }}
  {% endset %}

  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [{
        text: error.text,
        href: '#alert-type'
      }]
    }) }}
  {% endif %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {{ govukRadios({
      name: 'alert-type',
      errorMessage: error,
      fieldset: {
        legend: {
          html: pageHeading
        }
      },
      items: alertTypeOptions
    }) }}

    {{govukButton({ text: 'Continue', preventDoubleClick: true }) }}
  </form>
{% endblock %}
