{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  {% set textHtml %}
    {{ govukInput({
      id: "otherUser",
      name: "otherUser",
      classes: "govuk-!-width-one-third",
      errorMessage: error.otherUser,
      label: {
        text: "Email address"
      },
      hint: {
        text: "This is usually your area’s team email address"
      },
      value: alertEmailAddressOptions.otherUserEmailAddressInput
    }) }}
  {% endset %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: 'alertEmailAddressType',
      errorMessage: error.alertEmailAddressType,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          value: 'username',
          text: username,
          checked: alertEmailAddressOptions.usernameChecked
        },
        {
          divider: 'or'
        },
        {
          value: 'other',
          text: 'Use another email address',
          checked: alertEmailAddressOptions.otherUserChecked,
          conditional: {
            html: textHtml
          }
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
