{% extends 'layout.njk' %}

{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/summary-list/macro.njk' import govukSummaryList %}

{% from 'macros/page-heading.njk' import pageHeading %}

{% block breadcrumbs %}
  {{ govukBackLink({ text: 'Back', href: backLink }) }}
{% endblock %}

{% block content %}
  {{ pageHeading(pageTitle, caption) }}

  {{ govukSummaryList({
    rows: [
      {},
      {
        key: {
        text: summaryList.text
      },
        value: {
        text: summaryList.value
      }
      }
    ]
  }) }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukButton({ text: "Confirm cancel", preventDoubleClick: true }) }}
  </form>
{% endblock %}
