{% extends "layout/page-layout.njk" %}

{% macro boxes(count = 12) %}
  {#
  Creates a line of boxes for data entry.
  count: The number of horizontal boxes
  #}
  {% for i in range(0, count) -%}
    <div class="number-input {{ ' last-digit' if loop.last }}"></div>
  {%- endfor %}
{% endmacro %}

{% macro rowItem(item) %}

  {% if returnsFrequency === 'month' %}
    <p class="month-label">
      {{ item }}
      {{ boxes(12) }}
    </p>
  {% endif %}

  {% if returnsFrequency === 'week' %}
    <p class="week-label">
      {{ item }}
      {{ boxes(12) }}
    </p>
  {% endif %}

{#  {% if returnsFrequency === 'day' %}#}
{#    <div class="block-head">{{ item.label }}</div>#}
{#    {% for dayNumber in range(0, item.days) %}#}
{#      <div class="daily-input">#}
{#        <div class="day-label">{{ dayNumber + 1 }}</div>#}
{#        {{ boxes(12, isSmall = true) }}#}
{#      </div>#}
{#    {% endfor %}#}
{#  {% endif %}#}

{% endmacro %}

{% set firstColumn = 0 %}
{% set secondColumn = 1 %}

{% block header %}
  {% include 'layout/header.njk' %}
{% endblock %}

{% block content %}
  {% if showHeading %}
    <div class="block-head bold">9. Meter readings or abstraction volumes</div>
  {% endif %}

  <div class="columns">
    <div class="column">
      <div class="block">
      {% for reading in meterReading[firstColumn] %}
            {{ rowItem(reading) }}
      {% endfor %}
      </div>
    </div>

    {% if meterReading[secondColumn] %}
    <div class="column">
      <div class="block">
      {% for reading in meterReading[secondColumn] %}
          {{ rowItem(reading) }}
      {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
{% endblock %}

