{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "macros/collapsible-list.njk" import collapsibleList %}

{% block pageContent %}

  {% set abstractionAlertsHtml %}
    {% if licences.length %}
      <p class="govuk-!-margin-bottom-3">{{ abstractionAlertsLabel }}</p>
      {{ collapsibleList(licences, "Licences") }}
    {% else %}
      <p class="govuk-!-margin-bottom-1">{{ abstractionAlertsLabel }}</p>
    {% endif %}
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Name" },
        value: { text: name }
      },
      {
        key: { text: "Email address" },
        value: { text: email }
      },
      {
        key: { text: "Water abstraction alerts" },
        value: { html: abstractionAlertsHtml }
      }
    ]
  }) }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{ wrlsCrumb }}" />

    {{ govukButton({
      text: "Confirm cancel",
      preventDoubleClick: true
    }) }}
  </form>
{% endblock %}
