{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      value: name,
      id: "name",
      name: "name",
      hint: {
        text: 'This is the name you\'ll see displayed in the service'
      },
      classes: "govuk-!-width-one-half",
      errorMessage: error.name if error.name
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
