{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {# From #}
      {{ govukDateInput({
        id: "abstractionPeriodStart",
        errorMessage: error.abstractionPeriodStart,
        fieldset: {
          legend: {
            text: "Start date",
            classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
          }
        },
        items: [
          {
            id: 'abstractionPeriodStartDay',
            name: 'abstractionPeriodStartDay',
            label: 'Day',
            classes: "govuk-input--width-2",
            value: abstractionPeriodStartDay
          },
          {
            id: 'abstractionPeriodStartMonth',
            name: 'abstractionPeriodStartMonth',
            label: 'Month',
            classes: "govuk-input--width-2",
            value: abstractionPeriodStartMonth
          }
        ]
      }) }}

      {# To #}
      {{ govukDateInput({
        id: "abstractionPeriodEnd",
        errorMessage: error.abstractionPeriodEnd,
        fieldset: {
          legend: {
            text: "End date",
            classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
          }
        },
        items: [
          {
            id: 'abstractionPeriodEndDay',
            name: 'abstractionPeriodEndDay',
            label: 'Day',
            classes: "govuk-input--width-2",
            value: abstractionPeriodEndDay
          },
          {
            id: 'abstractionPeriodEndMonth',
            name: 'abstractionPeriodEndMonth',
            label: 'Month',
            classes: "govuk-input--width-2",
            value: abstractionPeriodEndMonth
          }
        ]
      }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
