{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{# If there is a startAbstractionPeriod error, the error class and message are set #}
{% if error.text.startResult %}
  {% set startResultErrorClass = " govuk-input--error" %}
  {% set startResultErrorMessage = { text: error.text.startResult } %}
{% else %}
  {% set startResultErrorClass = "" %}
  {% set startResultErrorMessage = null %}
{% endif %}

{# If there is a endAbstractionPeriod error, the error class and message are set #}
{% if error.text.endResult %}
    {% set endResultErrorClass = " govuk-input--error" %}
    {% set endResultErrorMessage = { text: error.text.endResult } %}
{% else %}
  {% set endResultErrorClass = "" %}
  {% set endResultErrorMessage = null %}
{% endif %}

{% block content %}
{# Error summary #}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text:error.text.startResult,
          href: "#abstraction-period-start"
        },
        {
          text:error.text.endResult,
          href: "#abstraction-period-end"
        }
      ]
    }) }}
  {%endif%}

  {# Main heading #}
  <span class="govuk-heading-l govuk-!-margin-bottom-3">
    <span class="govuk-caption-l">{{ monitoringStationLabel }}</span> {{ pageTitle }}
  </span>

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {# From #}
    {{ govukDateInput({
      id: "abstraction-period-start",
      namePrefix: "start-abstraction-period",
      errorMessage: startResultErrorMessage,
      fieldset: {
        legend: {
          text: "Start date",
          classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2" + startResultErrorClass,
          value: abstractionPeriod['start-abstraction-period-day']
        },
        {
          name: "month",
          classes: "govuk-input--width-2" + startResultErrorClass,
          value: abstractionPeriod['start-abstraction-period-month']
        }
      ]
    }) }}

    {# To #}
    {{ govukDateInput({
      id: "abstraction-period-end",
      namePrefix: "end-abstraction-period",
      errorMessage: endResultErrorMessage,
      fieldset: {
        legend: {
          text: "End date",
          classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
        }
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2" + endResultErrorClass,
          value: abstractionPeriod['end-abstraction-period-day']
        },
        {
          name: "month",
          classes: "govuk-input--width-2" + endResultErrorClass,
          value: abstractionPeriod['end-abstraction-period-month']
        }
      ]
    }) }}

    <div class="govuk-body">
      {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    </div>
  </form>
{% endblock %}
