{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: error.errorList
    }) }}
  {% endif %}

  {# Main heading #}
  <span class="govuk-heading-l govuk-!-margin-bottom-3">
    <span class="govuk-caption-l">{{ monitoringStationLabel }}</span> {{ pageTitle }}
  </span>

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    <div class="govuk-body">
      {# We can't set the conditional box in the presenter so we need to iterate over the units array to add it #}
      {% set processedUnits = [] %}
      {% for unit_item in displayUnits %}
        {% set thresholdHtml %}
          {{ govukInput({
            label: {
              text: "Threshold"
            },
            classes: "govuk-input--width-10",
            value: threshold,
            errorMessage: {
              text: error.threshold.message
            } if error.threshold,
            id: "threshold",
            name: "threshold-" + unit_item.value
          }) }}
        {% endset %}

        {% set modified_item = {
          "text": unit_item.text,
          "value": unit_item.value,
          "checked": unit_item.checked,
          "hint": unit_item.hint,
          "conditional": {
            "html": thresholdHtml
          }
        } %}

        {% set processedUnits = (processedUnits.push(modified_item), processedUnits) %}
      {% endfor %}

      {{ govukRadios({
        id: "unit",
        name: "unit",
        label: {
          text: "Unit of measurement"
        },
        errorMessage: {
          text: error.unit.message
        } if error.unit,
        items: processedUnits
      }) }}

      {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    </div>
  </form>
{% endblock %}
