{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageContent %}
  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Email address" },
        value: { text: email },
        actions: {
          items: [
            {
              href: links.email,
              text: "Change",
              visuallyHiddenText: "change email address"
            }
          ]
        } if showEmailChangeLink
      },
      {
        key: { text: "Permissions" },
        value: { text: permission },
        actions: {
          items: [
            {
              href: links.permissions,
              text: "Change",
              visuallyHiddenText: "change permissions"
            }
          ]
        }
      },
      {
        key: { text: "Access" },
        value: { text: access },
        actions: {
          items: [
            {
              href: links.access,
              text: "Change",
              visuallyHiddenText: "enable/disable access"
            }
          ]
        }
      } if access
    ]
  }) }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Confirm",
        preventDoubleClick: true
      }) }}

      {{ govukButton({
        text: "Cancel",
        classes: "govuk-button--secondary",
        href: links.cancel,
        preventDoubleClick: true
      }) }}
    </div>
  </form>
{% endblock %}
