{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: 'permissions',
      errorMessage: error.permissions,
      items: [
        {
          id: "basic",
          value: "basic",
          text: "Basic access",
          hint: {
            text: "View licences and returns."
          },
          checked: permissions === 'basic'
        },
        {
          id: "billingAndData",
          value: "billing_and_data",
          text: "Billing and Data",
          hint: {
            text: "Send returns communications, monitor statistics and edit data."
          },
          checked: permissions === 'billing_and_data'
        },
        {
          id: "environmentOfficer",
          value: "environment_officer",
          text: "Environment Officer",
          hint: {
            text: "Send hands-off flow notifications."
          },
          checked: permissions === 'environment_officer'
        },
        {
          id: "nps",
          value: "nps",
          text: "National Permitting Service",
          hint: {
            text: "Send renewals."
          },
          checked: permissions === 'nps'
        },
        {
          id: "npsArApprover",
          value: "nps_ar_approver",
          text: "National Permitting Service and Digitise! approver",
          hint: {
            text: "Send renewals and digitise licence information and approve changes."
          },
          checked: permissions === 'nps_ar_approver'
        },
        {
          id: "npsArUser",
          value: "nps_ar_user",
          text: "National Permitting Service and Digitise! editor",
          hint: {
            text: "Send renewals and digitise licence information."
          },
          checked: permissions === 'nps_ar_user'
        },
        {
          id: "psc",
          value: "psc",
          text: "Permitting and Support Centre",
          hint: {
            text: "Send renewals."
          },
          checked: permissions === 'psc'
        },
        {
          id: "super",
          value: "super",
          text: "Super user",
          hint: {
            text: "Full access to all areas of the service."
          },
          checked: permissions === 'super'
        } if isSuper === true,
        {
          id: "wirs",
          value: "wirs",
          text: "Waste and Industry Regulatory Service",
          hint: {
            text: "Process returns."
          },
          checked: permissions === 'wirs'
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
