{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

<h2 class="govuk-heading-l">Bills</h2>

{% if bills.length === 0 %}
  <p>No bills sent for this licence.</p>
{% else %}
  {% set tableRows = [] %}
  {% for bill in bills %}
    {# Set an easier to use index. Also means we can refer to it inside our elementDetail loop #}
    {% set rowIndex = loop.index0 %}

    {% if bill.credit %}
      {% set billTotal = bill.total + '<div>credit</div>' %}
    {% else %}
      {% set billTotal = bill.total %}
    {% endif %}

    {% set row = [
      {
        html: '<a href="/system/bills/' + bill.billId + '">' + bill.billNumber + '</a>',
        attributes: { 'data-test': 'bill-number-' + rowIndex }
      },
      {
        text: bill.dateCreated,
        attributes: { 'data-test': 'bill-created-' + rowIndex }
      },
      {
        html: '<a href="' + bill.billingAccountLink + '">' + bill.accountNumber + '</a>',
        attributes: { 'data-test': 'bill-account-' + rowIndex }
      },
      {
        text: bill.billRunType,
        attributes: { 'data-test': 'bill-type-' + rowIndex }
      },
      {
        text: bill.financialYearEnding,
        attributes: { 'data-test': 'bill-year-' + rowIndex },
        format: 'numeric'
      },
      {
        html: billTotal,
        attributes: { 'data-test': 'bill-total-' + rowIndex },
        format: 'numeric'
      }
    ] %}

    {% set tableRows = (tableRows.push(row), tableRows) %}
  {% endfor %}

  {{ govukTable({
    attributes: { 'data-test': 'bills-table' },
    firstCellIsHeader: false,
    head: [
      { text: 'Bill number' },
      { text: 'Date created' },
      { text: 'Billing account' },
      { text: 'Bill run type' },
      { text: 'Financial year', format: 'numeric' },
      { text: 'Bill total', format: 'numeric' }
    ],
    rows: tableRows
  }) }}

  {% if pagination.numberOfPages > 1 %}
    {{ govukPagination(pagination.component) }}
  {% endif %}
{% endif %}
