{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro communicationType(communication) %}
  {% if communication.type.pdf %}
    <p class="govuk-body govuk-!-margin-bottom-0">{{ communication.type.label }}<span class="govuk-visually-hidden"> {{ communication.type.sentVia }}</span></p>
  {% else %}
    <a href="/licences/{{ documentId }}/communications/{{ communication.id }}" class="govuk-link">{{ communication.type.label }}
      <span class="govuk-visually-hidden"> {{ communication.type.sentVia }}</span>
    </a>
  {% endif %}
{% endmacro %}

{% macro newCommunicationType(communication) %}
  {% if communication.type.pdf %}
    <p class="govuk-body govuk-!-margin-bottom-0">{{ communication.type.label }}<span class="govuk-visually-hidden"> {{ communication.type.sentVia }}</span></p>
  {% else %}
    {# Testing new communications page link #}
    <a href="/system/notifications/{{ communication.id }}?id=${id}" class="govuk-link">NEW TEST {{ communication.type.label }}
      <span class="govuk-visually-hidden"> {{ communication.type.sentVia }}</span>
    </a>
  {% endif %}
{% endmacro %}



<h2 class="govuk-heading-l">Communications</h2>

{% if communications.length === 0 %}
  <p data-test='no-communications-msg'>No communications for this licence.</p>
{% else %}
  {% set tableRows = [] %}
  {% for communication in communications %}
    {# Set an easier to use index. Also means we can refer to it inside our elementDetail loop #}
    {% set rowIndex = loop.index0 %}

    {% set row = [
      {
        html: communicationType(communication),
        attributes: { 'data-test': 'communication-type-' + rowIndex }
      },
      {
        text: communication.sent,
        attributes: { 'data-test': 'communication-sent-' + rowIndex }
      },
      {
        text: communication.sender,
        attributes: { 'data-test': 'communication-sender-' + rowIndex }
      },
      {
        text: communication.method,
        attributes: { 'data-test': 'communication-method-' + rowIndex }
      }
    ] %}

    {% set tableRows = (tableRows.push(row), tableRows) %}

    {# Testing new communications page link #}
    {% set row = [
      {
        html: newCommunicationType(communication),
        attributes: { 'data-test': 'communication-type-' + rowIndex }
      },
      {
        text: communication.sent,
        attributes: { 'data-test': 'communication-sent-' + rowIndex }
      },
      {
        text: communication.sender,
        attributes: { 'data-test': 'communication-sender-' + rowIndex }
      },
      {
        text: communication.method,
        attributes: { 'data-test': 'communication-method-' + rowIndex }
      }
    ] %}

    {% set tableRows = (tableRows.push(row), tableRows) %}
  {% endfor %}

  {{ govukTable({
    attributes: { 'data-test': 'communications-table' },
    firstCellIsHeader: false,
    head: [
      { text: 'Type' },
      { text: 'Sent' },
      { text: 'Sender' },
      { text: 'Method' }
    ],
    rows: tableRows
  }) }}

  {% if pagination.numberOfPages > 1 %}
    {{ govukPagination(pagination.component) }}
  {% endif %}
{% endif %}
