{% from "govuk/components/pagination/macro.njk" import govukPagination %}

<h2 class="govuk-heading-l">Communications</h2>

{% if communications.length == 0 %}
  <p> No communications for this licence. </p>
{% endif %}

{% if communications.length > 0 %}
  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Sent</th>
      <th scope="col" class="govuk-table__header">Sender</th>
      <th scope="col" class="govuk-table__header">Method</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for communication in communications %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          {% if communication.type.pdf %}
            <p class="govuk-body govuk-!-margin-bottom-0"> {{ communication.type.label }} </p>
            <span class="govuk-visually-hidden"> {{ communication.type.sentVia }} </span>
          {% else %}
            <a href="/licences/{{ documentId }}/communications/{{ communication.id }}" class="govuk-link">
              {{ communication.type.alert }}
              {{ communication.type.label }}
              <span class="govuk-visually-hidden"> {{ communication.type.sentVia }} </span>
            </a>
          {% endif %}
        </td>
        <td class="govuk-table__cell">{{ communication.sent }}</td>
        <td class="govuk-table__cell">{{ communication.sender }}</td>
        <td class="govuk-table__cell">{{ communication.method | title }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if communications.length > 0 and pagination.numberOfPages > 1 %}
  {{ govukPagination(pagination.component) }}
{% endif %}
