{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro formatStatus(status) %}
  {% if status === 'COMPLETE' %}
    {{ govukTag({
      text: status,
      classes: "govuk-tag--green"
    }) }}

  {% elseif status === 'OVERDUE' %}
    {{ govukTag({
      text: status,
      classes: "govuk-tag--red"
    }) }}
  {% else %}
    {{ status }}
  {% endif %}
{% endmacro %}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Returns</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Return reference and dates</th>
    <th scope="col" class="govuk-table__header">Purpose and description</th>
    <th scope="col" class="govuk-table__header">Due date</th>
    <th scope="col" class="govuk-table__header">Status</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  {% for return in returns %}
{#    Fix addtional bottom row#}
    <tr class="govuk-table__row">
      <th class="govuk-table__cell">
        <a href="/{{ returnsUrl }}?returnId={{ return.id }}" class="govuk-link">{{ return.reference }} </a>
        <p> {{ return.dates }}</p>
      </th>
      <td class="govuk-table__cell">{{ return.purpose }} <p> {{ return.description }}</p></td>
      <td class="govuk-table__cell">{{ return.dueDate }}</td>
      <td class="govuk-table__cell">{{ formatStatus(return.status) }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if pagination.numberOfPages > 1  %}
  {{ govukPagination(pagination.component) }}
{% endif %}
