{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% macro formatStatus(status) %}
  {% if status === 'COMPLETE' %}
    {{ govukTag({
      text: status,
      classes: "govuk-tag--green"
    }) }}

  {% elseif status === 'OVERDUE' %}
    {{ govukTag({
      text: status,
      classes: "govuk-tag--red"
    }) }}
  {% else %}
    {{ status }}
  {% endif %}
{% endmacro %}

<table class="govuk-table">
  <h2 class="govuk-heading-l">Returns</h2>
  {% if returns %}
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Return reference and dates</th>
      <th scope="col" class="govuk-table__header">Purpose and description</th>
      <th scope="col" class="govuk-table__header">Due date</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for return in returns %}
      <tr class="govuk-table__row govuk-body-s">
        <th class="govuk-table__cell">
          <a href="/return/internal?returnId={{ return.id }}" class="govuk-link">{{ return.reference }} </a>
          <p class="govuk-body-s"> {{ return.dates }}</p>
        </th>
        <td class="govuk-table__cell">{{ return.purpose }} <p class="govuk-body-s"> {{ return.description }}</p></td>
        <td class="govuk-table__cell">{{ return.dueDate }}</td>
        <td class="govuk-table__cell">{{ formatStatus(return.status) }}</td>
      </tr>
    {% endfor %}
    </tbody>
  {% else %}
    <p>No returns found</p>
  {% endif %}
</table>

{% if returns and pagination.numberOfPages > 1 %}
  {{ govukPagination(pagination.component) }}
{% endif %}

