{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% from "macros/return-status-tag.njk" import statusTag %}

<h2 class="govuk-heading-l">Returns</h2>

{% if noReturnsMessage %}
  <p> {{ noReturnsMessage }} </p>
{% else %}

  {% macro referenceColumn(return) %}
    <a href="/return/internal?returnId={{ return.id }}" class="govuk-link">{{ return.reference }} </a>
    <p class="govuk-body-s"> {{ return.dates }}</p>
  {% endmacro %}

  {% set returnRows = [] %}

  {% for returnItem in  returns %}
    {% set returnStatusTag %}
      {{ statusTag(returnItem.status, true) }}
    {% endset %}

    {% set returnRows = (returnRows.push([
      {
        html: referenceColumn(returnItem)
      },
      {
        html:  returnItem.purpose +  "<p class=\"govuk-body-s\">" + returnItem.description + "</p>"
      },
      {
        text: returnItem.dueDate
      },
      {
        html: returnStatusTag
      }
    ]), returnRows) %}
  {% endfor %}

  {{ govukTable({
    head: [
      {
        text: 'Return reference and dates'
      },
      {
        text: 'Purpose and description'
      },
      {
        text: 'Due date'
      },
      {
        text: 'Status'
      }
    ],
    rows: returnRows
  }) }}
{% endif %}

{% if pagination.numberOfPages > 1 %}
  {{ govukPagination(pagination.component) }}
{% endif %}
