{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "macros/charge-version-status-tag.njk" import statusTag %}

{% macro createLink(data) %}
  {% for linkItem in data.action %}
    {% if not loop.first %} | {% endif %}
    <a href="{{ linkItem.link }}" class="govuk-link">
      {{ linkItem.text }} </a>
  {% endfor %}
{% endmacro %}

{% set chargeVersionRows = [] %}

{% set chargeVersionHead = [
  {
    text: "Start date"
  },
  {
    text: "End date"
  },
  {
    text: "Reason"
  },
  {
    text: "Status"
  },
  {
    text: "Action"
  }
] %}

{% macro createLink(chargeVersion) %}
  {% for chargeVersionAction in chargeVersion.action %}
    {% if not loop.first %} | {% endif %}
    <a href="{{ chargeVersionAction.link }}" class="govuk-link">
      {{ chargeVersionAction.text }} </a>
  {% endfor %}
{% endmacro %}

<h2 class="govuk-heading-l">Licence set up</h2>

{% set returnsRequirementsToggle = true %}

{% if returnsRequirementsToggle %}
  <h3 class="govuk-heading-m"> Returns for requirements </h3>

  {% set returnsRequirementsTableRows = [] %}

  {% set returnsRequirementsTableHead = [
    {
      text: "Start date"
    },
    {
      text: "End date"
    },
    {
      text: "Reason"
    },
    {
      text: "Status"
    },
    {
      text: "Action"
    }
  ] %}

  {% for returnsRequirement in  returnsRequirements %}
    {% set returnsRequirementsTableRows = (returnsRequirementsTableRows.push([
      {
        text: returnsRequirement.startDate
      },
      {
        text: returnsRequirement.endDate
      },
      {
        text: returnsRequirement.reason
      },
      {
        html: statusTag(returnsRequirement.status)
      },
      {
        html: createLink(returnsRequirement)
      }
    ]), returnsRequirementsTableRows) %}
  {% endfor %}


  {% if returnsRequirements.length == 0 %}
    <p class="govuk-body"> No returns for requirements for this licence.</p>
  {% endif %}

  {% if returnsRequirements.length > 0 %}
      {{ govukTable({
        head: returnsRequirementsTableHead,
        rows: returnsRequirementsTableRows
      }) }}
  {% endif %}

  {% if links.returnsRequirements.returnsRequired %}
    {{ govukButton({
      text: "Set up new returns requirement",
      href: links.returnsRequirements.returnsRequired,
      classes: "govuk-button--secondary govuk-!-margin-right-3"
    }) }}
  {% endif %}

  {% if links.returnsRequirements.noReturnsRequired %}
    {{ govukButton({
      text: "Mark licence as 'no returns needed'",
      href: links.returnsRequirements.noReturnsRequired,
      classes: "govuk-button--secondary govuk-!-margin-right-3"
    }) }}
  {% endif %}
{% endif %}

<h3 class="govuk-heading-m"> Charge information </h3>

{% set rows = [] %}

{% set head = [
  {
    text: "Start date"
  },
  {
    text: "End date"
  },
  {
    text: "Reason"
  },
  {
    text: "Status"
  },
  {
    text: "Action"
  }
] %}

{% for chargeVersion in  chargeInformation %}
  {% set chargeVersionRows = (chargeVersionRows.push([
    {
      text: chargeVersion.startDate
    },
    {
      text: chargeVersion.endDate
    },
    {
      text: chargeVersion.reason
    },
    {
      html: statusTag(chargeVersion.status)
    },
    {
      html: createLink(chargeVersion)
    }
  ]), chargeVersionRows) %}
{% endfor %}


{% if chargeInformation.length == 0 %}
  <p class="govuk-body"> No charge information for this licence.</p>
{% endif %}

{% if chargeInformation.length > 0 %}
  {{ govukTable({
    head: chargeVersionHead,
    rows: chargeVersionRows
  }) }}
{% endif %}

{% if links.chargeInformation.setupNewCharge %}
  {{ govukButton({
    text: "Set up a new charge",
    href: setupNewCharge,
    classes: "govuk-button--secondary govuk-!-margin-right-3"
  }) }}
{% endif %}

{% if links.chargeInformation.makeLicenceNonChargeable %}
  {{ govukButton({
    text: "Make licence non-chargeable",
    href: makeLicenceNonChargeable,
    classes: "govuk-button--secondary"
  }) }}
{% endif %}

<hr />

{% set agreementRows = [] %}

{% set agreementHead = [
  {
    text: "Start date"
  },
  {
    text: "End date"
  },
  {
    text: "Agreement"
  },
  {
    text: "Date signed"
  },
  {
    text: "Action"
  }
] %}

{% for agreement in  agreements %}
  {% set agreementRows = (agreementRows.push([
    {
      text: agreement.startDate
    },
    {
      text: agreement.endDate
    },
    {
      text: agreement.description
    },
    {
      text: agreement.signedDate
    },
    {
      html: createLink(agreement)
    }
  ]), agreementRows) %}
{% endfor %}


<h3 class="govuk-heading-m"> Agreements </h3>

{% if agreements.length == 0 %}
  <p class="govuk-body"> No agreements for this licence.</p>
{% endif %}

{% if agreements.length > 0 %}
  {{ govukTable({
    head: agreementHead,
    rows: agreementRows
  }) }}
{% endif %}


{% if links.agreements.setUpAgreement %}
  {{ govukButton({
    text: "Set up a new agreement",
    href: setUpAgreement,
    classes: "govuk-button--secondary"
  }) }}
{% endif %}
