{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      id: "companyName",
      name: "companyName",
      classes: "govuk-!-width-two-thirds",
      errorMessage: error.companyName,
      label: {
        text: "Enter the Companies House number or company name"
      },
      value: companyName
    }) }}

    <p>We’ll use this information to search the Companies House register.</p>

    {{ govukButton({ text: "Find company", preventDoubleClick: true }) }}
  </form>
{% endblock %}
