{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      id: "contactName",
      name: "contactName",
      classes: "govuk-!-width-two-thirds",
      errorMessage: error.contactName,
      hint: {
        text: "This is the name you'll see displayed in the service"
      },
      value: contactName
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
