{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% if items.length > 0 %}
      {{ govukRadios({
        name: "existingAccount",
        errorMessage: error.existingAccount,
        items: items
      }) }}
    {% else %}
      <div class="govuk-body govuk-!-padding-top-3">
        <p>Continue to setup a new account.</p>

        <input type="hidden" name="existingAccount" value="new"/>
      </div>
    {% endif %}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
