{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% if companies.length > 0 %}
      {{ govukRadios({
        id: "companiesHouseId",
        items: companies,
        label: {
          isPageHeading: false,
          text: "Select a company"
        },
        name: "companiesHouseId",
        errorMessage: error.companiesHouseId
      }) }}

      {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    {% else %}
      <p>No matching companies were found. Return to the previous page and amend your search criteria</p>
    {% endif %}
  </form>
{% endblock %}
