{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: "#setup-error"
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-body">
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {{ govukRadios({
        name: "method",
        errorMessage: error,
        fieldset: {
          legend: {
            html: '<span class="govuk-caption-l">Licence ' + licenceRef + '</span>' + pageTitle,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
          }
        },
        items: [
          {
            value: "use-abstraction-data",
            text: "Start by using abstraction data",
            checked: "use-abstraction-data" === method
          },
          {
            value: "use-existing-requirements",
            text: "Copy existing requirements",
            checked: "use-existing-requirements" === method
          } if displayCopyExisting,
          {
            divider: "or"
          },
          {
            value: "set-up-manually",
            text: "Set up manually",
            checked: "set-up-manually" === method
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
