{% extends 'layout.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  {% set returnDetails %}
    <div data-test="licenceNumber">Licence number <strong>{{ returnLog.licenceReference }}</strong></div><br>
    <div data-test="siteDescription">Site description <strong>{{ returnLog.siteDescription }}</strong></div><br>
    <div data-test="purpose">Purpose <strong>{{ returnLog.purpose }}</strong></div>
  {% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {{ govukPanel({
    titleText: pageTitle,
    classes: "govuk-!-margin-bottom-4",
    html: returnDetails
  }) }}
  </div>
</div>

<p class="govuk-body">
  <a class="govuk-link" href="/system/licences/{{ licenceId }}/returns">View returns for {{returnLog.licenceNumber}}</a>
</p>
{% endblock %}
