{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% from "macros/licence-reference-page-heading.njk" import pageHeading %}
{% from "macros/return-status-tag.njk" import statusTag %}

{% block breadcrumbs %}
  {{ govukBackLink({
    text: backLink.text,
    href: backLink.href
  }) }}
{% endblock %}

{% block content %}
  {% if underQuery %}
    {{ govukNotificationBanner({
      text: 'This return has been marked under query'
    }) }}
  {%endif%}

  {% if warning %}
    {{ govukWarningText({
      text: warning,
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  {{ pageHeading(licenceRef, pageTitle, 'govuk-heading-xl govuk-!-margin-bottom-3') }}

  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">

      <p>
        {{ statusTag(status, false) }}
      </p>

      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          attributes: {
            'data-test': 'meta-data'
          },
          rows: [
            {
              key: { text: "Return reference", classes: "meta-data__label" },
              value: { text: returnReference, classes: "meta-data__value", attributes: { 'data-test': 'return-reference' } }
            },
            {
              key: { text: "Site description", classes: "meta-data__label" },
              value: { text: siteDescription, classes: "meta-data__value", attributes: { 'data-test': 'site-description' } }
            },
            {
              key: { text: "Purpose", classes: "meta-data__label" },
              value: { text: purpose, classes: "meta-data__value", attributes: { 'data-test': 'purpose' } }
            },
            {
              key: { text: "Return period", classes: "meta-data__label" },
              value: { text: returnPeriod, classes: "meta-data__value", attributes: { 'data-test': 'returns-period' } }
            },
            {
              key: { text: "Abstraction period", classes: "meta-data__label" },
              value: { text: abstractionPeriod, classes: "meta-data__value", attributes: { 'data-test': 'abstraction-period' } }
            },
            {
              key: { text: "Received date", classes: "meta-data__label" },
              value: { text: receivedDate, classes: "meta-data__value", attributes: { 'data-test': 'received-date' } }
            } if receivedDate,
            {
              key: { text: "Tariff", classes: "meta-data__label" },
              value: { text: tariff, classes: "meta-data__value", attributes: { 'data-test': 'tariff' } }
            }
          ]
        })
      }}
    </div>
  </div>

  {% if displayTotal %}
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-body govuk-!-font-weight-bold">
          {% if nilReturn %}
            <span class="govuk-!-font-size-80" data-test="total">Nil return</span>
          {% else %}
            <span class="govuk-!-font-size-80" data-test="total">{{ total }}</span>
            <span class="govuk-!-font-size-24">cubic metres</span>
            <br>
            <span class="govuk-!-font-size-24">Total amount of water abstracted</span>
          {% endif %}
        </h2>
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row govuk-!-margin-bottom-3">
    <div class="govuk-grid-column-full">
      {% if actionButton %}
        {# The button group div goes inside the if because we only need a group when there's two buttons #}
        <div class="govuk-button-group">
          <form method="post" action="/system/return-logs/setup">
            <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
            {{
              govukButton({
                text: actionButton.text,
                name: "returnLogId",
                value: actionButton.value,
                preventDoubleClick: true
              })
            }}
          </form>
      {% endif %}

      {% if showUnderQuery %}
        {% if underQuery %}
          {% set queryButtonText = 'Resolve query' %}
          {% set queryButtonValue = 'resolve' %}
        {% else %}
          {% set queryButtonText = 'Mark as under query' %}
          {% set queryButtonValue = 'mark' %}
        {% endif %}
        <form method="post">
          <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
          {{
            govukButton({
              text: queryButtonText,
              classes: "govuk-button--secondary",
              name: "mark-query",
              value: queryButtonValue,
              preventDoubleClick: true
            })
          }}
        </form>
      {% endif %}

      {% if actionButton %}
        </div>
      {% endif %}
    </div>
  </div>

  {% if displayTable %}
    <div class="divider govuk-!-margin-bottom-7"></div>
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-l">{{ tableTitle }}</h3>

        {{
          govukButton({
            classes: "govuk-button--secondary",
            text: "Download this return",
            preventDoubleClick: true,
            href: downloadCSVLink
          })
        }}

        {% if meterDetails %}
          {% set meterDetailsSummaryList %}
            {{
              govukSummaryList({
                classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-2',
                attributes: {
                  'data-test': 'meter-details'
                },
                rows: [
                  {
                    key: { text: "Make", classes: "meta-data__label" },
                    value: { text: meterDetails.make, classes: "meta-data__value", attributes: { 'data-test': 'make' } }
                  },
                  {
                    key: { text: "Serial number", classes: "meta-data__label" },
                    value: { text: meterDetails.serialNumber, classes: "meta-data__value", attributes: { 'data-test': 'serial-number' } }
                  },
                  {
                    key: { html: "&times;10 display", classes: "meta-data__label" },
                    value: { text: meterDetails.xDisplay, classes: "meta-data__value", attributes: { 'data-test': 'x10-display' } }
                  }
                ]
              })
            }}
          {% endset %}

          {{
            govukDetails({
              summaryText: 'Meter details',
              html: meterDetailsSummaryList
            })
          }}
        {% endif %}

        {% if startReading %}
          {% set startReadingHtml %}
            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border govuk-!-margin-top-0 govuk-!-margin-bottom-0',
              rows: [
                {
                  key: {
                    text: "Start Reading"
                  },
                  value: {
                    text: startReading
                  }
                }
              ]
            }) }}
          {% endset %}

          {{ govukInsetText({
            classes: "govuk-!-margin-bottom-2 govuk-!-margin-top-2 govuk-!-padding-top-0 govuk-!-padding-bottom-0",
            html: startReadingHtml
          }) }}
        {% endif %}
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-full">
        {% set tableRows = [] %}

        {% for row in summaryTableData.rows %}
          {# Set an easier to use index #}
          {% set rowIndex = loop.index0 %}

          {% set tableRow = [
            {
              text: row.month,
              attributes: { 'data-test': 'month-' + rowIndex }
            }
          ] %}

          {% if displayReadings %}
            {% set tableRow = (tableRow.push(
              {
                text: row.reading,
                format: 'numeric',
                attributes: { 'data-test': 'reading-' + rowIndex }
              }
            ), tableRow) %}
          {% endif %}

          {% if displayUnits %}
            {% set tableRow = (tableRow.push(
              {
                text: row.unitTotal,
                format: 'numeric',
                attributes: { 'data-test': 'unit-total-' + rowIndex }
              }
            ), tableRow) %}
          {% endif %}

          {% set tableRow = (tableRow.push(
            {
              text: row.monthlyTotal,
              format: 'numeric',
              attributes: { 'data-test': 'monthly-total-' + rowIndex }
            }
          ), tableRow) %}

          {% if row.link %}
            {% set actionLink %}
              <a class="govuk-link" href="{{ row.link.href }}">{{ row.link.text }}<span class="govuk-visually-hidden"> for {{ row.month }}</span></a>
            {% endset %}

            {% set tableRow = (tableRow.push(
              {
                html: actionLink,
                format: 'numeric',
                attributes: { 'data-test': 'action-' + rowIndex }
              }
            ), tableRow) %}
          {% endif %}

          {% set tableRows = (tableRows.push(tableRow), tableRows) %}
        {% endfor %}

        {{
          govukTable({
            firstCellIsHeader: false,
            attributes: { 'data-test': 'monthly-summaries'},
            head: summaryTableData.headers,
            rows: tableRows
          })
        }}
      </div>
    </div>
  {% endif %}

  {% if versions %}
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Submitted by</h3>

        {% for version in versions %}
          {# Set an easier to use index #}
          {% set rowIndex = loop.index0 %}

          {% if version.selected %}
            {% set selectedClass = 'inset-text__selected-version' %}
            {% set versionHtml %}
              <p class="govuk-!-margin-0">Viewing version {{ version.version }}</p>
              <p class="govuk-!-margin-0">{{ version.user }}</p>
              <p class="govuk-!-margin-0">{{ version.createdAt }}</p>
              {% if version.notes %}
                {{ govukDetails({
                  summaryText: "Notes",
                  text: version.notes
                }) }}
              {% endif %}
            {% endset %}
          {% else %}
            {% set selectedClass = '' %}
            {% set versionHtml %}
              <p class="govuk-!-margin-0">Version {{ version.version }}</p>
              <p class="govuk-!-margin-0">{{ version.user }}</p>
              <p class="govuk-!-margin-0"><a href="{{ version.link }}">{{ version.createdAt }}</a></p>
              {% if version.notes %}
                {{ govukDetails({
                  summaryText: "Notes",
                  text: version.notes
                }) }}
              {% endif %}
            {% endset %}
          {% endif %}

          {{ govukInsetText({
            classes: selectedClass,
            html: versionHtml
          }) }}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
