{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% from "macros/return-status-tag.njk" import statusTag %}

{% block breadcrumbs %}
  {{ govukBackLink({
    text: backLink.text,
    href: backLink.href
  }) }}
{% endblock %}

{% block content %}
  {# Notification banner #}
  {% if underQuery %}
    {{ govukNotificationBanner({
      text: 'This return has been marked under query'
    }) }}
  {%endif%}

  {# Version warning #}
  {% if warning %}
    {{ govukWarningText({
      text: warning,
      iconFallbackText: "Warning"
    }) }}
  {% endif %}

  {# Main heading #}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        <span class="govuk-caption-l">Licence {{ licenceRef }}</span>{{ pageTitle }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-0">
    <div class="govuk-grid-column-full">

      {# Status tag #}
      <p class="govuk-body">
        {{ statusTag(status, false) }}
      </p>

      {{
        govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          attributes: {
            'data-test': 'meta-data'
          },
          rows: [
            {
              key: { text: "Return reference", classes: "meta-data__label" },
              value: { html: '<span data-test="return-reference">' + returnReference + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Site description", classes: "meta-data__label" },
              value: { html: '<span data-test="site-description">' + siteDescription + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Purpose", classes: "meta-data__label" },
              value: { html: '<span data-test="purpose">' + purpose + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Return period", classes: "meta-data__label" },
              value: { html: '<span data-test="returns-period">' + returnPeriod + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Abstraction period", classes: "meta-data__label" },
              value: { html: '<span data-test="abstraction-period">' + abstractionPeriod + '</span>', classes: "meta-data__value" }
            },
            {
              key: { text: "Received date", classes: "meta-data__label" },
              value: { html: '<span data-test="received-date">' + receivedDate + '</span>', classes: "meta-data__value" }
            } if receivedDate,
            {
              key: { text: "Tariff", classes: "meta-data__label" },
              value: { html: '<span data-test="tariff">' + tariff + '</span>', classes: "meta-data__value" }
            }
          ]
        })
      }}
    </div>
  </div>

  {# Return log total #}
  {% if displayTotal %}
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        {% if nilReturn %}
          <h2>
            <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80" data-test="total">Nil return</span>
          </h2>
        {% else %}
          <h2>
            <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-80" data-test="total">{{ total }}</span>
            <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">cubic metres</span>
            <br>
            <span class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24">Total amount of water abstracted</span>
          </h2>
        {% endif %}
      </div>
    </div>
  {% endif %}

    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        {% if actionButton %}
          {# The button group div goes inside the if because we only need a group when there's two buttons #}
          <div class="govuk-button-group">
            {# Submit/Edit return button #}
            <form method="post" action="/system/return-logs/setup">
              <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
              {{
                govukButton({
                  text: actionButton.text,
                  name: "returnLogId",
                  value: actionButton.value,
                  preventDoubleClick: true
                })
              }}
            </form>
        {% endif %}

        {# Mark as under query / Resolve query button #}
        {% if showUnderQuery %}
          {% if underQuery %}
            {% set queryButtonText = 'Resolve query' %}
            {% set queryButtonValue = 'resolve' %}
          {% else %}
            {% set queryButtonText = 'Mark as under query' %}
            {% set queryButtonValue = 'mark' %}
          {% endif %}
          <form method="post">
            <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
            {{
              govukButton({
                text: queryButtonText,
                classes: "govuk-button--secondary",
                name: "mark-query",
                value: queryButtonValue,
                preventDoubleClick: true
              })
            }}
          </form>
        {% endif %}

        {% if actionButton %}
          </div>
        {% endif %}
      </div>
    </div>

  {# Selected return submission details #}
  {% if displayTable %}
    <div class="divider govuk-!-margin-bottom-7"></div>
    {# Meter details #}
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-l">{{ tableTitle }}</h3>

        {{
          govukButton({
            classes: "govuk-button--secondary",
            text: "Download this return",
            preventDoubleClick: true,
            href: downloadCSVLink
          })
        }}

        {% if meterDetails %}
          {% set meterDetailsSummaryList %}
            {{
              govukSummaryList({
                classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-2',
                attributes: {
                  'data-test': 'meter-details'
                },
                rows: [
                  {
                    key: { text: "Make", classes: "meta-data__label" },
                    value: { html: '<span data-test="make">' + meterDetails.make + '</span>', classes: "meta-data__value" }
                  },
                  {
                    key: { text: "Serial number", classes: "meta-data__label" },
                    value: { html: '<span data-test="site-description">' + meterDetails.serialNumber + '</span>', classes: "meta-data__value" }
                  },
                  {
                    key: { html: "&times;10 display", classes: "meta-data__label" },
                    value: { html: '<span data-test="site-description">' + meterDetails.xDisplay + '</span>', classes: "meta-data__value" }
                  }
                ]
              })
            }}
          {% endset %}

          {{
            govukDetails({
              summaryText: 'Meter details',
              html: meterDetailsSummaryList
            })
          }}
        {% endif %}

        {% if startReading %}
          {% set startReadingHtml %}
            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border govuk-!-margin-top-0 govuk-!-margin-bottom-0',
              rows: [
                {
                  key: {
                    text: "Start Reading"
                  },
                  value: {
                    text: startReading
                  }
                }
              ]
            }) }}
          {% endset %}

          {{ govukInsetText({
            classes: "govuk-!-margin-bottom-2 govuk-!-margin-top-2 govuk-!-padding-top-0 govuk-!-padding-bottom-0",
            html: startReadingHtml
          }) }}
        {% endif %}
      </div>
    </div>

    {# Display the table using a GOVUK table component #}
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-full">
        {% set tableRows = [] %}

        {% for row in summaryTableData.rows %}
          {# Set an easier to use index #}
          {% set rowIndex = loop.index0 %}

          {# Create the summary row #}
          {% set tableRow = [
            {
              text: row.month,
              attributes: { 'data-test': 'month-' + rowIndex }
            }
          ] %}

          {% if displayReadings %}
            {% set tableRow = (tableRow.push(
              {
                text: row.reading,
                format: 'numeric',
                attributes: { 'data-test': 'reading-' + rowIndex }
              }
            ), tableRow) %}
          {% endif %}

          {% if displayUnits %}
            {% set tableRow = (tableRow.push(
              {
                text: row.unitTotal,
                format: 'numeric',
                attributes: { 'data-test': 'unit-total-' + rowIndex }
              }
            ), tableRow) %}
          {% endif %}

          {# Total cubic metres column #}
          {% set tableRow = (tableRow.push(
            {
              text: row.monthlyTotal,
              format: 'numeric',
              attributes: { 'data-test': 'monthly-total-' + rowIndex }
            }
          ), tableRow) %}

          {# Action column but only for weekly and monthly returns #}
          {% if row.link %}
            {% set actionLink %}
              <a class="govuk-link" href="{{ row.link.href }}">{{ row.link.text }}<span class="govuk-visually-hidden"> for {{ row.month }}</span></a>
            {% endset %}

            {% set tableRow = (tableRow.push(
              {
                html: actionLink,
                format: 'numeric',
                attributes: { 'data-test': 'action-' + rowIndex }
              }
            ), tableRow) %}
          {% endif %}

          {# Push our row into the table rows array #}
          {% set tableRows = (tableRows.push(tableRow), tableRows) %}
        {% endfor %}

        {{
          govukTable({
            firstCellIsHeader: false,
            attributes: { 'data-test': 'monthly-summaries'},
            head: summaryTableData.headers,
            rows: tableRows
          })
        }}
      </div>
    </div>
  {% endif %}

  {% if versions %}
    <div class="govuk-grid-row govuk-!-margin-bottom-3">
      <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">Submitted by</h3>

        {% for version in versions %}
          {# Set an easier to use index #}
          {% set rowIndex = loop.index0 %}

          {% if version.selected %}
            {% set selectedClass = 'inset-text__selected-version' %}
            {% set versionHtml %}
              <p class="govuk-!-margin-0">Viewing version {{ version.version }}</p>
              <p class="govuk-!-margin-0">{{ version.user }}</p>
              <p class="govuk-!-margin-0">{{ version.createdAt }}</p>
              {% if version.notes %}
                {{ govukDetails({
                  summaryText: "Notes",
                  text: version.notes
                }) }}
              {% endif %}
            {% endset %}
          {% else %}
            {% set selectedClass = '' %}
            {% set versionHtml %}
              <p class="govuk-!-margin-0">Version {{ version.version }}</p>
              <p class="govuk-!-margin-0">{{ version.user }}</p>
              <p class="govuk-!-margin-0"><a href="{{ version.link }}">{{ version.createdAt }}</a></p>
              {% if version.notes %}
                {{ govukDetails({
                  summaryText: "Notes",
                  text: version.notes
                }) }}
              {% endif %}
            {% endset %}
          {% endif %}

          {{ govukInsetText({
            classes: selectedClass,
            html: versionHtml
          }) }}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endblock %}
