{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "macros/communications-table.njk" import communicationsTable %}

{% block pageContent %}
  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Name" },
        value: { text: contact.name }
      },
      {
        key: { text: "Email address" },
        value: { text: contact.email }
      },
      {
        key: { text: "Water abstraction alerts" },
        value: { text: contact.abstractionAlerts }
      },
      {
        key: { text: "Created" },
        value: { text: contact.created }
      },
      {
        key: { text: "Last updated" },
        value: { text: contact.lastUpdated }
      }
    ]
  }) }}

  {% if 'hof_notifications' in roles and additionalContact%}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Edit contact",
        preventDoubleClick: true,
        href: editContactLink
      }) }}

      {{ govukButton({
        text: "Remove contact",
        classes: "govuk-button--secondary",
        href: removeContactLink,
        preventDoubleClick: true
      }) }}
    </div>
  {% endif %}

  <h2 class="govuk-heading-m"> Communications </h2>

  {% if notifications.length === 0 %}
    <p data-test='no-notifications-msg'> This contact has no associated communications. </p>
  {% else %}

    {{ communicationsTable(notifications) }}

    {% if pagination.numberOfPages > 1 %}
      {{ govukPagination(pagination.component) }}
    {% endif %}
  {% endif %}
{% endblock %}
