{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "macros/new-line-array-items.njk" import newLineArrayItems %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  <span class="govuk-caption-l">{{ caption }}</span>
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  {% if contents === 'error' %}
    <p>Failed to generate a preview for this notice. <a href="{{ refreshPageLink }}" class="govuk-link">Try again</a>.</p>
  {% else %}
    <div class="govuk-body message-preview">
      {% if messageType === 'letter' %}
        <p>{{ newLineArrayItems(address) }}</p>
      {% else %}
        <p>Sent to: {{ recipientEmail }}</p>
      {% endif %}

      {{ contents | markdown | safe }}
    </div>
  {% endif %}
{% endblock %}
