{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "macros/return-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% set pageHeading %}
    {{ pageHeading(returnReference, pageTitle) }}
  {% endset %}

  <div class="govuk-!-margin-bottom-9">
    {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        attributes: {
          'data-test': 'meta-data'
        },
        rows: [
          {
            key: { text: "Site description", classes: "meta-data__label" },
            value: { text: siteDescription, classes: "meta-data__value", attributes: { 'data-test': 'site-description' } }
          },
          {
            key: { text: "Purpose", classes: "meta-data__label" },
            value: { text: purposes, classes: "meta-data__value", attributes: { 'data-test': 'purpose' } }
          },
          {
            key: { text: "Return period", classes: "meta-data__label" },
            value: { text: returnPeriod, classes: "meta-data__value", attributes: { 'data-test': 'returns-period' } }
          },
          {
            key: { text: "Abstraction period", classes: "meta-data__label" },
            value: { text: abstractionPeriod, classes: "meta-data__value", attributes: { 'data-test': 'abstraction-period' } }
          },
          {
            key: { text: "Received date", classes: "meta-data__label" },
            value: { text: returnReceivedDate, classes: "meta-data__value", attributes: { 'data-test': 'received-date' } }
          },
          {
            key: { text: "Tariff", classes: "meta-data__label" },
            value: { text: tariff, classes: "meta-data__value", attributes: { 'data-test': 'tariff' } }
          }
        ]
      })
    }}
  </div>

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
      <input type="hidden" id="return-log-id" name="returnLogId" value="{{ returnLogId }}"/>

    {{ govukButton({ text: "Confirm cancel", preventDoubleClick: true }) }}
  </form>
{% endblock %}
