{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  {# Main heading #}
  <div>
    <span class="govuk-caption-l"> Return reference {{ returnReference }} </span>
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  </div>

  {# Notes #}
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-heading-l govuk-!-margin-bottom-4">Notes</dt>
    </div>
    <div class="govuk-summary-list__row">
      <dd class="govuk-summary-list__value">No notes added</dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">Add a note<span class="govuk-visually-hidden">the note</span></a>
      </dd>
    </div>
  </dl>

  {# "Confirm" & "Cancel" buttons #}
  <div>
    {{ govukButton({
      text: "Confirm",
      preventDoubleClick: true
    }) }}

    {{ govukButton({
      text: "Cancel",
      classes: "govuk-button--secondary",
      preventDoubleClick: true,
      href: "/system/return-logs/setup/" + sessionId + "/cancel"
    }) }}
  </div>
{% endblock %}
