{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  {# Notification banner #}
  {% if notification %}
    {{ govukNotificationBanner({
      titleText: notification.title,
      text: notification.text
    }) }}
  {% endif %}

  {# Main heading #}
  <div>
    <span class="govuk-caption-l">Return reference {{ returnReference }}</span>
    <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>
  </div>


  <div class="govuk-!-margin-bottom-9">
    {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        attributes: {
          'data-test': 'meta-data'
        },
        rows: [
          {
            key: { text: "Site description", classes: "meta-data__label" },
            value: { html: '<span data-test="site-description">' + siteDescription + '</span>', classes: "meta-data__value" }
          },
          {
            key: { text: "Purpose", classes: "meta-data__label" },
            value: { html: '<span data-test="purpose">' + purposes + '</span>', classes: "meta-data__value" }
          },
          {
            key: { text: "Return period", classes: "meta-data__label" },
            value: { html: '<span data-test="returns-period">' + returnPeriod + '</span>', classes: "meta-data__value" }
          },
          {
            key: { text: "Abstraction period", classes: "meta-data__label" },
            value: { html: '<span data-test="abstraction-period">' + abstractionPeriod + '</span>', classes: "meta-data__value" }
          },
          {
            key: { text: "Tariff", classes: "meta-data__label" },
            value: { html: '<span data-test="tariff">' + tariff + '</span>', classes: "meta-data__value" }
          }
        ]
      })
    }}
  </div>



  {# Notes #}
  <div class="govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-4">Notes</h2>
    <hr class="govuk-section-break--visible">
    <div class="govuk-summary-list govuk-!-margin-bottom-1">
      <p class="govuk-body">{{ note.text | escape | nl2br }}</p>
      <span class="govuk-summary-list__actions">
      <ul class="govuk-summary-list__actions-list">
        {% for action in note.actions %}
          <li class="govuk-summary-list__actions-list-item">
            <a class="govuk-link" href="{{ action.href }}" data-test="{{ action.href  }}">
              {{ action.text  }} <span class="govuk-visually-hidden">the note</span>
            </a>
          </li>
        {% endfor %}
      </ul>
      </span>
    </div>
    <hr class="govuk-section-break--visible">
  </div>


  {# Meter details #}
  {% set meterDetails %}
    {% if meterProvided === 'yes' %}
      <div>{{meterMake}}</div><div>{{meterSerialNumber}}</div>
    {% else %}
      <div>Not provided</div>
    {% endif %}
  {% endset %}


  {# Reporting details #}
  <div class="govuk-!-margin-bottom-9">
    {{ govukSummaryList({
      card: {
        title: { text: "Reporting details" }
      },
      rows: [
        {
          key: { text: "Return received" },
          value: { text: returnReceivedDate },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "return received date"
              }
            ]
          }
        },
        {
          key: { text: "Reporting figures" },
          value: { text: reportingFigures },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "reporting figures"
              }
            ]
          }
        },
        {
          key: { text: "Meter details" },
          value: { html: meterDetails },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "meter details"
              }
            ]
          }
        },
        {
          key: { text: "Units" },
          value: { text: units },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "unit of measure"
              }
            ]
          }
        }  ]
    }) }}
  </div>

  {# Summary of daily volumes #}
  <div class="govuk-!-margin-bottom-9">
    {{ govukTable({
      caption: "Summary of daily volumes",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: false,
      head: [
        { text: "Month" },
        { text: "Total cubic metres", format: "numeric" },
        { text: "Details", format: "numeric" }
      ],
      rows: [
        [
          { text: "April 2024" },
          { text: "150.388", format: "numeric" },
          { html: '<a href="#">Change daily volumes</a>', classes: "govuk-link", format: "numeric" }
        ],
        [
          { text: "May 2024" },
          { text: "155.403", format: "numeric" },
          { html: '<a href="#">Change daily volumes</a>', classes: "govuk-link", format: "numeric" }
        ],
        [
          { text: "Total volume of water abstracted", classes: "govuk-table__header" },
          { html: "<strong>305.791</strong>", format: "numeric" },
          { text: "" }
        ]
      ]
    }) }}
  </div>

  {# "Confirm" & "Cancel" buttons #}
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Confirm",
      preventDoubleClick: true
    }) }}

    {{ govukButton({
      text: "Cancel",
      classes: "govuk-button--secondary",
      preventDoubleClick: true,
      href: "/system/return-logs/setup/" + sessionId + "/cancel"
    }) }}
  </div>
{% endblock %}
