{% extends 'layout.njk' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set panelContent %}
  <div class="govuk-panel__body govuk-!-font-size-24">
      Licence number <strong>{{ licenceRef }}</strong>
  </div>
  <div class="govuk-panel__body govuk-!-font-size-24 govuk-!-padding-top-4">
    Site description <strong>{{ siteDescription }}</strong>
  </div>
  <div class="govuk-panel__body govuk-!-font-size-24 govuk-!-padding-top-4">
    {{ purpose.label }} <strong> {{ purpose.value }}</strong>
  </div>
{% endset %}

{% block content %}
  {{ govukPanel({
    titleText: pageTitle,
    html: panelContent
  }) }}

  <div>
    <a class="govuk-body" href={{ backLink }}>View returns for {{ licenceRef }}</a>
  </div>
{% endblock %}
