{% extends 'layout.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set panelContent %}
  <p class="govuk-panel--confirmation govuk-!-font-size-24">
      Licence number <strong>{{ licenceRef }}</strong>
  </p>
  <p class="govuk-panel--confirmation govuk-!-font-size-24 govuk-!-padding-top-4">
    Site description <strong>{{ siteDescription }}</strong>
  </p>
  <p class="govuk-panel--confirmation govuk-!-font-size-24 govuk-!-padding-top-4">
    {{ purposeDetails.label }} <strong> {{ purposeDetails.value }}</strong>
  </p>
{% endset %}

{% block pageContent %}
  {{ govukPanel({ titleText: pageTitle, html: panelContent }) }}

  {% if status === 'received' %}
    <a href="{{ viewReturnsLink }}" class="govuk-link govuk-!-font-size-19">View returns for {{ licenceRef }}</a>
  {% else %}
    <a href="{{ viewThisReturnLink }}" class="govuk-link govuk-!-font-size-19">
      View this return
    </a>
    <p class="govuk-!-margin-top-4">or</p>

    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {{ govukButton({
        classes: "govuk-button--secondary",
        text: "Mark for supplementary bill run",
        preventDoubleClick: true
      }) }}
    </form>
  {% endif %}
{% endblock %}
