{% extends "govuk/template.njk" %}

{% block pageTitle %}{{ pageTitle }} - GOV.UK{% endblock %}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ assetPath }}/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container",
    serviceName: "Manage your water abstraction or impoundment licence",
    serviceUrl: "/",
    useTudorCrown: true
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <span class="govuk-caption-xl">Guidance</span>
    <h1 class="govuk-heading-l">Help to enter multiple volumes or readings into a return</h1>


    <p class="govuk-body-s">You can enter mulitple values into a return by copying and pasting from a document on your device. For example, from an Excel spreadsheet or a text file.</p>

    <p class="govuk-body-s">If you're using a spreadsheet, each of the values should be in one column. They should be in date order.</p>

    <p class="govuk-body-s">Select and then copy the values column. You do not need the dates.</p>

    <p class="govuk-body-s">Paste the values into the box on the form. The values will appear in a column.</p>

    <p class="govuk-body-s">For this form to work, values must:</p>

    <ul class="govuk-body-s">
      <li>either be on separate lines or be separated by a comma</li>
      <li>cover the entire return period - if a value is missing, use a zero to fill the gap</li>
      <li>run sequentially to match the return period dates</li>
    </ul>
  </div>
{% endblock %}


{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        {
          href: "/cookies",
          text: "Cookies"
        },
        {
          href: "/privacy-policy",
          text: "Privacy"
        },
        {
          href: "/accessibility",
          text: "Accessibility"
        }
      ]
    }
  }) }}
{% endblock %}
