{% extends 'layout.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      label: {
        text: "Make"
      },
      classes: "govuk-input--width-10",
      id: "meterMake",
      name: "meterMake",
      value: meterMake,
      errorMessage: {
        text: error.meterMake.text
      } if error.meterMake
    }) }}

    {{ govukInput({
      label: {
        text: "Serial number"
      },
      classes: "govuk-input--width-10",
      id: "meterSerialNumber",
      name: "meterSerialNumber",
      value: meterSerialNumber,
      errorMessage: {
        text: error.meterSerialNumber.text
      } if error.meterSerialNumber
    }) }}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      name: "meter10TimesDisplay",
      errorMessage: {
        text: error.meter10TimesDisplay.text
      } if error.meter10TimesDisplay,
      fieldset: {
        legend: {
          text: "Does this meter have a ×10 display"
        }
      },
      hint: {
        text: "This will not recalculate any of the volumes provided"
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: "yes" === meter10TimesDisplay
        },
        {
          value: "no",
          text: "No",
          checked: "no" === meter10TimesDisplay
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
