{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{# If there is a meterMake error, the error message is set  #}
{% if error.text.meterMakeResult %}
  {% set meterMakeResultErrorMessage = { text: error.text.meterMakeResult } %}
{% else %}
  {% set meterMakeResultErrorMessage = null %}
{% endif %}

{# If there is a meterSerialNumber error, the error message is set #}
{% if error.text.meterSerialNumberResult %}
    {% set meterSerialNumberResultErrorMessage = { text: error.text.meterSerialNumberResult } %}
{% else %}
  {% set meterSerialNumberResultErrorMessage = null %}
{% endif %}

{# If there is a meter10TimesDisplay error, the error message is set #}
{% if error.text.meter10TimesDisplayResult %}
    {% set meter10TimesDisplayResultErrorMessage = { text: error.text.meter10TimesDisplayResult } %}
{% else %}
  {% set meter10TimesDisplayResultErrorClass = "" %}
{% endif %}

{% block content %}
  {# Error summary #}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text.meterMakeResult,
          href: "#meter-make-error"
        },
        {
          text: error.text.meterSerialNumberResult,
          href: "#meter-serial-number-error"
        },
        {
          text: error.text.meter10TimesDisplayResult,
          href: "#meter-10-times-display-error"
        }
      ]
    }) }}
  {%endif%}

  {# Main heading #}
  <div>
    <span class="govuk-caption-l"> Return reference {{ returnReference }} </span>
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  </div>
  <div>
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {{ govukInput({
        label: {
          text: "Make"
        },
        classes: "govuk-input--width-10",
        id: "meter-make",
        name: "meterMake",
        value: meterMake,
        errorMessage: meterMakeResultErrorMessage
      }) }}

      {{ govukInput({
        label: {
          text: "Serial number"
        },
        classes: "govuk-input--width-10",
        id: "meter-serial-number",
        name: "meterSerialNumber",
        value: meterSerialNumber,
        errorMessage: meterSerialNumberResultErrorMessage
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "meter10TimesDisplay",
        errorMessage: meter10TimesDisplayResultErrorMessage,
        fieldset: {
          legend: {
            text: "Does this meter have a ×10 display",
            classes: "govuk-body"
          }
        },
        hint: {
          text: "This will not recalculate any of the volumes provided"
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: "yes" === meter10TimesDisplay
          },
          {
            value: "no",
            text: "No",
            checked: "no" === meter10TimesDisplay
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
