{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageHeadingHtml }}

      <div class="govuk-hint">
        <p>Enter {{lineCount}} {{frequency}} {{measurementType}} starting with {{ startDate }} and ending with {{ endDate }}.</p>
        <p>Copy and paste the values into the empty box.</p>
        <p>
          <a href="/system/return-logs/setup/guidance" class="govuk-link" rel="noreferrer noopener" target="_blank">Help to enter multiple values (opens in a new tab)</a>
        </p>
      </div>

      <form method="post">
        <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

        {{ govukTextarea({
          name: "multipleEntries",
          id: "multipleEntries",
          value: multipleEntries,
          rows: "5",
          errorMessage: {
            text: error.multipleEntries.text
          } if error.multipleEntries
        }) }}

        {{ govukButton({ text: "Confirm", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
