{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}


{% from "macros/return-reference-page-heading.njk" import pageHeading %}
{% block breadcrumbs %}
  {{ govukBackLink({ text: 'Back', href: backLink }) }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.text,
          href: '#multiple-entries'
        }
      ]
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ pageHeading(returnReference, pageTitle) }}
      <div class="govuk-hint">
        <p>Enter {{lineCount}} {{frequency}} {{measurementType}} starting with {{ startDate }} and ending with {{ endDate }}.</p>
        <p>Copy and paste the values into the empty box.</p>
        <p>
          <a href="/system/return-logs/setup/guidance" class="govuk-link" rel="noreferrer noopener" target="_blank">Help to enter multiple values (opens in a new tab)</a>
        </p>
      </div>

      <form method="post">
        <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

        {{ govukTextarea({
          name: "multipleEntries",
          id: "multiple-entries",
          value: multipleEntries,
          rows: "5",
          errorMessage: {
            text: error.text
          } if error
        }) }}

        {{ govukButton({ text: "Confirm", preventDoubleClick: true }) }}
      </form>
    </div>
  </div>
{% endblock %}
