{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukCharacterCount({
      name: "note",
      id: "note",
      maxlength: 500,
      value: note,
      label: {
        html: pageHeadingHtml
      },
      hint: {
        text: "Provide a short explanation about the editing of this return."
      },
      errorMessage: error.note
    }) }}

    {{ govukButton({ text: "Confirm", preventDoubleClick: true }) }}
  </form>
{% endblock %}
