{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% from "macros/return-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{ govukBackLink({ text: 'Back', href: backLink }) }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.text,
          href: '#note'
        }
      ]
    }) }}
  {% endif %}

  {% set pageHeading %}
    {{ pageHeading(returnReference, pageTitle) }}
  {% endset %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukCharacterCount({
      name: "note",
      id: "note",
      maxlength: 500,
      value: note,
      label: {
        html: pageHeading,
        isPageHeading: true
      },
      hint: {
        text: "Provide a short explanation about the editing of this return."
      },
      errorMessage: {
        text: error.text
      } if error
    }) }}

    {{ govukButton({ text: "Confirm", preventDoubleClick: true }) }}
  </form>
{% endblock %}
