{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from 'govuk/components/date-input/macro.njk' import govukDateInput %}


{% from "macros/return-reference-page-heading.njk" import pageHeading %}
{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: error.errorList
    }) }}
  {%endif%}

  {% set pageHeading %}
    {{ pageHeading(returnReference, pageTitle) }}
  {% endset %}

  <div>
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {% set dateInputHTML %}
        {{ govukDateInput({
          id: 'period-used-from',
          namePrefix: 'period-used-from',
          errorMessage: {
            text: error.fromFullDate.message
          } if error.fromFullDate,
          fieldset: {
            legend: {
              text: "From",
              classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
            }
          },
          items: [
            {
              classes: 'govuk-input--width-2' + (' govuk-input--error' if error),
              name: 'day',
              value: periodUsedFromDay
            },
            {
              classes: 'govuk-input--width-2' + (' govuk-input--error' if error),
              name: 'month',
              value: receivedDateMonth
            },
            {
              classes: 'govuk-input--width-4' + (' govuk-input--error' if error),
              name: 'year',
              value: periodUsedFromYear
            }
          ]
        }) }}

        {{ govukDateInput({
          id: 'period-used-To',
          namePrefix: 'period-used-to',
          errorMessage: {
            text: error.toFullDate.message
          } if error.toFullDate,
          fieldset: {
            legend: {
              text: "To",
              classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
            }
          },
          items: [
            {
              classes: 'govuk-input--width-2' + (' govuk-input--error' if error),
              name: 'day',
              value: periodUsedToDay
            },
            {
              classes: 'govuk-input--width-2' + (' govuk-input--error' if error),
              name: 'month',
              value: periodUsedToMonth
            },
            {
              classes: 'govuk-input--width-4' + (' govuk-input--error' if error),
              name: 'year',
              value: periodUsedToYear
            }
          ]
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "periodDateUsedOptions",
        errorMessage: {
          text: error.periodDateUsedOptions.message
          } if error.periodDateUsedOptions,
        fieldset: {
          legend: {
            html: pageHeading
          }
        },
        items: [
          {
            value: "default",
            text: "Default abstraction period",
            hint: { text: abstractionPeriod },
            checked: periodDateUsedOptions === 'default'
          },
          {
            value: "custom-dates",
            text: "Custom dates",
            checked: periodDateUsedOptions === 'custom-dates',
            conditional: {
              html: dateInputHTML
            }
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
