{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from 'govuk/components/date-input/macro.njk' import govukDateInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% set dateInputHTML %}
      {{ govukDateInput({
        id: 'fromFullDate',
        errorMessage: error.fromFullDate,
        fieldset: {
          legend: {
            text: "From",
            classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
          }
        },
        items: [
          {
            id: 'periodUsedFromDay',
            classes: 'govuk-input--width-2',
            label: 'Day',
            value: periodUsedFromDay
          },
          {
            id: 'periodUsedFromMonth',
            classes: 'govuk-input--width-2',
            label: 'Month',
            value: periodUsedFromMonth
          },
          {
            id: 'periodUsedFromYear',
            classes: 'govuk-input--width-4',
            label: 'Year',
            value: periodUsedFromYear
          }
        ]
      }) }}

      {{ govukDateInput({
        id: 'toFullDate',
        errorMessage: error.toFullDate,
        fieldset: {
          legend: {
            text: "To",
            classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
          }
        },
        items: [
          {
            id: 'periodUsedToDay',
            classes: 'govuk-input--width-2',
            label: 'Day',
            value: periodUsedToDay
          },
          {
            id: 'periodUsedToMonth',
            classes: 'govuk-input--width-2',
            label: 'Month',
            value: periodUsedToMonth
          },
          {
            id: 'periodUsedToYear',
            classes: 'govuk-input--width-4',
            label: 'Year',
            value: periodUsedToYear
          }
        ]
      }) }}
    {% endset %}

    {{ govukRadios({
      id: "periodDateUsedOptions",
      name: "periodDateUsedOptions",
      errorMessage: error.periodDateUsedOptions,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          id: "default",
          value: "default",
          text: "Default abstraction period",
          hint: { text: abstractionPeriod },
          checked: periodDateUsedOptions === 'default'
        } if showDefaultAbstractionPeriod,
        {
          id: "customDates",
          value: "customDates",
          text: "Custom dates",
          checked: periodDateUsedOptions === 'customDates',
          conditional: {
            html: dateInputHTML
          }
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
