{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from 'govuk/components/date-input/macro.njk' import govukDateInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% set dateInputHTML %}
      {{ govukDateInput({
        id: 'fromFullDate',
        namePrefix: 'period-used-from',
        errorMessage: {
          text: error.fromFullDate.text
        } if error.fromFullDate,
        fieldset: {
          legend: {
            text: "From",
            classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
          }
        },
        items: [
          {
            classes: 'govuk-input--width-2' + (' govuk-input--error' if error.fromFullDate),
            name: 'day',
            value: periodUsedFromDay
          },
          {
            classes: 'govuk-input--width-2' + (' govuk-input--error' if error.fromFullDate),
            name: 'month',
            value: receivedDateMonth
          },
          {
            classes: 'govuk-input--width-4' + (' govuk-input--error' if error.fromFullDate),
            name: 'year',
            value: periodUsedFromYear
          }
        ]
      }) }}

      {{ govukDateInput({
        id: 'toFullDate',
        namePrefix: 'period-used-to',
        errorMessage: {
          text: error.toFullDate.text
        } if error.toFullDate,
        fieldset: {
          legend: {
            text: "To",
            classes: "govuk-fieldset__legend--xs govuk-!-font-weight-bold"
          }
        },
        items: [
          {
            classes: 'govuk-input--width-2' + (' govuk-input--error' if error.toFullDate),
            name: 'day',
            value: periodUsedToDay
          },
          {
            classes: 'govuk-input--width-2' + (' govuk-input--error' if error.toFullDate),
            name: 'month',
            value: periodUsedToMonth
          },
          {
            classes: 'govuk-input--width-4' + (' govuk-input--error' if error.toFullDate),
            name: 'year',
            value: periodUsedToYear
          }
        ]
      }) }}
    {% endset %}

    {{ govukRadios({
      name: "periodDateUsedOptions",
      errorMessage: {
        text: error.periodDateUsedOptions.text
      } if error.periodDateUsedOptions,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
            value: "default",
            text: "Default abstraction period",
            hint: { text: abstractionPeriod },
            checked: periodDateUsedOptions === 'default'
        } if showDefaultAbstractionPeriod,
        {
          value: "custom-dates",
          text: "Custom dates",
          checked: periodDateUsedOptions === 'custom-dates',
          conditional: {
            html: dateInputHTML
          }
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
