{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {# Error summary #}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.text,
          href: '#reading-0'
        }
      ]
    }) }}
  {% endif %}

  {# Main heading #}
  <div>
    <span class="govuk-caption-l">Return reference {{ returnReference }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageTitle }}</h1>
  </div>

  {# Display the lines to input the meter readings #}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% call govukFieldset({
      legend: {
        html: 'Meter readings',
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
      }) %}

      {% for line in inputLines %}
        {# Set an easier to use index #}
        {% set rowIndex = loop.index0 %}

        {# Create the input fields #}
        {{ govukInput({
          label: {
            text: line.formattedEndDate
          },
          classes: "govuk-input--width-10",
          id: 'reading-' + rowIndex,
          name: 'reading-' + rowIndex,
          value: line.reading,
          inputmode: 'numeric'
        }) }}
      {% endfor %}
    {% endcall %}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>

{% endblock %}
