{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from 'govuk/components/date-input/macro.njk' import govukDateInput %}

{% from "macros/return-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.message,
          href: "#receivedDate-error"
        }
      ]
    }) }}
  {%endif%}

  {{ pageHeading(returnReference, pageTitle) }}

  <div>
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {% set dateInputHTML %}
        {{ govukDateInput({
          id: 'date',
          namePrefix: 'received-date',
          errorMessage: error.dateInputFormElement,
          fieldset: {
            legend: {
              text: 'When was the return received?'
            }
          },
          items: [
            {
              classes: 'govuk-input--width-2' + (' govuk-input--error' if error),
              name: 'day',
              value: receivedDateDay
            },
            {
              classes: 'govuk-input--width-2' + (' govuk-input--error' if error),
              name: 'month',
              value: receivedDateMonth
            },
            {
              classes: 'govuk-input--width-4' + (' govuk-input--error' if error),
              name: 'year',
              value: receivedDateYear
            }
          ]
        }) }}
      {% endset %}

      {{ govukRadios({
        name: "received-date-options",
        errorMessage: error.radioFormElement,
        fieldset: {
          legend: {
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "today",
            text: "Today",
            checked: receivedDateOption === 'today',
            hint: {
              text: todaysDate
            }
          },
          {
            value: "yesterday",
            text: "Yesterday",
            checked: receivedDateOption === 'yesterday',
            hint: {
              text: yesterdaysDate
            }
          },
          {
            value: "custom-date",
            text: "Custom date",
            checked: receivedDateOption === 'custom-date',
            conditional: {
              html: dateInputHTML
            }
          }
        ]
      }) }}

      {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
