{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      id: "reported",
      name: "reported",
      errorMessage: error.reported,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          id: "meterReadings",
          name: "meterReadings",
          value: "meterReadings",
          text: "Meter Readings",
          checked: "meterReadings" === reported
        },
        {
          id: "abstractionVolumes",
          name: "abstractionVolumes",
          value: "abstractionVolumes",
          text: "Abstraction Volumes",
          checked: "abstractionVolumes" === reported
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
