{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      name: "reported",
      errorMessage: error,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          value: "meter-readings",
          text: "Meter Readings",
          checked: "meter-readings" === reported
        },
        {
          value: "abstraction-volumes",
          text: "Abstraction Volumes",
          checked: "abstraction-volumes" === reported
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
