{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% set quantityInputHTML %}
      {{ govukInput({
        label: {
          text: "Enter the total amount"
        },
        id: "singleVolumeQuantity",
        name: "singleVolumeQuantity",
        classes: "govuk-input--width-10",
        value: singleVolumeQuantity,
        suffix: {
          text: units
        },
        errorMessage: {
          text: error.singleVolumeQuantity.text
        } if error.singleVolumeQuantity
      }) }}
    {% endset %}

    {{ govukRadios({
      id: "singleVolume",
      name: "singleVolume",
      errorMessage: {
        text: error.singleVolume.text
      } if error.singleVolume,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: singleVolume === 'yes',
          conditional: {
            html: quantityInputHTML
          }
        },
        {
          value: "no",
          text: "No",
          checked: singleVolume === 'no'
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
