{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "macros/page-heading.njk" import pageHeading %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukInput({
      classes: "govuk-input--width-10",
      id: "start-reading",
      name: "startReading",
      value: startReading,
      errorMessage: {
          text: error.startReading.text
        } if error.startReading.text
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
