{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% from "macros/return-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{ govukBackLink({ text: 'Back', href: backLink }) }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: '#journey'
        }
      ]
    }) }}
  {% endif %}

  {% set pageHeading %}
    {{ pageHeading(returnReference, pageTitle) }}
  {% endset %}

  <form  method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
    {{ govukRadios({
      name: "journey",
      errorMessage: error,
      fieldset: {
        legend: {
          html: pageHeading
        }
      },
      items: [
        {
          value: "enter-return",
          text: "Enter and submit",
          checked: journey === "enter-return"
        },
        {
          value: "nil-return",
          text: "Enter a nil return",
          checked: journey === "nil-return"
        },
        {
          value: "record-receipt",
          text: "Record receipt",
          checked: journey === "record-receipt"
        } if beenReceived === false
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
