{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form  method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
    {{ govukRadios({
      id: "journey",
      name: "journey",
      errorMessage: error.journey,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          id: "enterReturn",
          name: "enterReturn",
          value: "enterReturn",
          text: "Enter and submit",
          checked: journey === "enterReturn"
        },
        {
          id: "nilReturn",
          name: "nilReturn",
          value: "nilReturn",
          text: "Enter a nil return",
          checked: journey === "nilReturn"
        },
        {
          id: "recordReceipt",
          name: "recordReceipt",
          value: "recordReceipt",
          text: "Record receipt",
          checked: journey === "recordReceipt"
        } if beenReceived === false
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
