{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form  method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>
    {{ govukRadios({
      name: "journey",
      errorMessage: error,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          value: "enter-return",
          text: "Enter and submit",
          checked: journey === "enter-return"
        },
        {
          value: "nil-return",
          text: "Enter a nil return",
          checked: journey === "nil-return"
        },
        {
          value: "record-receipt",
          text: "Record receipt",
          checked: journey === "record-receipt"
        } if beenReceived === false
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
