{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageContent %}
  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      id: "units",
      name: "units",
      errorMessage: error.units,
      fieldset: {
        legend: {
          html: pageHeadingHtml
        }
      },
      items: [
        {
          id: "cubicMetres",
          value: "cubicMetres",
          text: "Cubic Metres",
          checked: "cubicMetres" === units
        },
        {
          id: "litres",
          value: "litres",
          text: "Litres",
          checked: "litres" === units
        },
        {
          id: "megalitres",
          value: "megalitres",
          text: "Megalitres",
          checked: "megalitres" === units
        },
        {
          id: "gallons",
          value: "gallons",
          text: "Gallons",
          checked: "gallons" === units
        }
      ]
    }) }}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>
{% endblock %}
