{% extends 'layout.njk' %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% from "macros/return-reference-page-heading.njk" import pageHeading %}

{% block breadcrumbs %}
  {{ govukBackLink({ text: 'Back', href: backLink }) }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: error
    }) }}
  {% endif %}

  {{ pageHeading(returnReference, pageTitle) }}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% call govukFieldset({
      legend: {
        html: 'Volumes',
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    }) %}

      {% for line in inputLines %}
        {{ govukInput({
          label: {
            text: line.label
          },
          classes: "govuk-input--width-10",
          id: line.endDate,
          name: line.endDate,
          value: line.quantity,
          inputmode: 'numeric',
          suffix: {
            text: units
          },
          errorMessage: {
              text: line.error
          } if line.error
        }) }}
      {% endfor %}
    {% endcall %}

    {{ govukButton({ text: "Continue", preventDoubleClick: true }) }}
  </form>

{% endblock %}
