{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Go back to monitoring station',
      href: backLink
    })
  }}
{% endblock %}

{% block content %}
  {# Main heading #}
  <div class="govuk-body">
    <span class="govuk-caption-l">{{ monitoringStationName }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{ pageTitle }}</h1>
  </div>

  {# Last alert sent #}
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Last water abstraction alert sent</h2>
      <p class="govuk-body" data-test="last-alert-sent">{{ lastAlertSent }}</p>
    </div>
  </div>

  {# Tag details #}
  {% for licenceTag in licenceTags %}
    {# Set an easier to use index #}
    {% set rowIndex = loop.index0 %}

    {# Superseded warning #}
    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-full">
        {% if licenceTag.licenceVersionStatus === "superseded" %}
          {{ govukWarningText({
            text: "This tag is linked to a condition that has been superseded.",
            iconFallbackText: "Warning",
            attributes: { 'data-test': 'warning-' + rowIndex }
          }) }}
        {% endif %}

        {# Tag details summary list #}
        {{ govukSummaryList({
          card: {
            title: {
              html: licenceTag.tag + '<div class="govuk-body-s govuk-!-margin-bottom-0">' + licenceTag.created + '</div>'
            }
          },
          attributes: { 'data-test': 'tag-details-' + rowIndex },
          rows: [
            {
              key: { text: "Threshold" },
              value: { html: '<span data-test="threshold-' + rowIndex + '">' + licenceTag.threshold + '</span>' }
            },
            {
              key: { text: "Type" },
              value: { html: '<span data-test="type-' + rowIndex + '">' + licenceTag.type + '</span>' }
            },
            {
              key: { text: "Linked condition" },
              value: { html: '<span data-test="linked-condition-' + rowIndex + '">' + licenceTag.linkedCondition + '</span>' }
            },
            {
              key: { text: "Effect of restriction" },
              value: { html: '<span data-test="effect-of-restriction-' + rowIndex + '">' + licenceTag.effectOfRestriction + '</span>' }
            } if licenceTag.effectOfRestriction
          ]
        }) }}
      </div>
    </div>
  {% endfor %}
{% endblock %}
