{% extends 'layout.njk' %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageContent %}
  {{ pageHeadingHtml}}

  {# Last alert #}
  {% if lastAlertSentForLicence %}
    {% set lastAlertInsetText %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Last water abstraction alert</h2>
      <p class="govuk-body" data-test="last-alert-sent">{{ lastAlertSentForLicence }}</p>
    {% endset %}

    {{ govukInsetText({
      html: lastAlertInsetText
    }) }}
  {% endif %}

  {# Tag details #}
  {% for licenceTag in licenceTags %}
    {# Set an easier to use index #}
    {% set rowIndex = loop.index0 %}

    {# Superseded warning #}
    {% if licenceTag.displaySupersededWarning %}
      {{ govukWarningText({
        text: "This tag is linked to a condition that has been superseded.",
        iconFallbackText: "Warning",
        attributes: { 'data-test': 'warning-' + rowIndex }
      }) }}
    {% endif %}

    {# Tag details summary list #}
    {{ govukSummaryList({
      card: {
        title: {
          html: licenceTag.tag + '<div class="govuk-body-s govuk-!-margin-bottom-0">' + licenceTag.created + '</div>'
        },
        actions: licenceTag.actions
      },
      attributes: { 'data-test': 'tag-details-' + rowIndex },
      rows: [
        {
          key: { text: "Threshold" },
          value: { html: '<span data-test="threshold-' + rowIndex + '">' + licenceTag.threshold + '</span>' }
        },
        {
          key: { text: "Type" },
          value: { html: '<span data-test="type-' + rowIndex + '">' + licenceTag.type + '</span>' }
        },
        {
          key: { text: "Linked condition" },
          value: { html: '<span data-test="linked-condition-' + rowIndex + '">' + licenceTag.linkedCondition + '</span>' }
        },
        {
          key: { text: "Effect of restriction" },
          value: { html: '<span data-test="effect-of-restriction-' + rowIndex + '">' + licenceTag.effectOfRestriction + '</span>' }
        } if licenceTag.effectOfRestriction,
        {
          key: { text: "Last alert sent" },
          value: { html: '<span data-test="last-alert-sent-' + rowIndex + '">' + licenceTag.lastAlertSent + '</span>' }
        } if licenceTag.lastAlertSent
      ]
    }) }}
  {% endfor %}
{% endblock %}
