{% extends 'layout.njk' %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "macros/licence-monitoring-station-restrictions-table.njk" import licenceMonitoringStationRestrictionsTable %}

{% block pageContent %}
  {{ pageHeadingHtml }}

  {{ govukSummaryList({
    classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-7',
    attributes: {
      'data-test': 'meta-data'
    },
    rows: [
      {
        key: { text: "Grid reference", classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-grid-reference">' + gridReference + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: "WISKI ID", classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-wiski-id">' + wiskiId + '</span>', classes: "meta-data__value" }
      },
      {
        key: { text: "Station reference", classes: "meta-data__label" },
        value: { html: '<span data-test="meta-data-station-reference">' + stationReference + '</span>', classes: "meta-data__value" }
      }
    ]
  }) }}

  <div class="govuk-button-group">
    {% if buttons.createAlert %}
      <span>
        {{ govukButton({
          href: buttons.createAlert.href,
          preventDoubleClick: true,
          text: "Create a water abstraction alert"
        }) }}
      </span>
    {% endif %}

    {% if buttons.tagLicence %}
      <form method="post" action="/system/licence-monitoring-station/setup">
        <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

        {{ govukButton({
            classes: "govuk-button--secondary",
            name: 'monitoringStationId',
            preventDoubleClick: true,
            text: 'Tag a licence',
            value: buttons.tagLicence.value
        }) }}
      </form>
    {% endif %}
  </div>

  <div class="divider govuk-!-margin-bottom-7"></div>

  {{ licenceMonitoringStationRestrictionsTable(restrictions, restrictionHeading, 'Licences linked to this monitoring station') }}
{% endblock %}
