{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Back',
      href: '/system/bill-runs/setup/' + sessionId + '/year'
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.text,
          href: '#season-error'
        }
      ]
      }) }}
  {% endif %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {{ govukRadios({
      attributes: {
        'data-test': 'bill-run-season'
      },
      name: 'season',
      errorMessage: error,
      fieldset: {
        legend: {
          text: pageTitle,
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--l govuk-!-margin-bottom-6'
        }
      },
      items: [
        {
          text: 'Summer',
          value: 'summer',
          checked: 'summer' === selectedSeason
        },
        {
          text: 'Winter and All year',
          value: 'winter_all_year',
          checked: 'winter_all_year' === selectedSeason
        }
      ]
    }) }}

    {{ govukButton({ text: 'Continue', preventDoubleClick: true }) }}
  </form>
{% endblock %}
