{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block breadcrumbs %}
  {{
    govukBackLink({
      text: 'Go back to bill runs',
      href: backlink
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: 'There is a problem',
      errorList: [
        {
          text: error.text,
          href: '#type-error'
        }
      ]
      }) }}
  {% endif %}

  <form method="post">
    <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

    {% if enableTwoPartTariffSupplementary %}
      {% set typeItems = [
        {
          text: 'Annual',
          value: 'annual',
          checked: 'annual' === selectedType
        },
        {
          text: 'Supplementary',
          value: 'supplementary',
          checked: 'supplementary' === selectedType
        },
        {
          text: 'Two-part tariff',
          value: 'two_part_tariff',
          checked: 'two_part_tariff' === selectedType,
          hint: {
            text: 'Second part charges only'
          }
        },
        {
          text: 'Two-part tariff supplementary',
          value: 'two_part_supplementary',
          checked: 'two_part_supplementary' === selectedType,
          hint: {
            text: 'Second part charges for the current charge scheme only'
          }
        }
      ] %}
    {% else %}
      {% set typeItems = [
        {
          text: 'Annual',
          value: 'annual',
          checked: 'annual' === selectedType
        },
        {
          text: 'Supplementary',
          value: 'supplementary',
          checked: 'supplementary' === selectedType
        },
        {
          text: 'Two-part tariff',
          value: 'two_part_tariff',
          checked: 'two_part_tariff' === selectedType
        }
      ] %}
    {% endif %}

    {{ govukRadios({
      attributes: {
        'data-test': 'bill-run-type'
      },
      name: 'type',
      errorMessage: error,
      fieldset: {
        legend: {
          text: pageTitle,
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--l govuk-!-margin-bottom-6'
        }
      },
      items: typeItems
    }) }}

    {{ govukButton({ text: 'Continue', preventDoubleClick: true }) }}
  </form>
{% endblock %}
