{% extends 'layout.njk' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block breadcrumbs %}
  {# Back link #}
  {{
    govukBackLink({
      text: 'Back',
      href: '/system/bill-runs/setup/' + sessionId + '/region'
    })
  }}
{% endblock %}

{% block content %}
  {% if error %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: error.text,
          href: '#year-error'
        }
      ]
      }) }}
  {% endif %}

  <div class="govuk-body">
    <form method="post">
      <input type="hidden" name="wrlsCrumb" value="{{wrlsCrumb}}"/>

      {{ govukRadios({
        attributes: {
          'data-test': 'bill-run-year'
        },
        name: 'year',
        errorMessage: error,
        fieldset: {
          legend: {
            text: pageTitle,
            isPageHeading: true,
            classes: 'govuk-fieldset__legend--l govuk-!-margin-bottom-6'
          }
        },
        items: [
          {
            text: '2023 to 2024',
            value: '2024',
            checked: '2024' == selectedYear
          },
          {
            text: '2022 to 2023',
            value: '2023',
            checked: '2023' == selectedYear
          },
          {
            text: '2021 to 2022',
            value: '2022',
            checked: '2022' == selectedYear
          },
          {
            text: '2020 to 2021',
            value: '2021',
            checked: '2021' == selectedYear
          }
        ]
      }) }}

      {{ govukButton({ text: 'Continue', preventDoubleClick: true }) }}
    </form>
  </div>
{% endblock %}
