{% extends 'layout.njk' %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}
  <div class="govuk-body">
    <h1 class="govuk-heading-l">Info</h1>

    <h2 class="govuk-heading-m">Virus scanner</h2>
    <p class="govuk-body">{{ virusScannerData }}</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Redis</h2>
    <p class="govuk-body">{{ redisConnectivityData }}</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Address facade</h2>
    <p class="govuk-body">{{ addressFacadeData }}</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Charging module</h2>
    <p class="govuk-body">{{ chargingModuleData }}</p>

    {% for app in appData %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">{{ app.name }}</h2>
      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Version"
            },
            value: {
              text: app.version
            }
          },
          {
            key: {
              text: "Commit hash"
            },
            value: {
              text: app.commit
            }
          }
        ]
      }) }}
    {% endfor %}
  </div>
{% endblock %}
