{% extends 'layout.njk' %}

{% set mainClasses = 'sub-navigation-layout-main' %}

{% block beforeContent %}
{{ super() }}

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-one-quarter">
    <nav class="x-govuk-sub-navigation" aria-labelledby="sub-navigation-heading">
      <h2 class="govuk-visually-hidden" id="sub-navigation-heading">Pages in this section</h2>
      <ul class="x-govuk-sub-navigation__section">
        <li
          class="x-govuk-sub-navigation__section-item {% if activeSecondaryNav === 'details' %}x-govuk-sub-navigation__section-item--current{% endif %}">
            <a class="x-govuk-sub-navigation__link" href="details{{ backQueryString }}"
              {% if activeSecondaryNav === 'details' %}aria-current="page"{% endif %}>
            User details
          </a>
        </li>

        <li
          class="x-govuk-sub-navigation__section-item {% if activeSecondaryNav === 'licences' %}x-govuk-sub-navigation__section-item--current{% endif %}">
            <a class="x-govuk-sub-navigation__link" href="licences{{ backQueryString }}"
              {% if activeSecondaryNav === 'licences' %}aria-current="page"{% endif %}>
            Licences
          </a>
        </li>

        <li
          class="x-govuk-sub-navigation__section-item {% if activeSecondaryNav === 'verifications' %}x-govuk-sub-navigation__section-item--current{% endif %}">
            <a class="x-govuk-sub-navigation__link" href="verifications{{ backQueryString }}"
              {% if activeSecondaryNav === 'verifications' %}aria-current="page"{% endif %}>
            Verifications
          </a>
        </li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-column-three-quarters">
    {{ super() }}

    {% block subPageContent %}
    {% endblock %}
  </div>
</div>
{% endblock %}
