{% extends 'layout.njk' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-body">
    <h1 class="govuk-heading-l">Service status</h1>

    <h2 class="govuk-heading-m">Virus scanner</h2>
    <p class="govuk-body">{{ virusScannerData }}</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Redis</h2>
    <p class="govuk-body">{{ redisConnectivityData }}</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-m">Address facade</h2>
    <p class="govuk-body">{{ addressFacadeData }}</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {{ govukTable({
      caption: "Imports",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Import task name"
        },
        {
          text: "Success rate (last 3 days)"
        },
        {
          text: "Active"
        },
        {
          text: "Last updated"
        },
        {
          text: "Last checked"
        }
      ],
      rows: importRows
    }) }}

    {{ govukTable({
      caption: "Service versions",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: serviceVersionsRows
    }) }}
  </div>
{% endblock %}
