{% extends 'layout.njk' %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  <div class="govuk-body">
    <h1 class="govuk-heading-l">Service Status</h1>

    {{ govukTable({
      caption: "Imports",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Import task name"
        },
        {
          text: "Success rate (last 3 days)"
        },
        {
          text: "Active"
        },
        {
          text: "Last updated"
        },
        {
          text: "Last checked"
        }
      ],
      rows: importRows
    }) }}

    {{ govukTable({
      caption: "Virus scanner",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: virusScannerRows
    }) }}

    {{ govukTable({
      caption: "Cache connectivity",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: cacheConnectivityRows
    }) }}

    {{ govukTable({
      caption: "Service versions",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      rows: serviceVersionsRows
    }) }}
  </div>
{% endblock %}