{% extends 'layout.njk' %}

{% from "macros/licence-version-change-type-tag.njk" import changeTypeTag as licenceVersionChangeTypeTag %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageContent %}

  {{ licenceVersionChangeTypeTag(changeType, false) }}

  <hr class="govuk-section-break govuk-!-margin-bottom-5 govuk-section-break">

  {% if reason %}
    <p class="govuk-body-l"> {{ reason }} </p>
  {% endif %}

  {% if notes %}
    <p><strong>Notes:</strong> {{ notes }} </p>
  {% endif %}

  {% if errorInDataEmail %}
    <p class="govuk-body">If you find errors in this data, email:
      <a class="gov-link" href="mailto:{{ errorInDataEmail }}">{{ errorInDataEmail }}</a>
    </p>
  {% endif %}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-4">

  <ul class="govuk-list govuk-!-margin-bottom-6">
    <li>
      <a class="govuk-link" href="#licence-details">Licence details</a>
    </li>
  </ul>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="licence-details">
      <h2 class="govuk-heading-m govuk-!-margin-top-3">
        Licence details
      </h2>
      {{ govukSummaryList({
        card: {
          title: {
            text: "Lead tenant"
          }
        },
        rows: [
          {
            key: {
            text: "Licence version start date"
            },
            value: {
            text: licenceDetails.startDate
            }
          },
          {
            key: {
            text: "Licence version end date"
          },
            value: {
            text: licenceDetails.endDate
          }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
