{% extends 'layout.njk' %}

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% from "macros/licence-version-change-type-tag.njk" import changeTypeTag as licenceVersionChangeTypeTag %}
{% from "macros/points-summary-card.njk" import pointsSummaryCards %}
{% from "macros/purposes-summary-card.njk" import purposesSummaryCards %}

{% block pageContent %}

  {{ licenceVersionChangeTypeTag(changeType, false) }}

  <hr class="govuk-section-break govuk-!-margin-bottom-5 govuk-section-break">

  {% if reason %}
    <p class="govuk-body-l"> {{ reason }} </p>
  {% endif %}

  {% if notes %}
    <p><strong>Notes:</strong> {{ notes }} </p>
  {% endif %}

  {% if errorInDataEmail %}
    <p class="govuk-body">If you find errors in this data, email:
      <a class="gov-link" href="mailto:{{ errorInDataEmail }}">{{ errorInDataEmail }}</a>
    </p>
  {% endif %}

  {% if pagination %}
    {{ govukPagination(pagination) }}
  {% endif %}

  <ul class="govuk-list govuk-!-margin-bottom-6">
    <li>
      <a class="govuk-link" href="#points">Points</a>
    </li>
    <li>
      <a class="govuk-link" href="#purposes-periods-and-amounts">Purposes, periods and amounts</a>
    </li>
  </ul>

  <section id="points">
    <h2 class="govuk-heading-m govuk-!-margin-top-3">
      Points
    </h2>

    {{ pointsSummaryCards(points) }}
  </section>

  <section id="purposes-periods-and-amounts">
    <h2 class="govuk-heading-m govuk-!-margin-top-3">
      Purposes, periods and amounts
    </h2>

    {{ purposesSummaryCards(purposes) }}
  </section>

{% endblock %}
